<!DOCTYPE html>
<html lang="en">
    <head>

        <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 

        <title>Filo Gems</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Cat&alogo de Piedras semi preciosas y cristales">
        <meta name="keywords" content="FiloGems. Swarovski. Elementos. Elements. Beads. Pendants. Colgantes. Dijes. Piedras. Cristales. Cristal. B iconos. Aurora boreal. Libertad. Cubic. Gemas. Genuino. Perlas. Hot fix. Aros. Anillos. Cadenas. Fornitura. Joyería. Zafiro. Safiros. Rubí. Topacio. Topaz. Amatista. Granate. Calle libertad">
        <meta name="author" content="Angel Javier Larrosa - Nicol&aacute;as Corval&aacute;n">

        <!-- Bootstrap Styles -->
        <link href="{{ asset('bundles/WebFilo/css/bootstrap.css') }}" rel="stylesheet">

        <!-- Styles -->
        <link href="{{ asset('bundles/WebFilo/css/style.css') }}" rel="stylesheet">

        <!-- Carousel Slider -->
        <link href="{{ asset('bundles/WebFilo/css/owl-carousel.css') }}" rel="stylesheet">

        <!-- CSS Animations -->
        <link href="{{ asset('bundles/WebFilo/css/animate.min.css') }}" rel="stylesheet">

        <!-- Lightbox Animations -->
        <link href="{{ asset('bundles/WebFilo/css/prettyPhoto.css') }}" rel="stylesheet">

        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:400,300,400italic,300italic,700,700italic,900' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Exo:400,300,600,500,400italic,700italic,800,900' rel='stylesheet' type='text/css'>

        <!-- SLIDER ROYAL CSS SETTINGS -->
        <link href="{{ asset('bundles/WebFilo/royalslider/royalslider.css') }} " rel="stylesheet">
        <link href="{{ asset('bundles/WebFilo/royalslider/skins/default-inverted/rs-default-inverted.css') }}" rel="stylesheet">

        <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->        
        <link href="{{ asset('bundles/WebFilo/rs-plugin/css/settings.css') }}" rel="stylesheet">        
        <!-- COLORS PARA CAMBIAR EL COLOR AL TEMPLATE -->
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/WebFilo/colors/css/blue.css') }}" />

        <!-- Main Scripts-->
        <script src="{{ asset('bundles/WebFilo/js/jquery.js') }}"></script>
        <script src="{{ asset('bundles/WebFilo/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/WebFilo/js/menu.js') }}"></script>
        <script src="{{ asset('bundles/WebFilo/js/owl.carousel.min.js') }}"></script>
        <script src="{{ asset('bundles/WebFilo/js/jquery.parallax-1.1.3.js') }}"></script>
        <script src="{{ asset('bundles/WebFilo/js/jquery.simple-text-rotator.js') }}"></script>
        <script src="{{ asset('bundles/WebFilo/js/wow.min.js') }}"></script>
        <script src="{{ asset('bundles/WebFilo/js/custom.js') }}"></script>
        <script src="{{ asset('bundles/WebFilo/js/jquery.isotope.min.js') }}"></script>
        <script src="{{ asset('bundles/WebFilo/js/custom-portfolio.js') }}"></script>
        <script src="{{ asset('bundles/WebFilo/js/jquery.prettyPhoto.js') }}"></script>   

        <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->        
        <script src="{{ asset('bundles/WebFilo/rs-plugin/js/jquery.themepunch.plugins.min.js') }}"></script>
        <script src="{{ asset('bundles/WebFilo/rs-plugin/js/jquery.themepunch.revolution.min.js') }}"></script>

        <!-- Royal Slider script files -->
        <script src="{{ asset('bundles/WebFilo/royalslider/jquery.easing-1.3.js') }}"></script>
        <script src="{{ asset('bundles/WebFilo/royalslider/jquery.royalslider.min.js') }}"></script>

        <!-- Inicialización de herramientas del template -->
        <script src="{{ asset('bundles/WebFilo/js/script.js') }}"></script>
        <!-- favicon -->
        <link rel="shortcut icon" type="image/png" href="{{ asset('bundles/WebFilo/images/logopeq.png')}}"/>
        <meta name="google-site-verification" content="4ipmCy3brHJxG9ux78D7L2iYejkprg4-z1hr2euW9Tw" />
    </head>
    <body>
        <div class="animationload">
            <div class="loader">Loading...</div>
        </div>
        <div class="row">
            <header id="header-style-1">
                <div class="container">
                    <nav class="navbar yamm navbar-default">
                        <div class="navbar-header">
                            <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a href="{{path('joyas_joyas_web_index')}}" class="navbar-brand" >Filo Gems</a>
                        </div><!-- end navbar-header -->                        
                        <div id="navbar-collapse-1" class="navbar-collapse collapse navbar-right">
                            <ul class="nav navbar-nav">
                                <li><a href="{{path('joyas_joyas_web_index')}}">Inicio</a></li>
                                <li><a href="{{ path('joyas_joyas_web_catalogo')}}">Cat&aacute;logo</a></li>
                                <li><a href="{{path('joyas_joyas_web_nosotros')}}">Nosotros</a></li>
                                <li><a href="{{ path('joyas_joyas_web_contacto')}}">Cont&aacute;ctanos</a></li>
                            </ul><!-- end navbar-nav -->
                        </div><!-- #navbar-collapse-1 -->			
                    </nav><!-- end navbar yamm navbar-default -->
                </div><!-- end container -->
        </div>
    </header><!-- end header-style-1 -->

    {% block content %} 

    {% endblock %} 

    <footer id="footer-style-1">
        <div class="container">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="widget">
                    <img class="img-responsive" src="{{ asset('bundles/WebFilo/images/logofiloblanco.png')}}" alt="">
                    {#<div class="social-icons">
                        <span><a data-toggle="tooltip" data-placement="bottom" title="Facebook" href="#"><i class="fa fa-facebook"></i></a></span>
                        <span><a data-toggle="tooltip" data-placement="bottom" title="Google Plus" href="#"><i class="fa fa-google-plus"></i></a></span>
                        <span><a data-toggle="tooltip" data-placement="bottom" title="Twitter" href="#"><i class="fa fa-twitter"></i></a></span>
                        <span><a data-toggle="tooltip" data-placement="bottom" title="Youtube" href="#"><i class="fa fa-youtube"></i></a></span>
                        <span><a data-toggle="tooltip" data-placement="bottom" title="Linkedin" href="#"><i class="fa fa-linkedin"></i></a></span>
                        <span><a data-toggle="tooltip" data-placement="bottom" title="Dribbble" href="#"><i class="fa fa-dribbble"></i></a></span>
                    </div><!-- end social icons -->
                    #}
                </div><!-- end widget -->
            </div><!-- end columns -->            
            <div class="col-md-8 col-sm-6 col-xs-12">
                <div class="widget">
                    <div class="title">
                        <h3>Destacados</h3>
                    </div><!-- end title -->
                    <ul class="footer_post">
                        {% for destacado in destacados %}
                            {% set imagen = destacado.imagenesproducto|first%}
                            <li>
                                <a href="{{ path('joyas_joyas_web_single', { 'id': destacado.id,'descripcion':destacado.descripcion|url_encode })}}">
                                    <img class="img-rounded" src="{{ asset('uploads/documents/productos/')~imagen.producto.id~'/'~imagen.path}}" alt="">
                                </a>
                            </li>
                        {% endfor%}
                    </ul><!-- recent posts -->  
                </div><!-- end widget -->
            </div><!-- end columns -->

        </div><!-- end container -->
    </footer><!-- end #footer-style-1 -->    

    <div id="copyrights">
        <div class="container">
            <div class="col-md-8 col-sm-12">
                <div class="copyright-text">
                    <p> Copyright © 2014 - Designed by Jolly Themes - Desarrollado: <a href="http://www.sistemastitanio.com.ar/" target="_blank">Sistemas Titanio</a></p>                   
                </div><!-- end copyright-text -->
            </div><!-- end widget -->
            <div class="col-md-4 col-sm-12 clearfix">
                <div class="footer-menu">
                    <ul class="menu">
                        <li><a href="{{path('joyas_joyas_web_index')}}">Inicio</a></li>
                        <li><a href="{{ path('joyas_joyas_web_catalogo')}}">Cat&aacute;logo</a></li>
                        <li><a href="{{path('joyas_joyas_web_nosotros')}}">Nosotros</a></li>
                        <li><a href="{{ path('joyas_joyas_web_contacto')}}">Cont&aacute;ctanos</a></li>
                    </ul>
                </div>
            </div><!-- end large-7 --> 
        </div><!-- end container -->
    </div><!-- end copyrights -->

    <div class="dmtop">Scroll to Top</div>
</body>
<script>
    $(".dmtop").click(function () {
        $("html, body").animate({scrollTop: 0}, "slow");
        return false;
    });
</script>
</html>