{% extends 'JOYASJoyasBundle:Web:baseweb.html.twig' %}
{% block content -%}
    <section class="slider-wrapper">
        <div class="tp-banner-container">
            <div class="tp-banner" >
                <ul><!-- SLIDE  -->
                    {% for banner in banners%}

                        <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
                            <!-- MAIN IMAGE -->
                            {# <img src="{{ banner.fotoSrc}}"  alt="Banner"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat"> #}
                            <img src="{{ asset('bundles/WebFilo/images/slide.jpg')}}" alt="Filo Gems" class="img-responsive">
                            <!-- LAYERS -->
                            
                            {#  Se comento las capas superiores del slide principal
                            {% if loop.first %}
                                <div class="tp-caption shop_title_slider_2 customin customout start"
                                     data-x="left" data-hoffset="0"
                                     data-y="150"
                                     data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                     data-speed="1000"
                                     data-start="500"
                                     data-easing="Back.easeInOut"
                                     data-endspeed="300">Distribuidor Oficial
                                </div>

                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption customin customout"
                                     data-x="left" data-hoffset="110"
                                     data-y="230"
                                     data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                     data-speed="800"
                                     data-start="1200"
                                     data-easing="Power4.easeOut"
                                     data-endspeed="500"
                                     data-endeasing="Power4.easeIn"
                                     style="z-index: 3"><img src="{{ asset('bundles/WebFilo/images/logoSwarovski.png')}}" alt="">
                                </div>

                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption shop_title_slider_2 customin customout start"
                                     data-x="right" data-hoffset="40"
                                     data-y="111"
                                     data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                     data-speed="800"
                                     data-start="1700"
                                     data-easing="Power4.easeOut"
                                     data-endspeed="500"
                                     data-endeasing="Power4.easeIn"
                                     >Gems
                                </div>
                                #}
                            
                            
                                <!-- LAYERS -->
                                <div class="tp-caption small_title  customin customout start"
                                     data-x="center" data-hoffset="120"
                                     data-y="360"
                                     data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                     data-speed="1600"
                                     data-start="1100"
                                     data-easing="Back.easeInOut"
                                     data-endspeed="300"><a href="https://www.swarovski-gemstones.com" target="_blank" class="btn btn-primary btn-lg">Ver el cat&aacute;logo completo</a>
                                </div>

                                
                                {#  Se comento las capas superiores del slide principal
                                <!-- LAYERS -->
                                <div class="tp-caption customin customout"
                                     data-x="right" data-hoffset="0"
                                     data-y="350"
                                     data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                     data-speed="1000"
                                     data-start="1500"
                                     data-easing="Back.easeInOut"                                    
                                     style="z-index: 3"><img src="{{ asset('bundles/WebFilo/images/reseller.png')}}" alt="">
                                </div>
                            {% endif %}
                            
                            #}
                        </li>


                    {% endfor%}
                </ul>
                <div class="tp-bannertimer"></div>
            </div>
        </div>
    </section><!-- end slider-wrapper -->

    {% block othercontent %} 

    {% endblock %} 

{% endblock %}
