{% extends 'JOYASJoyasBundle:Web:basewebbanners.html.twig' %}
{% block othercontent -%}
    <section class="white-wrapper">  
        <div class="container">
            <div class="messagebox">
                <h2>Bienvenidos a <mark>Filo Gems</mark>  </h2>
                <p class="lead">Hola a todos! Estamos felices de compartir con todos ustedes nuestros productos. Creemos que podemos ofrecer continuamente productos a la altura de las necesidades actuales del mercado.</p>
            </div><!-- end messagebox -->

            <div class="clearfix"></div>

            <div class="row padding-top">
                <div class="hidden-xs col-sm-8">
                    <div class="entry shop-banner" id="elements" >
                        <div class="title"><h1>Elements</h1></div>                       
                        <img src="{{ asset('bundles/WebFilo/images/786x214.png')}}" alt="" class="img-responsive">
                        <div class="banner-hover"></div>
                    </div><!-- end entry -->
                    <div class="entry shop-banner" id="gems">
                        <div class="title"><h1>Gems</h1></div>                         
                        <img src="{{ asset('bundles/WebFilo/images/786x214.png')}}" alt="" class="img-responsive">
                        <div class="banner-hover"></div>
                    </div><!-- end entry -->
                </div><!-- end col-sm-6 -->
                <div class="col-sm-4 shop-banner" id="joyas">
                    <div class="entry">
                        <div class="title"><h1>Joyas</h1></div> 
                        <img src="{{ asset('bundles/WebFilo/images/362x428.png')}}" alt="" class="img-responsive">
                        <div class="banner-hover big"></div>
                    </div><!-- end entry -->
                </div><!-- end col-sm-6 -->
            </div><!-- end row -->

            <div class="clearfix"></div>

            <div class="general-title padding-top">
                <h2>Novedades</h2>
                <hr>
                <p class="lead">Nuestras productos m&aacute;s recientes</p>
            </div><!-- end general title -->

            <div class="shop_wrapper padding-top">
                {% for novedad in novedades %}
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="shop_item">
                            <div class="entry">
                                {% set imagen = novedad.imagenesproducto|first%}
                                <img src="{{ asset('uploads/documents/productos/')~imagen.producto.id~'/'~imagen.path}}" alt="" class="img-responsive">
                                <div class="magnifier">
                                    <div class="buttons">
                                        <a class="st btn btn-default" rel="bookmark" href="{{ path('joyas_joyas_web_single', { 'id': novedad.id,'descripcion':novedad.descripcion|url_encode })}}">Ver producto</a>
                                    </div><!-- end buttons -->
                                </div><!-- end magnifier -->
                            </div><!-- end entry -->
                            <div class="shop_desc">
                                <div class="shop_title pull-left">
                                    <a href="{{ path('joyas_joyas_web_single', { 'id': novedad.id,'descripcion':novedad.descripcion|url_encode })}}"><span>{{imagen.producto.descripcion}}</span></a>
                                    <span class="cats">{{imagen.producto.codigo}}</span>
                                </div>
                                <span class="price pull-right">

                                </span>
                            </div><!-- end shop_desc -->
                        </div><!-- end item -->
                    </div><!-- end col-lg-3 -->
                {% endfor %}
            </div><!-- end shop-wrapper -->

            <div class="clearfix"></div>

            <div class="buttons padding-top text-center">
                <a href="{{ path('joyas_joyas_web_catalogo')}}" class="btn btn-primary btn-lg" title="">Ver nuestro cat&aacute;logo</a>
            </div>
        </div><!-- end container -->

    </section><!-- end white-wrapper -->
    <form method="POST" action="{{path('joyas_joyas_web_catalogo',{'page':page|default(1)})}}" id="formCatalogo">
        <input type="hidden" name="categoria" id="categoria" >        
    </form>
    <script>
        $('#elements').click(function () {
            $('#categoria').val('2');
            $('#formCatalogo').submit();
        });
         $('#gems').click(function () {
            $('#categoria').val('1');
            $('#formCatalogo').submit();
        });
         $('#joyas').click(function () {
            $('#categoria').val('4');
            $('#formCatalogo').submit();
        });
    </script>
{% endblock %}
