<img style="width:120px" src="{{imagen}}" /> 
<pre>
    Se ha recibido un mensaje de {{datos.nombre|default('NO SE RECIBIO NOMBRE')}} desde la web.
    <br>
    <strong>Datos de contacto</strong>
    <br>    
    Teléfonos: {{datos.telefono|default('-')}}
    <br>
    E-mail: {{datos.email|default('-')}}
    <br>
    Web: {{datos.web|default('-')}}
   
    <strong>Mensaje:</strong> 
    <br>
    {{datos.mensaje|default('-')}}
    <br>    
</pre>
