<!DOCTYPE html>
<html lang="en">
    <head>

        <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 

        <title>Filo Gems </title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Cat&alogo de Piedras semi preciosas y cristales">
        <meta name="keywords" content="piedras cristales swarovsky ">
        <meta name="author" content="Angel Javier Larrosa - Nicol&aacute;as Corval&aacute;n">

        <!-- Bootstrap Styles -->
        <link href="{{ asset('bundles/WebFilo/css/bootstrap.css') }}" rel="stylesheet">

        <!-- Styles -->
        <link href="{{ asset('bundles/WebFilo/css/style.css') }}" rel="stylesheet">

        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:400,300,400italic,300italic,700,700italic,900' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Exo:400,300,600,500,400italic,700italic,800,900' rel='stylesheet' type='text/css'>

        <!-- SLIDER ROYAL CSS SETTINGS -->

        <link href="{{ asset('bundles/WebFilo/royalslider/royalslider.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/WebFilo/royalslider/skins/default-inverted/rs-default-inverted.css') }}" rel="stylesheet">
        <link  href="{{ asset('bundles/joyas/img/favicon.ico') }}" rel="icon" type="image/x-icon" />
        <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
        <link type="text/css"  href="{{ asset('bundles/WebFilo/rs-plugin/css/settings.css') }}" rel="stylesheet" media="screen">

    </head>
    <body id="maintenance">
        <br>
        <div class="col-md-6 col-md-offset-3">
            <img class="img-responsive" style="width: 100%" alt="Filo Gems" src="{{ asset('bundles/WebFilo/images/logofiloblanco.png')}}">
        </div>
        <div class="overlay">
            <div class="container">

                <div class="mmode text-center">                   
                    <div class="title row">
                        <h1 style="padding-top: 110px !important">Estamos trabajando en <span>Filo Gems</span></h1>
                        <h3>Pronto ver&aacute;s novedades que te interesar&aacute;n</h3>
                         <h3>
                             <p><strong>Inauguraci&oacute;n 4 de Junio</strong><br>
                                 Libertad 349, 1 piso of 32 y 33<br>
                                Buenos Aires, CP 1012<br>
                                Argentina<br>
                                Tel&eacute;fono 54-11-5219-2468 Celular +54-9-11-6143-4334<br>
                                Chl@filogems.com.ar
                             </p>
                         </h3>
                        
                    </div>
                </div><!-- mmode -->
            </div><!-- container -->
        </div>

        <div class="dmtop">Ir Arriba</div>

        <!-- Main Scripts-->
        <!-- Inicialización de herramientas del template -->
        <script src="{{ asset('bundles/WebFilo/js/jquery.js') }}"></script>
        <script src="{{ asset('bundles/WebFilo/js/bootstrap.min.js') }}"></script>

    </body>
</html>