{% extends 'JOYASJoyasBundle:Web:baseweb.html.twig' %}
{% block content -%}
    <section class="post-wrapper-top jt-shadow clearfix">
        <div class="container">
            <div class="col-lg-12">
                <h2>Nosotros</h2>
                <ul class="breadcrumb pull-right">
                    <li><a href="{{path('joyas_joyas_web_index')}}">Inicio</a></li>
                    <li>Sobre Nosotros</li>
                </ul>
            </div>
        </div>
    </section><!-- end post-wrapper-top -->
    <section id="one-parallax" class="parallax" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
        <div class="overlay">
            <div class="container">
                <div class="general-title">
                    <h2>Tendencias que nos diferencian</h2>
                </div><!-- end general title -->
                <div class="clients padding-top text-center">
                    <div class="client-wrap col-md-4 first">
                        <a  title=""><img src="{{ asset('bundles/WebFilo/images/1.jpg')}}" class="img-responsive" alt=""></a>
                    </div>
                    <div class="client-wrap col-md-4">
                        <a  title=""><img src="{{ asset('bundles/WebFilo/images/2.jpg')}}" class="img-responsive" alt=""></a>
                    </div>
                    <div class="client-wrap col-md-4 last">
                        <a  title=""><img src="{{ asset('bundles/WebFilo/images/3.png')}}" class="img-responsive" alt=""></a>
                    </div>
                    <div class="client-wrap col-md-4 first">
                        <a  title=""><img src="{{ asset('bundles/WebFilo/images/4.jpg')}}"  class="img-responsive" alt=""></a>
                    </div>
                    <div class="client-wrap col-md-4 ">
                        <a  title=""><img src="{{ asset('bundles/WebFilo/images/5.jpg')}}" class="img-responsive" alt=""></a>
                    </div>
                    <div class="client-wrap col-md-4 last">
                        <a  title=""><img src="{{ asset('bundles/WebFilo/images/6.jpg')}}"  class="img-responsive" alt=""></a>
                    </div>
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end overlay -->
    </section><!-- end transparent-bg -->

    <section class="grey-wrapper jt-shadow">
        <div class="container">
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                <div class="widget">
                    <h3><span>4 RAZONES</span> Porqu&eacute; deber&iacute;a elegirnos?</h3>                   
                    <div id="accordion-second" class="clearfix">
                        <div class="accordion" id="accordion2">
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                        <em class="fa fa-plus icon-fixed-width"></em>Trayectoria
                                    </a>
                                </div>
                                <div id="collapseOne" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        30 a&ntilde;os en el rubro hacen de Filogems la mejor opci&oacute;n del mercado.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                        <em class="fa fa-plus icon-fixed-width"></em>Conocimiento
                                    </a>
                                </div>
                                <div id="collapseTwo" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        Brindamos el mejor asesoramiento para ayudarlo en su b&uacute;squeda.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                                        <em class="fa fa-plus icon-fixed-width"></em>Calidad
                                    </a>
                                </div>
                                <div id="collapseThree" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        Garantizamos la calidad de nuestros productos.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                                        <em class="fa fa-plus icon-fixed-width"></em>Autenticidad
                                    </a>
                                </div>
                                <div id="collapseFour" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        Somos distribuidores autorizados Swarovski Gems. La mayor y mejor f&aacute;brica en gemas del mundo.
                                    </div>
                                </div>
                            </div>                             
                        </div><!-- end accordion -->
                    </div><!-- end accordion first -->
                </div><!-- end widget -->
            </div><!-- end col-lg-6 -->
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">                
                <video controls class="col-xs-12">                 
                    <source src="{{ asset('bundles/WebFilo/video/swa.mp4')}}" type="video/mp4">
                    Tu navegador no implementa el elemento <code>video</code>.
                </video>
            </div>
        </div><!-- end container -->
    </section><!-- end grey-wrapper -->

{% endblock %}
