{% extends 'JOYASJoyasBundle:Web:baseweb.html.twig' %}
{% block content -%}
    <section class="post-wrapper-top jt-shadow clearfix">
        <div class="container">
            <div class="col-lg-12">
                <h2>Detalle de Producto</h2>
                <ul class="breadcrumb pull-right">
                    <li><a href="{{path('joyas_joyas_web_index')}}">Inicio</a></li>
                    <li>Detalle de Producto/{{entity.codigo}}</li>
                </ul>
            </div>
        </div>
    </section><!-- end post-wrapper-top -->

    <section class="white-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 single-portfolio">
                    <div class="col-sm-5">
                        <div class="portfolio_item">
                            <div class="entry">
                                {% set primeraImagen = entity.imagenesproducto|first %}                                
                                <img id="showNow" src="{{ asset('uploads/documents/productos/')~primeraImagen.producto.id~'/'~primeraImagen.path}}" alt="" class="img-responsive">
                                <div class="magnifier">
                                    <div class="buttons">
                                        <a id="showNowMagnified" href="{{ asset('uploads/documents/productos/')~primeraImagen.producto.id~'/'~primeraImagen.path}}" class="sf" title="" data-gal="prettyPhoto[product-gallery]"><span class="fa fa-search"></span></a>
                                    </div>
                                </div><!-- end magnifier -->
                            </div><!-- entry -->
                        </div><!-- end portfolio_item -->
                    </div><!-- end col-sm-6 -->
                    <div class="col-sm-7">
                        <div class="title">
                            <h2>{{entity.descripcion}}</h2>
                        </div><!-- end title -->	
                        <p>{{entity.descripcionampliada}}</p>
                        <div class="product_details">
                            <h3>Detalles del Producto</h3>
                            <ul>
                                <li>
                                    <strong>C&oacute;digo:</strong>
                                    {{entity.codigo}}
                                </li>
                                {% if entity.categoriasubcategoria.categoria is defined and entity.categoriasubcategoria.categoria !=''%}
                                    <li>
                                        <strong>Categor&iacute;a:</strong> 
                                        {{entity.categoriasubcategoria.categoria}}
                                    </li>
                                {% endif %}
                                <li>
                                    {% if entity.categoriasubcategoria.subcategoria is defined and entity.categoriasubcategoria.subcategoria !=''%}
                                        <strong>Sub Categor&iacute;a:</strong> 
                                        {{entity.categoriasubcategoria.categoria}}
                                    {% endif %}
                                </li>
                                <li>
                                    {% if entity.categoriasubcategoria.metal is defined and entity.categoriasubcategoria.metal !=''%}
                                        <strong>Metal:</strong> 
                                        <a >{{entity.categoriasubcategoria.metal}}</a>
                                    {% endif %}
                                </li>
                                <li>
                                    <strong>Descripci&oacute;n:</strong> 
                                    <a >{{entity.descripcionAmpliada|default('-')}}</a>
                                </li>
                            </ul>
                        </div><!-- end product_details -->
                    </div><!-- end col-sm-6 -->
                </div><!-- end col-lg-12 -->
            </div><!-- end row -->    
            <div class="row">
                <div class="slider-thumbs">
                    <div class="col-sm-5">
                        <!-- Bottom switcher of slider -->
                        <ul class="hide-bullets">
                            {% set break = 1 %}
                            {% for imagen in entity.imagenesproducto if break == 1 %}
                                {% if loop.index <5 %}
                                    <li class="col-xs-3">
                                        <a class="thumbnail" data-img="{{ asset('uploads/documents/productos/')~imagen.producto.id~'/'~imagen.path}}" >
                                            <img src="{{ asset('uploads/documents/productos/')~imagen.producto.id~'/'~imagen.path}}">
                                        </a>
                                    </li>
                                {% else%}
                                    {% set break = 0 %}
                                {%endif %}
                            {% endfor %}
                        </ul>

                    </div>
                </div>
            </div>
        </div><!-- end container -->
    </section><!-- end white-wrapper -->

    <div class="buttons padding-top text-center">
        <a href="{{ path('joyas_joyas_web_catalogo')}}" class="btn btn-primary btn-lg" title="Ver el cat&aacute;logo">Ver el Cat&aacute;logo</a>
    </div>
    <script>
        (function ($) {
            "use strict";
            jQuery('a[data-gal]').each(function () {
                jQuery(this).attr('rel', jQuery(this).data('gal'));
            });
            jQuery("a[data-gal^='prettyPhoto']").prettyPhoto({animationSpeed: 'slow', slideshow: false, overlay_gallery: false, theme: 'light_square', social_tools: false, deeplinking: false});
        })(jQuery);
        $(document).ready(function(){
           $('.thumbnail').click(function(){
               $('#showNow').attr('src',$(this).data('img'));
               $('#showNowMagnified').attr('href',$(this).data('img'));               
           }); 
        });
    </script>
    <style>
        .hide-bullets {
            list-style:none;
            margin-top:20px;
        }

        .thumbnail {
            padding: 0;
        }
    </style>


{% endblock %}
