
<div class="container">
    <div class="row">
        <div class="error-template">
            <h1>Oops!</h1>
            <h2> {{ status_code }} {{ status_text }}</h2>
            <div class="error-details">
                {{ exception.message }}<br>  
                Ante cualquier duda consulte con el Administrador del Sistema
                <br>  
            </div>
            <div class="error-actions">
               
                    <a id="volver" class="btn btn-primary">
                        <i class="fa fa-backward"></i> Volver </a>
                             
                <!--                <a  class="btn btn-default">
                                    <i class="icon-envelope"></i> Contact Support </a>-->
                <a class="btn btn-info" id="verError">
                    <i class="fa fa-comment"></i> Ver Detalle </a>           
            </div>
                <h4>Desarrollado por <a href="http://www.sistemastitanio.com.ar" target="_blank">Sistemas Titanio</a></h4>           
        </div>
    </div>
</div>
<script>
    $('#volver').click(function(){
         window.history.back();
    });
</script>    