{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
    <h1>Editar Precio '{{ entity.producto }}'</h1>

    <div class="joyas-container" style="width: 60%; margin: 0 auto;">
        <div class="container">
            <div align="center">
                {% if entity.producto.imagenesproducto|length > 0 %}
                    {% for imgp in entity.producto.imagenesproducto %}
                        <img width="200px" src="{{ asset(imgp.WebPath) }}" />
                    {% endfor %}
                {% else %}
                    SIN IM&Aacute;GEN
                {% endif %}
            </div>
            <div class="row-fluid error">
                {{ form_errors(edit_form.producto) }}
            </div>
            {{ form_start(edit_form, {attr: {novalidate: 'novalidate'}}) }}
            <input type="hidden" value="{{entity.listaPrecio.unidadNegocio.id}}" name="unidadnegocio">
            <div>
                <strong>Producto</strong><br>
                {{ entity.producto }}
                {{ form_widget(edit_form.producto) }}
            </div>
            <div>
                <strong>C&oacute;digo</strong><br>
                {{ entity.producto.codigo }}
                {{ form_widget(edit_form.producto) }}
            </div>
            <div>
                <strong>Lista de Precios</strong><br>
                {{ form_widget(edit_form.listaPrecio) }}
            </div>
            <div>
                <strong>Precio</strong><br>
                {{ form_widget(edit_form.valor) }}
            </div>
            <br>
            <br>
            <div>
                {{ form_widget(edit_form.submit) }}
                <a class="btn btn-default" href="javascript:history.back();">Volver</a>
            </div>
            {{ form_end(edit_form) }}
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#joyas_joyasbundle_precio_producto').css({"display": "none"});
            $("input").attr('class', 'form-control');
        });

        // activarActionsTab('precio');
    </script>
{% endblock %}
