{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}
    <h1 style="margin-bottom:10px;">        
        {{title}} 
        {% if perfil == 'ADMINISTRADOR' %}
            <a style="float: right;" class="btn btn-default" href="{{ path('provincia_new') }}">
                Crear 
            </a>
        {% endif %}        
    </h1>   
    <div class="tablasScroll">                      

        <table id="tablas" class="display">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Provincia</th>
                    <th>Activo</th>
                        {% if perfil == 'ADMINISTRADOR' %}
                        <th>Acciones</th>
                        {% endif %}   
                </tr>
            </thead>
            <tbody>        
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.id }}</td>
                        <td>{{ entity.descripcion }} </td>
                        <td>
                            {%if entity.activo %}
                                SI
                            {%else%}
                                NO
                            {%endif%}
                        </td>
                        {% if perfil == 'ADMINISTRADOR' %}
                            <td>
                                <a class="btn btn-success" href="{{ path('provincia_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i></a>                                           
                            </td>
                        {% endif %}   
                    </tr>
                {% endfor %}
            </tbody>
        </table>    
    </div>
{% endblock %}
