{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
    <h1>Edici&oacute;n de Usuario</h1>
    <div class="joyas-container" style="width: 50%; margin: 0 auto;">
        <div class="container">
            {{ form_start(edit_form) }}
            {{ form_errors(edit_form) }}

            {{ form_row(edit_form.login) }}
            {{ form_row(edit_form.clave) }}
            {{ form_row(edit_form.mail) }}            
            {{ form_row(edit_form.unidadNegocio,{'label_attr': {'class': 'unidadnegocio'},'attr': {'class': 'unidadnegocio'}}) }}
            {{ form_row(edit_form.perfil) }}                
            {{ form_widget(edit_form.submit) }}
            <a class="btn btn-default middle-second"  href="{{ path('usuario') }}">
                Volver
            </a>
            {{ form_end(edit_form) }}	
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var perfil = '{{perfil}}';
        if (perfil != 'ADMINISTRADOR') {
            $('.unidadnegocio').css({'display': 'none'});
            $('#joyas_joyasbundle_usuario_unidadNegocio').val().change();
        } else {
            $('#joyas_joyasbundle_usuario_unidadNegocio').change();
        }
    });
    $('#joyas_joyasbundle_usuario_unidadNegocio').change(function () {
        var perfil = '{{perfil}}';
        if ($(this).val() != '' || perfil != 'ADMINISTRADOR') {
            $('#joyas_joyasbundle_usuario_perfil option[value=ADMINISTRADOR]').css({'display': 'none'});
            $('#joyas_joyasbundle_usuario_perfil option[value=OPERADOR]').css({'display': 'block'});
            $('#joyas_joyasbundle_usuario_perfil option[value=ADMIN]').css({'display': 'block'});
            $('#joyas_joyasbundle_usuario_perfil').val('ADMIN').change();
        } else {
            $('#joyas_joyasbundle_usuario_perfil option[value=ADMINISTRADOR]').css({'display': 'block'});
            $('#joyas_joyasbundle_usuario_perfil').val('ADMINISTRADOR').change();
            $('#joyas_joyasbundle_usuario_perfil option[value=OPERADOR]').css({'display': 'none'});
            $('#joyas_joyasbundle_usuario_perfil option[value=ADMIN]').css({'display': 'none'});
        }
    });

</script>
{% endblock %}
