{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
    <h1>Usuario</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ entity.login }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ entity.apellido }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ entity.mail }}</td>
            </tr>
            <tr>
                <th>Clave</th>
                <td>{{ entity.clave }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a class="btn btn-default" href="{{ path('usuario_edit', { 'id': entity.id }) }}">
                Editar
            </a>
            <a class="btn btn-default" href="{{ path('usuario') }}">
                Volver
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>

{% endblock %}
