{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
    <h1>Edici&oacute;n de Localidad</h1>

    <div class="joyas-container" style="width: 50%; margin: 0 auto;">
        <div class="container">
            {{ form(edit_form) }}
            <a class="btn btn-default" href="{{ path('localidad')  }}">Volver</a>
        </div>
    </div>
{% endblock %}
