{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Cotizacion</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Dolar</th>
                <td>{{ entity.dolar }}</td>
            </tr>
            <tr>
                <th>Oro</th>
                <td>{{ entity.oro }}</td>
            </tr>
            <tr>
                <th>Plata</th>
                <td>{{ entity.plata }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ entity.fecha }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ entity.estado }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('cotizacion') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('cotizacion_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
