Hola!
Se ha efectuado un nuevo pedido, el mismo tiene ID:  {{ pedido.id }}.
El mismo fue realizado por '{{usuarioweb.nombre}} ({{usuarioweb.mail}})'.

Ante cualquier duda o consulta, no dude en comunicarse con nosotros.

www.sistemastitanio.com.ar