{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Compras
                {% if perfil == 'ADMIN' %}
                    <a style="float: right;" class="btn btn-default" href="{{ path('documento_new', {'tipo': 'F'}) }}">
                        Registrar compra
                    </a>
                {% endif %}
                {% if perfil == 'ADMINISTRADOR' %}                                      
                    <button data-toggle="modal" data-target="#modal" style="float: right;" class="btn btn-default">
                        Registrar compra
                    </button>
                    <!-- modal -->
                    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Registrar Compra</h4>
                                </div>
                                <div class="modal-body" style="text-align:center;">
                                    <form class="formModal" enctype="multipart/form-data" action="{{ path('documento_new', {'tipo': 'F'}) }}" method="post">
                                        <div style="margin-top: 25px;">
                                            <strong>Seleccione Unidad de Negocio</strong>	
                                            <div style="margin-left: 90px; margin-top: 10px;">
                                                <select id="unidad" name="unidad" style="width: 80%;">
                                                    {% for unidad in unidades%}
                                                        <option value="{{unidad.id}}">{{unidad.descripcion}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        {% if nombre_cliente=='WillyJhons'%}
                                            <strong>Seleccione Tipo de Ingreso</strong>	
                                            <div style="margin-left: 90px; margin-top: 10px;">
                                                <select id="tipoIngreso" name="tipoIngreso" style="width: 80%;">                                                    
                                                    <option value="manual">Manual</option>
                                                    <option value="proceso">Proceso</option>                                                                                                          
                                                </select>
                                            </div> 
                                            <strong>Seleccione Proveedor</strong>	
                                            <div style="margin-left: 90px; margin-top: 10px;">
                                                <select id="proveedor" name="proveedor" style="width: 80%;">                                                    
                                                    {% for proveedor in proveedores %}
                                                        <option value="{{proveedor.id}}">{{proveedor.razonSocial}}</option>
                                                    {% endfor %}                                                                                                         
                                                </select>
                                            </div>                                                     
                                        {% endif %}       
                                        <br>
                                        <button type="submit" class="btn btn-default" style="margin-top:-20px;">REGISTRAR</button>
                                    </form>
                                </div>
                                <div class="modal-footer" style="margin-top: 1%;">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->
                {% endif %}
            </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!--Buscador -->
    <form id="searchForm" action="{{path('documento_compras')}}" method="POST">
        <div class="col-md-12" style="margin-bottom: 2%;">
            <div class="col-md-2" >
                <input class="form-control fecha" type="text" onkeypress="return false;" id="fechaDesde" name="fechaDesde" placeholder="Fecha desde" value="{{app.session.get('bFechaDesde')}}" >
            </div>
            <div class="col-md-2" >
                <input class="form-control fecha" type="text" onkeypress="return false;"id="fechaHasta" name="fechaHasta" placeholder="Fecha hasta" value="{{app.session.get('bFechaHasta')}}" >
            </div>       
            {% if perfil == 'ADMINISTRADOR' %}
                <div class="col-md-3" >                
                    <select name="unidadNegocio" id="unidadNegocio">
                        <option value=''>Seleccione una Unidad </option>
                        {% for unidad in unidades%}
                            <option value="{{unidad.id}}">{{unidad.descripcion}}</option>
                        {% endfor %}
                    </select>                
                </div>  
            {% endif %}

            <div class="col-md-3" >                
                <select class="form-control" name="proveedor" id="proveedor" >
                    <option value=''>Seleccione un Proveedor</option>
                    {% for proveedor in proveedores %}
                        <option value="{{proveedor.id }}">{{ proveedor.razonSocial }}</option>
                    {% endfor %}
                </select>                
            </div>                           
            <div class="col-md-2">
                <button class="btn btn-success" style="font-size: 18px;" type="submit" >
                    <i class="fa fa-search"></i>
                </button>
                <button class="btn btn-default" style="font-size: 18px;" type="reset" >
                    <i class="fa fa-undo"></i>
                </button>
            </div>
        </div>
    </form>


    <table id="tablaCompra" class="display">
        <thead>
            <tr>
                <th>F. Doc.</th>
                <th>F. Regist.</th>
                <th>Doc.</th>
                <th>Prov.</th>
                    {% if perfil == 'ADMINISTRADOR' %}							
                    <th>U. Negocio</th>
                    {% endif %}
                <th>Oro</th>
                <th>Plata</th>
                <th>Importe</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.fecha|date('Y-m-d') }}</td>
                    <td>{{ entity.fechaRegistracion|date('Y-m-d') }}</td>
                    <td><a href="{{ path('documento_show', { 'id': entity.id }) }}">Factura {{ entity.id }}</a></td>
                    <td>{{ entity.movimientocc.clienteproveedor }}</td>
                    {% if perfil == 'ADMINISTRADOR' %}				
                        <td>{{ entity.movimientocc.unidadNegocio }}</td>
                    {% endif %}
                    <td>{{ entity.oroString }}</td>
                    <td>{{ entity.plataString }}</td>
                    <td>{{ entity.importeString }}</td>
                    <td>
                        <a class="btn btn-default" href="{{ path('documento_borrar', { 'id': entity.id }) }}" style="font-size: 14px; line-height: 8px;" data-toggle="tooltip" title="Eliminar"><i class="fa fa-times"></i></a>
                    </td>
                </tr>

            {% endfor %}
        </tbody>
    </table>
    <div class="col-sm-12">
        {{ pagerfanta( entities, "twitter_bootstrap_translated", { 'prev_message' : 'Anterior', 'next_message': 'Siguiente',"routeParams": {'cliente':app.session.get('bCliente'),'unidadNegocio':app.session.get('bUnidadNegocio'),'fechaDesde':app.session.get('bFechaDesde'),'fechaHasta':app.session.get('bFechaHasta')}} ) }}
    </div> 
    <script>

        $('.fecha').datetimepicker({
            format: 'd-m-Y'
        });

        $('.pagination a').attr('class', 'btn btn-default');
        $('.pagination li').css('float', 'left');
        $('.pagination').css('width', '100%');
        $('.pagination .active a').prop('class', 'btn btn-info');

        $('document').ready(function () {
            var unidadNegocio = "{{app.session.get('bUnidadNegocio')}}";
            $('#unidadNegocio').val(unidadNegocio).change();
            var cliente = "{{app.session.get('bCliente')}}";
            $('#cliente').val(cliente).change();

            $('td').css('padding', '2px');
            var perfil = '{{perfil}}';
            if (perfil == 'ADMINISTRADOR') {
                columna = 8;
            } else if (perfil == 'ADMIN') {
                columna = 7;
            } else {
                columna = null;
            }
            table = $('#tablaCompra').DataTable({
                "scrollY": "380px",
                "scrollCollapse": true,
                "paging": false,
                "info": false,
                responsive: true,
                "filter": false,
                "aaSorting": [], //Para evitar el ordenamiento por defecto de DataTables   
                "columnDefs": [{
                        "targets": columna,
                        "orderable": false
                    }],
                "oLanguage": {
                    "sSearch": "Buscar:"
                }
            });
        });

    </script>

{% endblock %}