{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}
    <h1>Factura Proveedor</h1>

    <div class="joyas-container facturas" style="width: 100% !important; margin: 0 auto;">
        <div class="container">
            <form action="{{ path('documento_facturaproveedor') }}" method="POST" id="form" onKeypress="if (event.keyCode == 13)
                        event.returnValue = false;">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <label>Proveedor</label>
                        <div style="margin-bottom: 10px;">		
                            <select class="form-control" id="proveedor" name="proveedor" >
                                {% for cliprov in clientesProveedores %}				
                                    {% if cliprov.clienteProveedor == '2' %}
                                        <option value="{{ cliprov.id }}">{{ cliprov.razonSocial }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Moneda</label>
                        <div style="margin-bottom: 10px;">		
                            <select class="form-control" id="moneda" name="moneda">
                                <option value="1">AR</option>
                                <option value="2">USD</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <label>Fecha</label>
                        <input type="text" onkeypress="return false;" name="fechaDocumento" autocomplete="off" id="fechaDocumento" />
                    </div>
                    <div class="col-md-4">
                        <label>Descuento</label>
                        <input type="number" name="descuento" onblur="$('#desc').html('%' + this.value);
                                calcularResultado();" step="0.01" id="descuento" min="0" max="100" value="0" required/>
                    </div>
                    <div class="col-md-4">
                        <label>Bonificaci&oacute;n</label>
                        <input type="type" name="bonificacion" step="0.01" min="0" onblur="$('#bonif').html(this.value);
                                calcularResultado();" id="bonificacion" value="0" required />
                    </div>
                </div>
                <div style="width: 100% !important; float: left;">
                    <table class="table table-condensed ado">
                        <thead>
                            <tr>
                                <th>Cant.</th>
                                <th>C&oacute;digo</th>
                                <th>Desc.</th>
                                <th>Hechura</th>
                                <th>Oro</th>
                                <th>Plata</th>
                                <th width="23%">Acci&oacute;n</th>
                            </tr>
                        </thead>
                        <tbody id="agregar">
                            <tr>
                                <td style="width: 10%">
                                    <input type="number" step="0.01" min="0"  onblur="calcularResultado();" name="cantidad0" id="cantidad0" class="desb form-control" required />
                                </td>
                                <td style="width: 15%">
                                    <input name="codigo0" onblur="cargarProd(0);" id="codigo0" required class="desb form-control" />
                                </td>
                                <td style="width: 40%">
                                    <input name="descripcion0" class="descripcionProd form-control" id="descripcion0" required />
                                </td>
                                <td style="width: 10%">
                                    <input type="number" step="0.01" min="0" name="precio0" class="desb  precio form-control" id="precio0" required  onblur="calcularResultado();"/>
                                </td>
                                <td style="width: 10%">
                                    <input type="number" step="0.01" min="0" name="oro0" class="desb precio form-control" id="oro0" />
                                </td>
                                <td style="width: 10%">
                                    <input type="number" step="0.01" min="0" name="plata0" class="desb  precio form-control" id="plata0" />
                                </td>
                                <td style="width: 5%">
                                    <a href="#" onclick="borrarDatos();" class="btn btn-warning" title="Eliminar" data-toggle="tooltip"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="botones" id="botones">
                    <a class="btn btn-success" href="#" id="emitir" onclick="comprobarDatos();">
                        Generar Factura
                    </a>
                    <a class="btn btn-default" href="{{ path('consignacion') }}">
                        Volver
                    </a>
                    <a class="btn btn-info" href="javascript:agregar();">
                        Agregar L&iacute;nea
                    </a>
                </div>
                <div class="saldo">	
                    <table style="text-align: right">
                        <tr>
                            <td><strong>Sub Total:</strong></td>
                            <td><span id="subtotal"></span></td>
                        </tr>
                        <tr>
                            <td><strong>Descuento:</strong></td>
                            <td><span id="desc"></span></td>
                        </tr>
                        <tr>
                            <td><strong>Bonificaci&oacute;n:</strong></td>
                            <td>(-) <span id="bonif"></span></td>
                        </tr>
                        <tr>
                            <td><strong>SALDO TOTAL:</strong></td>
                            <td><strong><span id="resultado"></span></strong></td>
                        </tr>
                        <tr> 
                            <td> Metales</td> 
                        </tr>    
                        <tr>
                            <td>  
                                <label>Oro</label>
                                <input type="number" step="0.01" name="oro" placeholder="Oro" value="0" min="0" required/>
                            </td>
                            <td>  
                                <label>Plata</label>
                                <input type="number" step="0.01" name="plata" placeholder="Plata" value="0" min="0" required/>
                            </td>
                        </tr>                        
                    </table>
                </div>
                <input name="unidad" id="unidad" type="hidden" value="{{unidad.id}}"/>
                <input name="importeFinal" id="importeFinal" type="hidden" value=""/>
                <input name="contador" id="contador" type="hidden" value="1"/>
            </form>
        </div>
    </div>

    <script>
        var contador = 1;
        var moneda = '';
        $(document).ready(function () {
            $("input").each(function () {
                var css = $(this).attr('class');
                css = css + ' form-control';
                $(this).attr('class', css);
            });
        $('input').blur(function () {
                var str = $(this).val();
                $(this).val(str.replace(",", "."));
                calcularResultado();
            });
        });
        function borrarDatos() {
            $('#cantidad0').val('');
            $('#descripcion0').val('');
            $('#precio0').val('');
            $('#codigo0').val('');
            calcularResultado();
        }

        function comprobarDatos() {
            $('#botones').css({'display': 'none'});
            if ($('#cliente').val() != '0') {
                $('#form').submit();
            } else {
                alert('Debe elegir Cliente y al menos UN producto para poder emitir la consignaci&oacute;n.');
                $('#botones').css({'display': 'block'});
            }
        }

        function agregar() {
            $("#agregar").append('<tr id="lineaAgregada' + contador + '"><td><input class="desb form-control" name="cantidad' + contador + '" id="cantidad' + contador + '" onblur="calcularResultado();" required /></td><td><input class="desb form-control" onblur="cargarProd(' + contador + ');" name="codigo' + contador + '" id="codigo' + contador + '" required /></td><td><input name="descripcion' + contador + '" class="descripcionProd form-control" id="descripcion' + contador + '" required /></td><td><input name="precio' + contador + '" id="precio' + contador + '" required pattern="^-?[0-9]+(\.[0-9]{1,2})?$" onblur="calcularResultado();" class="desb precio form-control"/></td><td><input name="oro' + contador + '" class="desb precio form-control" id="oro' + contador + '" /></td><td><input name="plata' + contador + '" class="desb precio form-control" id="plata' + contador + '" /></td><td><a href="#" onclick="borrarLinea(' + contador + ')" class="btn btn-default"><i class="fa fa-times"></i></a></td></tr>');
            contador++;
            $('#contador').val(contador);
        }

        function borrarLinea(cont) {
            var id = '#lineaAgregada' + cont;
            $(id).remove();
            calcularResultado();
        }

        function cargarProd(cont) {
            if ($('#codigo' + cont).val() != '') {
                switch ($('#codigo' + cont).val()) {
        {% for producto in productos %}
                        case "{{producto.codigo|trim}}":
                            $('#descripcion' + cont).val('{{producto.descripcion}}');
                            agregar();
                            cc = cont + 1;
                            $('#cantidad' + cc).focus();
                            break;
        {% endfor %}						
                    }
                    if ($('#codigo' + cont).val() == '000') {
                        if ($('#cantidad' + cont).val() == '') {
                            $('#cantidad' + cont).val('1');
                        }
                        $('#descripcion' + cont).val('Producto Generico');
                        agregar();
                        cc = cont + 1;
                        $('#precio' + cont).focus();
                    }
                } else {
                    $('#precio' + cont).val('');
                    $('#descripcion' + cont).val('');
                }
                calcularResultado();
            }

            function calcularResultado() {
                var total = 0;
                var subtotal = 0;
                for (i = 0; i < contador; i++) {
                    if (typeof $('#precio' + i).val() === "undefined") {
                    } else {
                        if ($('#precio' + i).val() != '') {
                            subtotal = subtotal + ($('#precio' + i).val() * $('#cantidad' + i).val());
                        }
                    }
                }

                if (subtotal != 0) {
                    if ($('#descuento').val() != '' && $('#descuento').val() > 0) {
                        var desc = '0.' + (100 - $('#descuento').val());
                        var descInv = '0.' + $('#descuento').val();
                        total = (subtotal * desc) - $('#bonificacion').val();
                        $('#desc').html('%' + $('#descuento').val() + '(' + subtotal * descInv + ')');
                    } else {
                        total = subtotal - $('#bonificacion').val();
                    }
                }

                subtotal = Math.round(subtotal * 100) / 100;
                total = Math.round(total * 100) / 100;

                $('#subtotal').html(subtotal);
                $('#resultado').html(total);
                $('#importeFinal').val(total);
            }
    </script>
{% endblock %}
