{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}

    <h1>Importar Compra</h1>

    <div class="controls filtrocuerpo" style="width: 75%;">
        <form class="formModal" enctype="multipart/form-data" action="{{ path('documento_importarCompra', {'proveedor': proveedor,'unidadNegocio': unidadNegocio}) }}" method="post">
            <div style="margin-top: 25px;">
                <div style="text-align: center; margin-top: 10px;">
                    <strong>Seleccione archivo</strong>	
                    <input id="archivo" type="file" style="margin: 0 auto;" name="archivo">
                    <input id="desde" name="desde" value="1" type="hidden">
                </div>                	
            </div>
            <br>
            <input type="submit" class="btn btn-default" style="margin-top:-20px;" value="Cargar" />
        </form>
    </div>
    <div css="row-fluid">
        <strong>Consideraciones:</strong>	
        <p>
            - El archivo debe ser un archivo excel con extensi&oacute;n .xls<br>
            - Las celdas no pueden tener valores calculados. Ej: C2*C3. Hay que reemplazarlo por el valor.<br>
            - Copiar del archivo original las columnas sin dejar filas en blanco. Al encontrar un fila en blanco el proceso termina. <br>            
            - Si el producto no existe se crea, si existe se le suma el stock y se actualiza el precio de costo
        </p>	
    </div>
{% endblock %}
