<pdf>
    <dynamic-page>
    <table style="text-align: center; height: 400px; width: 350px; margin-bottom: 20px;border: inset;   margin: 0 auto;">
        <tbody>
			{% if entity.tipoDocumento == 'R' %}
				<tr>
					<td style="border: inset;" colspan="2"><strong>DOCUMENTO RECIBO CLIENTE</strong></td>
				</tr>
				<tr>
					<th  style="text-align: center;">Cliente</th>
					<td>{{ entity.movimientocc.clienteProveedor }}</td>
				</tr>
				<tr>
					<th style="text-align: center;">Fecha</th>
					<td>{{ entity.fecha|date('Y-m-d') }}</td>
				</tr>
				<tr>
					<th style="text-align: center;">Importe</th>
					<td>{{ entity.importe }}</td>
				</tr>
				<tr>
					<th style="text-align: center;">Moneda</th>
					<td>{{entity.monedaStr}}</td>
				</tr>
				<tr>
					<th style="text-align: center;">Firma</th>
					<td>....................</td>
				</tr>
			{% else %}
				<tr>
					<th style="text-align: center;">{{ entity.movimientocc.clienteProveedor.clienteProveedorStr }}</th>
					<td>{{ entity.movimientocc.clienteProveedor }}</td>
				</tr>
				<tr>
					<th style="text-align: center;">Fecha</th>
					<td>{{ entity.fecha|date('Y-m-d') }}</td>
				</tr>
				<tr>
					<th style="text-align: center;">FechaRegistracion</th>
					<td>{{ entity.fechaRegistracion|date('Y-m-d') }}</td>
				</tr>
				<tr>
					<th style="text-align: center;">Importe</th>
					<td>{{ entity.importe }} {{entity.monedaStr}}</td>
				</tr>
				
			{% endif %}
        </tbody>
    </table>
</dynamic-page>
</pdf>