{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
    <h1>
        {% if entity.tipoDocumento == 'F' %} Factura Proveedor {% endif %}
        {% if entity.tipoDocumento == 'C' %} Nota de Cr&eacute;dito {% endif %}
        {% if entity.tipoDocumento == 'D' %} Nota de D&eacute;bito {% endif %}
        {% if entity.tipoDocumento == 'A' %} Ajuste de Caja {% endif %}
        {#
        Se registran a través de los pagos
        % if entity.tipoDocumento == 'G' %} Alta de Gasto {% endif %
        #}
        {% if entity.tipoDocumento == 'R' %} Alta de Recibo de Cliente {% endif %}
        {% if entity.tipoDocumento == 'RP' %} Alta de Recibo de Proveedor {% endif %}
    </h1>
    <div class="joyas-container" style="width: 50%; margin: 0 auto;">
        <div class="container">
            {{ form_start(form) }}

            {% if perfil == 'ADMINISTRADOR' and (entity.tipoDocumento == 'A' ) %}			
                <div>
                    <label>Unidad de Negocio</label>
                    <select name="unidadnegocio">
                        {% for unidad in unidades %}
                            <option value="{{ unidad.id }}">{{ unidad.descripcion }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}			
            {% if entity.tipoDocumento == 'F' or entity.tipoDocumento == 'RP'  %} <label>Seleccione Proveedor</label>
                <select name="clienteProveedor">
                    {% for clienteProveedor in clientesProveedores %}
                        {% if clienteProveedor.clienteProveedor == '2' %} 
                            <option value="{{ clienteProveedor.id }}">
                                {{ clienteProveedor.razonSocial }}
                                {% if perfil == 'ADMINISTRADOR' %}
                                    - {{ clienteProveedor.unidadNegocio }}
                                {% endif %}
                            </option>
                        {% endif %}
                    {% endfor %}
                </select><br>
            {% endif %}
            {% if entity.tipoDocumento == 'R' %} <label>Seleccione Cliente</label>
                <select name="clienteProveedor">
                    {% for clienteProveedor in clientesProveedores %}
                        {% if clienteProveedor.clienteProveedor == '1' %} 
                            <option value="{{ clienteProveedor.id }}">
                                {{ clienteProveedor.razonSocial }}
                                {% if perfil == 'ADMINISTRADOR' %}
                                    - {{ clienteProveedor.unidadNegocio }}
                                {% endif %}
                            </option>
                        {% endif %}
                    {% endfor %}
                </select><br>
            {% endif %}

            <div class="recibos">
                <label>Fecha</label>
                <input name="fechaDocumento" onBlur="comprobar();" id="fechaDocumento" onkeydown="return false;" required />
                <div style="display:none;">{{ form_widget(form.fecha) }}</div>
            </div>

            <div class="tipogasto">
                <label>Tipo de Gasto</label>
                {{ form_widget(form.tipoGasto) }}
            </div>
            <div style="display:none;">
                {{ form_widget(form.tipoDocumento) }}
            </div>	
            {% if entity.tipoDocumento == 'A'%}
                <div style="display:none;">
                    {{ form_widget(form.nrofactura) }}
                    {{ form_widget(form.nroremito) }}
                    {{ form_widget(form.nrocomprobante) }}
                </div>	
            {% endif %}
            {% if entity.tipoDocumento == 'R' %}
                <div>
                    <label>Paga con tarjeta?</label>
                    <input type="checkbox" name="tarjeta" id="tarjeta" />
                </div>
            {% else %}
                <div style="display:none;">
                    <label>Paga con tarjeta?</label>
                    <input type="checkbox" name="tarjeta" id="tarjeta" />
                </div>
            {% endif  %}
            {% if entity.tipoDocumento == 'C' or entity.tipoDocumento == 'D' %}
                <div>
                    <label>Descripci&oacute;n</label>
                    {{ form_widget(form.descripcion) }}
                </div>
            {% else %}
                <div style="display:none;">
                    <label>Descripci&oacute;n</label>
                    {{ form_widget(form.descripcion) }}
                </div>
            {% endif  %}
            <div>
                <label>Importe</label>
                {{ form_widget(form.importe) }}
            </div>

            <div>
                <label>Oro</label>
                {{ form_widget(form.oro) }}
            </div>


            <div>
                <label>Plata</label>
                {{ form_widget(form.plata) }}
            </div>

            <div>
                {{ form(form) }}
                {{ form_widget(form.submit) }}
                <a class="btn btn-default" href="javascript:history.back();">
                    Volver
                </a>
            </div>
            {{ form_end(form) }}		
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("input").each(function () {
                var css = $(this).attr('class');
                css = css + ' form-control';
                $(this).attr('class', css);
            });

            $(".tipogasto").css({'display': 'none'});


        {% if entity.tipoDocumento == 'R' %}
                $(".recibos").css({'display': 'none'});
                $("#fechaDocumento").removeAttr('required')
                $('#joyas_joyasbundle_documento_importe').val('{{ app.request.get('importe') }}')
                $('#joyas_joyasbundle_documento_oro').val('{{ app.request.get('oro') }}')
                $('#joyas_joyasbundle_documento_plata').val('{{ app.request.get('plata') }}')
            {% set tarjeta = app.request.get('tarjeta') %}
            {% if tarjeta == 'on' %}
                    $('#tarjeta').prop("checked", "checked");
            {% endif %}
                    $('#joyas_joyasbundle_documento_moneda option[value="{{app.request.get('moneda')}}"]').prop('selected', true);
                    $('#joyas_joyasbundle_documento_clienteProveedor option[value="{{app.request.get('cliente')}}"]').prop('selected', true);

        {% endif %}

        {% if entity.tipoDocumento == 'RP' or entity.tipoDocumento == 'C' or entity.tipoDocumento == 'D' %}
                $(".recibos").css({'display': 'none'});
                $("#fechaDocumento").removeAttr('required')
        {% endif %}

        {% if entity.tipoDocumento == 'A' %}
                $(".recibos").css({'display': 'none'});
                $("#fechaDocumento").removeAttr('required')
        {% endif %}		
                $("#joyas_joyasbundle_documento_importe").removeAttr('required')
            });

            function comprobar() {
                var hoy = new Date();
                var from = $("#fechaDocumento").val().split("-");
                var fecha = new Date(from[2], from[1] - 1, from[0]);

                if (hoy < fecha) {
                    alert('La fecha ingresada debe ser menor a la fecha actual o igual.')
                    $("#fechaDocumento").val('');
                }
            }
    </script>
{% endblock %}
