{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
    <h1>
        {% if tipo == 'RP'%}
            Nuevo Pago a Proveedor
        {% else %}
            Nuevo Pago de Gasto
        {% endif %}
    </h1>

    {{ form_start(form) }}
    <div class="joyas-container" style="margin: 0 auto;">
        <div class="container">
            <div style="margin-bottom: 2%;margin-top: 2%;">
                {{ form_widget(form.submit) }}
                <a class="btn btn-default" style="margin-left: 1%;" href="javascript:history.back();">
                    Volver
                </a>
            </div>
            {% if perfil == 'ADMINISTRADOR'  %}			
                <div class="col-md-12">
                    <label>Unidad de Negocio</label>
                    <select name="unidadnegocio">
                        {% for unidad in unidades %}
                            <option value="{{ unidad.id }}">{{ unidad.descripcion }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}	
            {% if tipo == 'RP'%}
                <div class="col-md-6">
                    <label>Seleccione Proveedor</label>
                    <select name="clienteProveedor" id="idproveedor">
                        {% for clienteProveedor in clientesProveedores %}
                            {% if clienteProveedor.clienteProveedor == '2' %} 
                                <option value="{{ clienteProveedor.id }}">
                                    {{ clienteProveedor.razonSocial }}
                                    {% if perfil == 'ADMINISTRADOR' %}
                                        - {{ clienteProveedor.unidadNegocio }}
                                    {% endif %}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
            <div class="col-md-6">
                <label>Numeraci&oacute;n autom&aacute;tica</label>
                <input type="checkbox" name="auto" id="auto" value="true" checked="true" />
            </div>
            <div class="col-md-6">
                <label>Nro. Orden de Pago</label>
                {{ form_widget(form.nrocomprobante) }}
            </div>
            <div class="col-md-6">
                <label>Fecha</label>
                <input name="fechaDocumento" id="fechaDocumento" class="datetimepicker" readonly value="{{entity.fecha|date('Y-m-d')}}" onkeydown="return false" required />
                <div style="display:none;">{{ form_widget(form.fecha) }}</div>
            </div>
            <div class="col-md-6">
                <label>Moneda</label>
                {{ form_widget(form.moneda) }}
            </div>
            <div class="col-md-6">
                <div class="col-md-4">
                    <label>Es un Gasto?</label>
                    <input type="checkbox" name="gasto" id="gasto" />
                </div>
                {% if tipo == 'G' %}
                    <div class="col-md-8" style="display:none" id="tipoGasto">
                        {{ form_row(form.tipoGasto) }}
                    </div>
                {% endif %}
            </div>
            <div class="col-md-12" style="margin-top: 2%;margin-bottom: 1%; font-size: 20px;color: #00006f;">
                <strong>
                    Efectivo (<span id="resefectivo"></span>) + 
                    Cheques (<span id="rescheques"></span>) = <span id="restotal"></span>
                </strong>
            </div>
            <div class="col-md-12" style="margin-top: 2%;">
                <ul class="nav nav-pills">
                    <li class="active"><a href="#efectivo" data-toggle="tab" aria-expanded="true">Efectivo</a>
                    </li>
                    <li class=""><a href="#chequess" data-toggle="tab" aria-expanded="false">Cheques</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="efectivo">
                        <div class="col-md-4">
                            <strong>Importe</strong>
                            <input name="efectivo" id="importeefectivo" type="text" />
                        </div>
                        {% if tipo == 'RP' %}
                            <div class="col-md-4">
                                {{ form_row(form.oro) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(form.plata) }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="tab-pane fade" id="chequess">
                        <div class="col-md-12">
                            <strong>Cheques</strong>
                        </div>
                        <div class="col-md-12">
                            <select name="selectcheques[]" id="selectcheques" multiple onblur="resultado();
                                    $('input[type=text]').blur();" style="height: 200px; overflow-x: auto;">
                                {% for cheque in cheques %}
                                    <option value="{{cheque.id}}">
                                        BANCO: {{cheque.banco}} - TIPO: {{cheque.tipocheque}} -
                                        EMISI&Oacute;N: {{cheque.fechaemision|date('Y-m-d')}} - COBRO: {{cheque.fechacobro|date('Y-m-d')}} - 
                                        NRO: {{cheque.nrocheque}} - IMPORTE: {{cheque.importe}}   
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <strong>Observaciones</strong>
                {{ form_widget(form.observacion) }}
            </div>
            <div style="display:none;">
                <input type="hidden" id="totalneto" name="totalneto" />
                {{ form_widget(form.tipoDocumento) }}
            </div>
            <div style="display:none;">
                {{ form(form) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}		
    <script>
        $('form').submit(function () {
        {% if tipo == 'G' %}
                $('#gasto').prop('checked', true).change();
        {% endif %}
            });
            $(document).ready(function () {

        {% if tipo == 'RP' %}
                $('#joyas_joyasbundle_documento_tipoGasto').change(function () {
                    if ($(this).val() != '') {
                        $('#clienteProveedor').val('').change();
                    }
                });
                $('#idproveedor').prop('required', true);

        {% else %}
                $('#gasto').change(function () {
                    $('#tipoGasto').toggle();
                });
                $('#gasto').prop('checked', true).change();
                $('#joyas_joyasbundle_documento_tipoGasto').prop('required', true);

        {% endif %}
                $("input").addClass('form-control');
                $("#fechaDocumento").removeAttr('required')
                $("#joyas_joyasbundle_documento_nrocomprobante").removeAttr('required');
                $("#joyas_joyasbundle_documento_nrofactura").removeAttr('required');
                $("#joyas_joyasbundle_documento_observacion").removeAttr('required');
                $("#joyas_joyasbundle_documento_nroremito").removeAttr('required');
                $("#joyas_joyasbundle_documento_nrocomprobante").attr('readonly', 'readonly');
                ver(0);
                ver(1);
                ver(2);
                ver(3);
                ver(4);
                ver(5);
            });

            $("input[type=text]").blur(function () {
                resultado();
                var id = $(this).attr('id');
            });

            $("#auto").click(function () {
                if ($("#auto").prop('checked')) {
                    $("#joyas_joyasbundle_documento_nrocomprobante").removeAttr('required').val('').attr('readonly', 'readonly');
                    $("#fechaDocumento").removeAttr('required').attr('readonly', 'readonly');
                    $("#auto").val('false');
                } else {
                    $("#joyas_joyasbundle_documento_nrocomprobante").attr('required', 'required').removeAttr('readonly');
                    $("#fechaDocumento").attr('required', 'required').removeAttr('readonly');
                    $("#auto").val('true');
                }
            });

            function resultado() {
                var efectivo = parseFloat($("#importeefectivo").val());
                var cheques = 0;
                var total = 0;

                $("#selectcheques option:selected").each(function () {
                    var res = $(this).text().split('IMPORTE: ');
                    cheques = cheques + parseFloat(res[1]);
                });

                if (isNaN(cheques)) {
                    cheques = 0;
                }
                if (isNaN(efectivo)) {
                    efectivo = 0;
                }
                total = cheques + efectivo;
                var totalneto = cheques + efectivo;
                $("#totalneto").val(totalneto);
                $("#resefectivo").html(efectivo);
                $("#rescheques").html(Math.round(cheques * 100) / 100);
                $("#restotal").html(Math.round(total * 100) / 100);
                $("#joyas_joyasbundle_documento_importe").val(total);
            }
            function ver(id) {
                if ($('#' + id).html() == '<i class="fa fa-minus"></i>') {
                    $('#' + id).html('<i class="fa fa-plus"></i>');
                    $("#datos" + id).slideToggle();
                    $('input[name=banco' + id + ']').val(0).removeAttr('required');
                    $('input[name=tipocheque' + id + ']').val(0).removeAttr('required');
                    $('input[name=nrocheque' + id + ']').val('').removeAttr('required');
                    $('input[name=importe' + id + ']').val(0).removeAttr('required');
                    $('input[name=fechaemision' + id + ']').val('').removeAttr('required');
                    $('input[name=fechacobro' + id + ']').val('').removeAttr('required');
                    $('input[name=firmantes' + id + ']').val('');
                    $('input[name=cuit' + id + ']').val('');
                } else {
                    $('#' + id).html('<i class="fa fa-minus"></i>');
                    $("#datos" + id).slideToggle();
                    $('input[name=banco' + id + ']').attr('required', 'required');
                    $('input[name=tipocheque' + id + ']').attr('required', 'required');
                    $('input[name=nrocheque' + id + ']').attr('required', 'required');
                    $('input[name=importe' + id + ']').val('').attr('required', 'required');
                    $('input[name=fechaemision' + id + ']').attr('required', 'required');
                    $('input[name=fechacobro' + id + ']').attr('required', 'required');
                    $('input[name=firmantes' + id + ']').val('');
                    $('input[name=cuit' + id + ']').val('');
                }
            }
    </script>
    <style>
        #cheques .col-md-12 .col-xs-3,#cheques .col-md-12 .col-xs-2, #cheques .col-md-12 .col-xs-4,#cheques .col-md-12 .col-xs-6{
            padding-right:0px;
            padding-left:0px;    
        }
        #cheques .col-md-12{
            margin-top: 1%;
            margin-bottom: 1%;
        }

    </style>

{% endblock %}
