{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}

    <div class="col-md-12" style="border: 1px solid;">
        <h1 style="text-align:center;">
            Orden de Pago
        </h1>
        <div class="col-md-12">
            <div class="col-md-12" style="font-size: 10px;text-align:center;">
                Documento no v&aacute;lido como factura
            </div>
            <div class="col-xs-12">
                <div class="col-xs-4">
                    <img width="100px" src="{{asset('bundles/joyas/img/logo.png')}}" />
                </div>
                <div class="col-xs-8">
                    {{nombre_cliente}}<br />
                    {{direccion}}<br />
                    {{email}} <br />
                </div>
            </div>
            <div class="col-md-12" style="text-align: left;">               
                {{ entity.fecha|date('d-m-Y') }}<br /><br />                
                {%  if entity.movimientocc.clienteProveedor %}
                    domiciliado en {{entity.movimientocc.clienteProveedor.direccion}}<br />
                {%  endif %}
                Se entrega la suma de <span id="numeroletras"></span> en concepto de {{entity.tipoGasto|default('Sin Identificar')}}
            </div>
            <div class="col-md-12" style="margin-bottom: 1%;margin-top: 1%;">
                <table width="100%" style="text-align: center;" border="solid" >
                    <thead>
                        <tr>
                            <th>Forma</th>
                            <th>Banco</th>
                            <th>Importe</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cheque in entity.chequespago %}
                            <tr>
                                <td>Cheque ( {{cheque.tipocheque}} )</td>
                                <td>{{cheque.banco}}</td>
                                <td>{{cheque.importe}}</td>
                            </tr>
                        {% endfor %}
                        {% if entity.efectivo > 0 %}
                            <tr>
                                <td>Efectivo</td>
                                <td></td>
                                <td>{{entity.efectivo}}</td>
                            </tr>
                        {% endif %}
                        {% if entity.oro > 0 %}
                            <tr>
                                <td>Oro</td>
                                <td></td>
                                <td>{{entity.oro}}</td>
                            </tr>
                        {% endif %}
                        {% if entity.plata   > 0 %}
                            <tr>
                                <td>Plata</td>
                                <td></td>
                                <td>{{entity.plata}}</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        {% if entity.nroreciboproveedor != ''%}
            <div class="col-md-12" style="text-align:left;">
                <div class="col-md-6" style="text-align:left;">
                    <strong>Nro. de Recibo Entregado por el Proveedor </strong><br />
                    {{ entity.nroreciboproveedor }}
                </div>
                <div class="col-md-6" style="text-align:left;">
                    <strong>Fecha de Recibo Entregado por el Proveedor </strong><br />
                    {{ entity.fechareciboproveedor|date('Y-m-d') }}
                </div>
            </div>
        {% endif %}
        {% if entity.observacion != ''%}
            <div class="col-md-12" style="text-align:left;">
                <div class="col-md-12" style="text-align:left;">
                    <strong>Observaciones</strong><br />
                    {{ entity.observacion|raw }}
                </div>
            </div>
        {% endif %}
        <div class="col-xs-12" style="text-align: center;margin-bottom: 1%;margin-top: 1%;">
            <div class="col-xs-4">
                Total: {{ entity.monedaSim }} {{ entity.importe }}
            </div>
        </div>
    </div>
    <div id="volver" class="col-md-12" style="margin-top:2%;">
        <div style="text-align: center;" class="col-md-12">
            {%  if entity.tipoDocumento == 'G' %}
                <a class="btn btn-default" href="{{ path('movimientocc_admcaja')}}">
                    Administraci&oacute;n de Caja
                </a>
            {% else %}
                <a class="btn btn-default" href="{{ path('clienteproveedor_cc', {id: entity.movimientocc.clienteProveedor.id})}}">
                    Cuenta Corriente
                </a>
            {% endif %}

            <a class="btn btn-default" href="javascript:imprimir()">
                Imprimir
            </a>
            <a class="btn btn-default" href="javascript:history.back();">
                Volver
            </a>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#numeroletras').html(NumeroALetras({{entity.importe}},{{entity.moneda}}));
        });
        function imprimir()
        {
            $('#volver').css('display', 'none');
            window.print();
            $('#volver').css('display', 'block');
        }
  
    </script>
{% endblock %}
