{% extends 'JOYASJoyasBundle::baseweb.html.twig' %}
{% block content -%}
    <!--start-breadcrumbs-->
    <div class="breadcrumbs">
        <div class="container">
            <div class="breadcrumbs-main">
                <ol class="breadcrumb">
                    <li><a href="{{ path('joyas_joyas_web') }}">Inicio</a></li>
                    <li class="active">Categor&iacute;as</li>
                </ol>
            </div>
        </div>
    </div>
    <!--end-breadcrumbs-->
    <!--product-starts-->
    <div class="product" id="product" > 
        <div class="container">
            <div class="col-md-12" style="text-align: center;">
                <h2>{% if metal is defined %} {{ metal.sinonimo }} {% else %} {{categoria.sinonimo|default('') }} {% endif %}</h2>
            </div>
            <div class="product-top col-md-9" style="min-height: 600px;">
                <div class="product-one iso-box-wrapper">
                    {% set count = 0 %}
                    {% for entity in precios %}
                        {% if entity.categoriasubcategoria %}
                            <div class="col-md-4 product-left iso-box todos sub{{entity.categoriasubcategoria.subcategoria.id|default('0') }} cate{{entity.categoriasubcategoria.categoria.id|default('0') }} {{entity.categoriasubcategoria.id}}">
                            {% else %}
                                <div class="col-md-4 product-left todos">
                                {% endif %}
                                <div class="product-main simpleCart_shelfItem" style="margin-top:5%;">
                                    <a href="{{ path('producto_web', {id:entity.id}) }}" title="{{entity.descripcion}}" class="mask">
                                        {% if entity.imagenesproducto|length > 0 %}
                                            {% for imagen in entity.imagenesproducto %}
                                                {% if loop.first %}
                                                    <img width="85%" class="img-responsive zoom-img" src="{{asset(imagen.webPath)}}" alt="" />
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <img width="85%" class="img-responsive zoom-img" src="{{asset('bundles/web/images/sinimagen.jpg')}}" alt="" /></a>
                                        {% endif %}
                                    </a>
                                    <div class="product-bottom">
                                        {% if entity.descripcion|length > 23 %}
                                            <h3>
                                                {{ entity.descripcion[0:20] }}...
                                            </h3>
                                        {% else %}
                                            <h3>
                                                {{ entity.descripcion }}
                                            </h3>
                                        {% endif %}
                                        <h4>C&oacute;d. <span class="item_name">{{ entity.codigo }}</span></h4>
                                        <p>{{ entity.categoriasubcategoria.categoria.sinonimo|default('Otros') }}</p>
                                        <h4>
                                            <a class="item_add" onclick="add({{entity.id}});" href="#">Agregar al carrito<i></i></a> <span class="item_price">
                                                {% if entity.descuento != '' %}
                                                    <span style="color:green;">$ {{ (entity.precios|first).valor * (100 - entity.descuento) / 100 }}</span>
                                                {% else %}
                                                    $ {{ (entity.precios|first).valor }}
                                                {% endif %}
                                            </span>
                                        </h4>
                                    </div>
                                    {% if entity.descuento != '' %}
                                        <div class="srch srch1">
                                            <span><span style="padding: 0px 0px;color: red;padding-right: 10px;;color:red;">$ {{ (entity.precios|first).valor }}</span> -{{entity.descuento}}%</span>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% set count = count + 1 %}
                        {% endfor %}
                        {% if count == 0 %}
                            <div class="col-md-12 relacionados">
                                Disculpe, no contamos con productos para esta categor&iacute;a. <a href="{{path('joyas_joyas_web')}}">Ir al inicio</a>
                            </div>
                        {% endif %}
                        <div class="clearfix"></div>
                    </div>					
                </div>
                <form action="{{ path('producto_categorias',{'id': 0, 'metal':metal.id|default('')}) }}" method="post">                        
                    <div class="col-md-3 prdt-right" style="height:157px; margin-bottom: 63px;">
                        <p>
                            <input type="submit" class="btn btn-success" name="send" value="BUSCAR" />
                        </p>
                        <div class="w_sidebar" style="height: 90%;">
                            <section  class="sky-form">
                                <h4>Rango de precios:</h4>
                                <div class="row1 scroll-pane">                                
                                    <p>
                                        <input type="hidden" id="filtro" name="filtro" value="0-100" />
                                        <input type="text" readonly id="amount" name="range" style="width: 100%; border: 0; color: #f6931f; font-weight: bold;" />
                                    </p>
                                    <div id="slider-range" style="width:215px; margin-bottom: 10px;">
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    {% if metal is defined %}
                        <div class="col-md-3 prdt-right" style="height:350px;">
                            <div class="w_sidebar" style="height: 90%;">
                                <section  class="sky-form">
                                    <h4>Categor&iacute;a</h4>
                                    <div class="row1 scroll-pane">
                                        <div class="col col-4 filter-wrapper">
                                            <label class="checkbox">
                                                <input type="radio" id="primero" name="checkCategoria" value=""><i></i>TODOS
                                            </label>
                                            {% for categoria in categorias %}
                                                <label class="checkbox">
                                                    <input type="radio" name="checkCategoria" value="{{ categoria.id }}" ><i></i>{{ categoria.sinonimo }}
                                                </label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-md-3 prdt-right" style="height:350px;">
                            <div class="w_sidebar" style="height: 90%;">
                                <section  class="sky-form">
                                    <h4>Categor&iacute;a</h4>
                                    <div class="row1 scroll-pane">
                                        <div class="col col-4 filter-wrapper">
                                            <label class="checkbox">
                                                <input type="radio" id="primero" name="checkCategoria" value=""><i></i>TODOS
                                            </label>
                                            {% for categoria in categorias %}
                                                <label class="checkbox">
                                                    <input type="radio" name="checkCategoria" value="{{ categoria.id }}" ><i></i>{{ categoria.sinonimo }}
                                                </label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    {% endif %}
                    <div class="col-md-3 prdt-right" style="height:250px;">
                        <div class="w_sidebar" style="height: 90%;">
                            <section  class="sky-form">
                                <h4>L&iacute;neas</h4>
                                <div class="row1 scroll-pane">
                                    <div class="col col-4 filter-wrapper">
                                        <label class="checkbox">
                                            <input type="radio" id="primero" name="checMetal" value=""><i></i>TODOS
                                        </label>
                                        {% for met in metales %}                                            
                                            <label class="checkbox">
                                                <input type="radio" name="checkMetal" value="{{ met.id }}"><i></i>{{ met.sinonimo|default('') }}
                                            </label>
                                        {% endfor %}
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
        <div class="col-xs-12">            
            {{ pagerfanta (precios, 'twitter_bootstrap_translated' , { 'prev_message' : 'Anterior', 'next_message': 'Siguiente'} ) }} 
        </div>

        <!--product-end-->
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

        <script>
                                                $(document).ready(function () {
                                                    $('.pagination a').attr('class', 'btn btn-default');
                                                    $('.pagination li').css('float', 'left');
                                                    $('.pagination').css('width', '100%');

                                                    $(".memenu .active").removeClass('active');
                                                    $("#catagorias").addClass('active');

                                                    $('#primero').click();
                                                    if ($('.iso-box-wrapper').length > 0) {

                                                        var $container = $('.iso-box-wrapper'),
                                                                $imgs = $('.iso-box img');

                                                        $container.imagesLoaded(function () {

                                                            $container.isotope({
                                                                layoutMode: 'fitRows',
                                                                itemSelector: '.iso-box'
                                                            });

                                                            $imgs.load(function () {
                                                                $container.isotope('reLayout');
                                                            })

                                                        });


                                                    }

                                                    new WOW().init();
                                                });

                                                $(function () {
                                                    $("#slider-range").slider({
                                                        range: true,
                                                        min: 0,
                                                        max: 2000,
                                                        values: [0, 100],
                                                        slide: function (event, ui) {
                                                            $("#amount").val(ui.values[ 0 ] + "ARG-" + ui.values[ 1 ] + "ARG");
                                                            $("#filtro").val(ui.values[ 0 ] + "-" + ui.values[ 1 ]);
                                                        }
                                                    });
                                                    $("#amount").val($("#slider-range").slider("values", 0) + "ARG-" + $("#slider-range").slider("values", 1) + "ARG");
                                                });

        </script>

    {% endblock %}