{% extends 'JOYASJoyasBundle::baseweb.html.twig' %}
{% block content -%}
    <!--start-breadcrumbs-->
    <div class="breadcrumbs">
        <div class="container">
            <div class="breadcrumbs-main">
                <ol class="breadcrumb">
                    <li><a href="{{ path('joyas_joyas_web') }}">Inicio</a></li>
                    <li class="active">Contactanos</li>
                </ol>
            </div>
        </div>
    </div>
    <!--end-breadcrumbs-->
    <!--contact-start-->
    <div class="contact">
        <div class="container">
            <div class="contact-top heading">
                <h2>CONT&Aacute;CTENOS</h2>
            </div>
            <div class="col-sm-12 hidden-md hidden-lg "> 
                <iframe width="100%" height="400" src="https://www.mapsdirections.info/crear-un-mapa-de-google/map.php?width=100%&height=400&hl=en&q=Libertad%20200%20CABA%20Argentina+(Willy%20Jhons)&ie=UTF8&t=&z=16&iwloc=A&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
            <div class="hidden-xs hidden-sm col-md-8 col-md-offset-2">
                <iframe width="100%" height="600" src="https://www.mapsdirections.info/crear-un-mapa-de-google/map.php?width=100%&height=600&hl=en&q=Libertad%20200%20CABA%20Argentina+(Willy%20Jhons)&ie=UTF8&t=&z=14&iwloc=A&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
            <br/>
            <div class="contact-text">
                <div class="col-md-3 contact-left">
                    <div class="address">
                        <h5>Contacto</h5>
                        <p>
                            Libertad 200, CABA, Argentina<br>
                            Horario de atenci&oacute;n:<br>- Lun/Vie 8:30 a 18:30 hs<br>
                            -Sab 9 a 13:30 hs<br>
                            Willy Jhons</p>
                    </div>
                    <div class="address">
                        <h5>Nuestros datos</h5><br>
                        <p>Tel:(+54 11) 43711363<br>
                            Email: <a href="mailto:infor@willyjhons.com.ar" target="_blanck">info@willyjhons.com.ar</a></p>
                    </div>
                </div>
                <div class="col-md-9 contact-right">
                    <form action="{{ path('joyas_joyas_mail') }}" method="POST">
                        <input type="text" name="nombre" placeholder="Nombre" required>
                        <input type="text" name="telefono" placeholder="Tel&eacute;fono" required>
                        <input type="email" class="email" name="email" placeholder="Email" required>
                        <textarea name="mensaje" placeholder="Mensaje" required></textarea>
                        <div class="submit-btn">
                            <input type="submit" value="ENVIAR">
                        </div>
                    </form>
                </div>	
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $(".memenu .active").removeClass('active');
            $("#contacto").addClass('active');
        });
    </script>
{% endblock %}