{% extends 'JOYASJoyasBundle::baseweb.html.twig' %}
{% block content -%}
	<!--start-breadcrumbs-->
	<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs-main">
				<ol class="breadcrumb">
					<li><a href="{{ path('joyas_joyas_web') }}">Inicio</a></li>
					<li class="active">Medio de Pago</li>
				</ol>
			</div>
		</div>
	</div>
	<!--end-breadcrumbs-->
	<!--start-mediopago-->
	<div class="ckeckout">
		<div class="container">
			<div class="ckeck-top heading">
				<h2>MEDIO DE PAGO</h2>
			</div>
			<div class="ckeckout-top" style="text-align:center;">
				<div class="cart-items">
				<h3>
					Elegir medio de pago
				</h3>
				</div>
			</div>
			<div class="col-md-12" style="min-height: 200px;text-align:center; margin-top:3%;">  
				<div class="col-md-6">  
					<div style="font-size: 22px; text-transform: uppercase;">Acordar con el vendedor</div>
					<a href="{{ path('joyas_joyas_acordar', {id: pedido.id}) }}" class="btn btn-primary">Aceptar</a>	
				</div>
				<div class="col-md-6">  
					<div style="font-size: 22px; text-transform: uppercase;">Pagar ahora con MERCADOPAGO</div>
					<div style="font-size: 11px; text-transform: uppercase;">(Una vez realizado el pago, oprimir Continuar para volver a su cuenta)</div>
					<a href="{{ pagar }}" class="btn btn-primary">Pagar</a>	
				</div>  
				<div class="col-md-12" style="margin-top:1%;">  
					<div><strong>Detalle de Pedido</strong></div>
					<ul>
					{% for detalle in pedido.detallespedido %}
						<li>{{ detalle.productodesc}} - CANT: {{ detalle.cantidad }} - PR. UNIT: ${{ detalle.precio}}</li>						
					{% endfor %}
					</ul>
				</div>  
			</div>
		</div>
	</div>
	<!--end-ckeckout-->
<script>

$(document).ready(function(){

});

</script>

{% endblock %}
