{% extends 'JOYASJoyasBundle::baseweb.html.twig' %}
{% block content -%}
    <!--banner-starts-->
    <div class="bnr" id="home">
        <div  id="top" class="callbacks_container">
            <ul class="rslides" id="slider4">
                {% for imagen in imagenesBanner  %}
                    <li>                      
                        <a href="#product"><img src="{{asset('uploads/documents/'~imagen.id~'.'~imagen.extension)}}" alt=""/></a>                        
                    </li>	
                {% endfor %}
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!--banner-ends--> 
    <!--Slider-Starts-Here-->
    <script src="{{ asset('bundles/web/js/responsiveslides.min.js') }}"></script>
    <script>
        $(function () {
            // Slideshow 4
            $("#slider4").responsiveSlides({
                auto: true,
                pager: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });
        });
    </script>
    <!--product-starts-->
    <div class="product" id="product" > 
        <div class="container">
            <div class="col-md-12" style="text-align:center;">
                <h3>
                    Productos
                </h3>				
            </div>
            <div class="product-top">
                <div class="product-one">
                    {% for entity in precios %}
                        <div class="col-md-3 product-left" style="margin-bottom: 2%;">
                            <div class="product-main simpleCart_shelfItem">
                                <a href="{{ path('producto_web', {id:entity.producto.id}) }}" title="{{entity.producto.descripcion}}" class="mask">
                                    {% if entity.producto.imagenesproducto|length > 0 %}
                                        {% for imagen in entity.producto.imagenesproducto %}
                                            {% if loop.first %}
                                                <img width="85%" class="img-responsive zoom-img" src="{{asset(imagen.webPath)}}" alt="" />
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <img width="85%" class="img-responsive zoom-img" src="{{asset('bundles/web/images/sinimagen.jpg')}}" alt="" /></a>
                                    {% endif %}
                                </a>
                                <div class="product-bottom">
                                    {% if entity.producto.descripcion|length > 23 %}
                                        <h3>
                                            {{ entity.producto.descripcion[0:20] }}...
                                        </h3>
                                    {% else %}
                                        <h3>
                                            {{ entity.producto.descripcion }}
                                        </h3>
                                    {% endif %}
                                    <h4>C&oacute;d. <span class="item_name">{{ entity.producto.codigo }}</span> </h4>
                                    <p>{{ entity.producto.categoriasubcategoria.categoria|default('Otros') }}</p>
                                    <h4>
                                        {% if nombre != '' %}
                                            <a class="item_add" onclick="add({{entity.producto.id}});" href="#"><i></i></a> <span class="item_price">
                                                {% endif %}
                                                {% if entity.producto.descuento != '' %}
                                                <span style="color:green;">$ {{ entity.valor * (100 - entity.producto.descuento) / 100 }}</span>										
                                            {% else %}
                                                $ {{ entity.valor }}
                                            {% endif %}
                                        </span>
                                        </span>
                                    </h4>
                                </div>
                                {% if entity.producto.descuento != '' %}
                                    <div class="srch srch1">
                                        <span><span style="padding: 0px 0px;color: red;padding-right: 10px;;color:red;">$ {{ entity.valor }}</span> -{{entity.producto.descuento}}%</span>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="clearfix"></div>
                </div>					
            </div>
            <div class="col-md-12" style="text-align: center;">
                <a class="btn btn-danger" href="{{ path('joyas_joyas_iniciar') }}">Ver m&aacute;s</a>
            </div>
        </div>
    </div>
    <!--product-end-->
    <script>
        $(document).ready(function () {
            $('.pagination a').attr('class', 'btn btn-default');
            $('.pagination li').css('float', 'left');
            $('.pagination').css('width', '100%');
        });
    </script>
{% endblock %}