{% extends 'JOYASJoyasBundle::baseweb.html.twig' %}
{% block content -%}
    <!--banner-starts-->
    <div class="col-xs-12">
        <div class="hidden-xs hidden-sm col-md-3 container">
            <div class="panel-group">
                <div class="panel panel-danger">
                    <div class="panel-heading text-center">Nuestros Productos</div>
                    <div class="panel-body">            
                        <div class="row ">
                            <div  class="col1 me-one " >
                                <ul>
                                    {% for metal in metales %}
                                        <li style="text-align: center !important;">
                                            <a  class='text-center' href="{{ path('producto_categorias', {id: 0, metal:metal.id}) }}">
                                                {{ metal.sinonimo }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img class="img-responsive" src="{{asset('bundles/web/images/envios.jpg')}}"  />
        </div>
        <div class="col-xs-12 col-md-9 bnr" id="home">
            <div  id="top" class="callbacks_container">
                <ul class="rslides" id="slider4">
                    {% for imagen in imagenesBanner  %}
                        <li>                        
                            <a href="#product"><img src="{{asset('uploads/documents/'~imagen.id~'.jpg')}}" alt=""/></a>
                        </li>	
                    {% endfor %}
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>

        <div class="col-xs-12" >
            <!--banner-ends--> 
            <div class="about"> 
                {% if novedades|length > 0 %}
                    <div class="container">
                        <div class="about-top grid-1">
                            {% set precio = random(novedades) %}
                            <div class="col-md-4 about-left">
                                <a href="{{ path('producto_web', {id:precio.producto.id}) }}" class="">
                                    <figure class="effect-bubba">
                                        {% if precio.producto.imagenesproducto|length > 0 %}
                                            {% for imagen in precio.producto.imagenesproducto %}
                                                {% if loop.first %}
                                                    <img class="img-responsive" src="{{asset(imagen.webPath)}}" alt=""/>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <img class="img-responsive" src="{{asset('bundles/web/images/sinimagen.jpg')}}" alt=""/>
                                        {% endif %}
                                        <figcaption>
                                            <h2>{{ precio.producto.descripcion }}</h2>
                                            <p>{{ precio.producto.categoriasubcategoria.categoria|default('Otros') }}</p>	
                                        </figcaption>			
                                    </figure>
                                </a>
                            </div>
                            {% set precio = random(novedades) %}
                            <div class="col-md-4 about-left">
                                <a href="{{ path('producto_web', {id:precio.producto.id}) }}" class="">
                                    <figure class="effect-bubba">
                                        {% if precio.producto.imagenesproducto|length > 0 %}
                                            {% for imagen in precio.producto.imagenesproducto %}
                                                {% if loop.first %}
                                                    <img class="img-responsive" src="{{asset(imagen.webPath)}}" alt=""/>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <img class="img-responsive" src="{{asset('bundles/web/images/sinimagen.jpg')}}" alt=""/>
                                        {% endif %}
                                        <figcaption>
                                            <h2>{{ precio.producto.descripcion }}</h2>
                                            <p>{{ precio.producto.categoriasubcategoria.categoria|default('Otros') }}</p>	
                                        </figcaption>			
                                    </figure>
                                </a>
                            </div>
                            {% set precio = random(novedades) %}
                            <div class="col-md-4 about-left">
                                <a href="{{ path('producto_web', {id:precio.producto.id}) }}" class="">
                                    <figure class="effect-bubba">
                                        {% if precio.producto.imagenesproducto|length > 0 %}
                                            {% for imagen in precio.producto.imagenesproducto %}
                                                {% if loop.first %}
                                                    <img class="img-responsive" src="{{asset(imagen.webPath)}}" alt=""/>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <img class="img-responsive" src="{{asset('bundles/web/images/sinimagen.jpg')}}" alt=""/>
                                        {% endif %}
                                        <figcaption>
                                            <h2>{{ precio.producto.descripcion }}</h2>
                                            <p>{{ precio.producto.categoriasubcategoria.categoria|default('Otros') }}</p>	
                                        </figcaption>			
                                    </figure>
                                </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <!--about-end-->
            <!--product-starts-->
            <div class="product" id="product" > 
                <div class="container">
                    <div class="col-md-12" style="text-align:center;">
                        <h3>
                            Productos
                        </h3>				
                    </div>
                    <div class="product-top">
                        <div class="product-one ">                          
                            {% set contador=-1%}
                            {% for entity in novedadesDos %}
                                {% set contador=contador+1%}   
                                {% if contador == 0 %}
                                    <div class="col-md-12" >
                                    {% else %}
                                        {% if contador is divisible by(4) %}
                                        </div>
                                        <div class="col-md-12" >
                                        {% endif %}      
                                    {% endif %}                                
                                    <div class="col-md-3" style="margin-bottom: 2%;" >
                                        <div class="product-main simpleCart_shelfItem">
                                            <a href="{{ path('producto_web', {id:entity.producto.id}) }}" title="{{entity.producto.descripcion}}" class="mask">
                                                {% if entity.producto.imagenesproducto|length > 0 %}
                                                    {% for imagen in entity.producto.imagenesproducto %}
                                                        {% if loop.first %}
                                                            <img width="85%" class="img-responsive zoom-img" src="{{asset(imagen.webPath)}}" alt="" />
                                                        {% endif %}
                                                    {% endfor %}
                                                {% else %}
                                                    <img width="85%" class="img-responsive zoom-img" src="{{asset('bundles/web/images/sinimagen.jpg')}}" alt="" /></a>
                                                {% endif %}                                            
                                            </a>
                                            <div class="product-bottom">
                                                {% if entity.producto.descripcion|length > 23 %}
                                                    <h3>
                                                        {{ entity.producto.descripcion[0:20] }}...
                                                    </h3>
                                                {% else %}
                                                    <h3>
                                                        {{ entity.producto.descripcion }}
                                                    </h3>
                                                {% endif %}
                                                <h4>C&oacute;d. <span class="item_name">{{ entity.producto.codigo }}</span> </h4>
                                                <p>{{ entity.producto.categoriasubcategoria.categoria|default('Otros') }}</p>
                                                <h4>
                                                    <a class="item_add" onclick="add({{entity.producto.id}});" href="#">
                                                        Agregar al carrito<i></i>
                                                    </a> 
                                                    <span class="item_price">
                                                        {% if entity.producto.descuento != '' %}
                                                            <span style="color:green;">$ {{ entity.valor * (100 - entity.producto.descuento) / 100 }}</span>										
                                                        {% else %}
                                                            $ {{ entity.valor }}
                                                        {% endif %}
                                                    </span>                                       
                                                </h4>
                                            </div>
                                            {% if entity.producto.descuento != '' %}
                                                <div class="srch srch1">
                                                    <span>
                                                        <span style="padding: 0px 0px;color: red;padding-right: 10px;;color:red;">
                                                            $ {{ entity.valor }}
                                                        </span>
                                                        -{{entity.producto.descuento}}%
                                                    </span>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                                {% for entity in precios %} 
                                    {% set contador=contador+1%}    
                                    {% if contador is divisible by(4) %}
                                    </div>
                                    <div class="col-md-12" >
                                    {% endif %}      
                                    <div class="col-md-3" style="margin-bottom: 2%;">                                     
                                        <div class="product-main simpleCart_shelfItem">
                                            <a href="{{ path('producto_web', {id:entity.producto.id}) }}" title="{{entity.producto.descripcion}}" class="mask">
                                                {% if entity.producto.imagenesproducto|length > 0 %}
                                                    {% for imagen in entity.producto.imagenesproducto %}
                                                        {% if loop.first %}
                                                            <img width="85%" class="img-responsive zoom-img" src="{{asset(imagen.webPath)}}" alt="" />
                                                        {% endif %}
                                                    {% endfor %}
                                                {% else %}
                                                    <img width="85%" class="img-responsive zoom-img" src="{{asset('bundles/web/images/sinimagen.jpg')}}" alt="" /></a>
                                                {% endif %}
                                            </a>
                                            <div class="product-bottom">
                                                {% if entity.producto.descripcion|length > 23 %}
                                                    <h3>
                                                        {{ entity.producto.descripcion[0:20] }}...
                                                    </h3>
                                                {% else %}
                                                    <h3>
                                                        {{ entity.producto.descripcion }}
                                                    </h3>
                                                {% endif %}
                                                <h4>C&oacute;d. <span class="item_name">{{ entity.producto.codigo }}</span> </h4>
                                                <p>{{ entity.producto.categoriasubcategoria.categoria|default('Otros') }}</p>
                                                <h4>
                                                    <a class="item_add" onclick="add({{entity.producto.id}});" href="#">Agregar al carrito<i></i></a> 
                                                    <span class="item_price">

                                                        {% if entity.producto.descuento != '' %}
                                                            <span style="color:green;">$ {{ entity.valor * (100 - entity.producto.descuento) / 100 }}</span>										
                                                        {% else %}
                                                            $ {{ entity.valor }}
                                                        {% endif %}
                                                    </span>                                                
                                                </h4>
                                            </div>
                                            {% if entity.producto.descuento != '' %}
                                                <div class="srch srch1">
                                                    <span>
                                                        <span style="padding: 0px 0px;color: red;padding-right: 10px;;color:red;">
                                                            $ {{ entity.valor }}
                                                        </span>
                                                        -{{entity.producto.descuento}}%
                                                    </span>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% if loop.last %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div class="clearfix"></div>
                        </div>					
                    </div>
                    <div class="col-sm-12">
                        {{ pagerfanta (precios, 'twitter_bootstrap_translated' , { 'prev_message' : 'Anterior', 'next_message': 'Siguiente'} ) }} 
                    </div>
                </div>
            </div>
            <div class="contact-top heading">
                <h2>CONT&Aacute;CTENOS</h2>
            </div>
            <div class="col-sm-12 hidden-md hidden-lg "> 
                <iframe width="100%" height="400" src="https://www.mapsdirections.info/crear-un-mapa-de-google/map.php?width=100%&height=400&hl=en&q=Libertad%20200%20CABA%20Argentina+(Willy%20Jhons)&ie=UTF8&t=&z=16&iwloc=A&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>

            <div class="hidden-xs hidden-sm col-md-8 col-md-offset-2">
                <iframe width="100%" height="600" src="https://www.mapsdirections.info/crear-un-mapa-de-google/map.php?width=100%&height=600&hl=en&q=Libertad%20200%20CABA%20Argentina+(Willy%20Jhons)&ie=UTF8&t=&z=14&iwloc=A&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
            <br/>
            <!--product-end-->
            <!--Slider-Starts-Here-->
            <script src="{{ asset('bundles/web/js/responsiveslides.min.js') }}"></script>
            <script>
                                                        $(document).ready(function () {
                                                            $('.pagination a').attr('class', 'btn btn-default');
                                                            $('.pagination li').css('float', 'left');
                                                            $('.pagination').css('width', '100%');
                                                        });
                                                        $(function () {
                                                            // Slideshow 4
                                                            $("#slider4").responsiveSlides({
                                                                auto: true,
                                                                pager: true,
                                                                nav: true,
                                                                speed: 500,
                                                                namespace: "callbacks",
                                                                before: function () {
                                                                    $('.events').append("<li>before event fired.</li>");
                                                                },
                                                                after: function () {
                                                                    $('.events').append("<li>after event fired.</li>");
                                                                }
                                                            });
                                                        });
            </script>
        {% endblock %}