{% extends 'JOYASJoyasBundle::baseweb.html.twig' %}
{% block content -%}
	<!--start-breadcrumbs-->
	<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs-main">
				<ol class="breadcrumb">
					<li><a href="{{ path('joyas_joyas_web') }}">Inicio</a></li>
					<li class="active">Iniciar Sesi&oacute;n</li>
				</ol>
			</div>
		</div>
	</div>
	<!--end-breadcrumbs-->
	<div class="register">
		<div class="col-md-12" style="text-align:center;">
			No ten&eacute;s cuenta? <a href="{{ path('joyas_joyas_irregistro') }}">Registrate</a> o pod&eacute;s			
			<div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" 
			data-auto-logout-link="false" scope="public_profile,email" onlogin="checkLoginState()"></div>
			<div id="status">
			</div>
		</div>
		<div class="col-md-12" style="margin-top:2%;text-align:center;">
			<div class="register-top heading">
				<h2>Bienvenido!</h2>
			</div>
		</div>
		<div class="col-md-12" style="text-align:center;">
			<form action="{{ path('joyas_joyas_loginusuarioweb') }}" method="post" autocomplete="false"> 
				<div class="container" style="text-align:center;">
					<div class="register-main">
						<div class="col-md-6 account-left" style="float: none;margin: 0 auto; text-align: center;">
							<input placeholder="Email" name="mail" type="email" class="email" required>
							<input placeholder="Clave" name="clave" type="password" required>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="address submit">
						<input type="submit" value="ENTRAR">
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
