{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}
	<div class="tablasScroll">
		<div class="col-md-12" style="text-align: center;">
			<h2>Pedido {{ pedido.id }}</h2>
		</div>
		<div class="product-top col-md-12">
			<div class="product-one" style="text-align:center;font-size:18px;">
				<div class="col-md-6"> 
					<strong>Usuario - Correo:</strong> {{pedido.usuarioweb.mail}}
				</div>  
				<div class="col-md-6">  
					<strong>Usuario - Nombre:</strong> {{pedido.usuarioweb.nombre}}
				</div>  
				<div class="col-md-6">  
					<strong>Fecha:</strong> {{pedido.fecha|date('Y-m-d')}}
				</div>
				<div class="col-md-6">  
					<strong>Env&iacute;o:</strong> {{pedido.envio }}
				</div>  
				<div class="col-md-6">  
					<strong>Descuento:</strong> % {{pedido.descuento }}
				</div>  
				<div class="col-md-6">  
					<strong>IdPago:</strong> {{pedido.idpago|default('NO TIENE')}}
				</div>
				<div class="col-md-12">  
					<strong>Monto Total:</strong> ${{pedido.total}}<br>
					<strong>Estado del Pago:</strong> {% if pedido.formapago %}
										{% if pedido.formapago == 'P' %}
											<span style="color: blue;">Pendiente de Aprobaci&oacute;n</span>
										{% endif %}
										{% if pedido.formapago == 'S' %}
											<span style="color: green;">Pagado</span>
										{% endif %}
										{% if pedido.formapago == 'F' %}
											<span style="color: red;">Fallo el Pago</span>
										{% endif %}
										{% if pedido.formapago == 'O' %}
											Acuerda con Vendedor
										{% endif %}
								{%else%}
									Sin acordar - (<a href="{{ path('joyas_joyas_formapago', {id: entity.id}) }}">acordar</a>)
								{%endif%}
				</div>  
				<div class="col-md-12" style="margin-top:1%;">  
					<table id="tablas" class="display">
						<thead>
							<tr>
								<th>C&oacute;digo</th>
								<th>Descripci&oacute;n</th>
								<th>Cantidad</th>
								<th>Precio</th>
							</tr>
						</thead>
						<tbody>
						{% for detalle in pedido.detallespedido %}
							<tr>
								<td>{{ detalle.producto.codigo}}</td>
								<td>{{ detalle.producto.descripcion}}</td>
								<td>{{ detalle.cantidad}}</td>
								<td>{{ detalle.precio}}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>  
        		<div class="col-md-12" style="margin-top:1%;"><strong>Observaciones</strong><br />{{ pedido.observacion|raw }}</div>					
			</div>					
		</div>
		<div class="clearfix"></div>
	</div>
{% endblock %}