{% extends 'JOYASJoyasBundle::baseweb.html.twig' %}
{% block content -%}
    <!--product-starts-->
    <div class="product" id="product" > 
        <div class="container">
            <div class="col-md-12" style="text-align: center;">
                <h2>Resultados de la b&uacute;squeda "{{ busc }}"</h2>
            </div>
            <div class="product-top col-md-12">
                <div class="product-one">
                    {% set count = 0 %}
                    {% for entity in precios %}
                        <div class="col-md-4 product-left">
                            <div class="product-main simpleCart_shelfItem" style="margin-top:5%;">
                                <a href="{{ path('producto_web', {id:entity.producto.id}) }}" title="{{ entity.producto.descripcion }}" class="mask">
                                    {% if entity.producto.imagenesproducto|length > 0 %}
                                        {% for imagen in entity.producto.imagenesproducto %}
                                            {% if loop.first %}
                                                <img width="85%" class="img-responsive zoom-img" src="{{asset(imagen.webPath)}}" alt="" />
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <img width="85%" class="img-responsive zoom-img" src="{{asset('bundles/web/images/sinimagen.jpg')}}" alt="" /></a>
                                    {% endif %}
                                </a>
                                <div class="product-bottom">
                                    {% if entity.producto.descripcion|length > 23 %}
                                        <h3>
                                            {{ entity.producto.descripcion[0:20] }}...
                                        </h3>
                                    {% else %}
                                        <h3>
                                            {{ entity.producto.descripcion }}
                                        </h3>
                                    {% endif %}
                                    <h4>C&oacute;d. {{ entity.producto.codigo }}</h4>
                                    <p>{{ entity.producto.categoriasubcategoria|default('Otros (Otros)') }}</p>
                                    <h4>
                                        <a class="item_add" onclick="add({{entity.producto.id}});" href="#">Agregar al carrito<i></i></a> <span class=" item_price">
                                                {% if entity.producto.descuento != '' %}
                                                <span style="color:green;">$ {{ entity.valor * (100 - entity.producto.descuento) / 100 }}</span>										
                                            {% else %}
                                                $ {{ entity.valor }}
                                            {% endif %}
                                        </span>
                                        </span>
                                    </h4>
                                </div>
                                {% if entity.producto.descuento != '' %}
                                    <div class="srch srch1">
                                        <span><span style="padding: 0px 0px;color: red;padding-right: 10px;;color:red;">$ {{ entity.valor }}</span> -{{entity.producto.descuento}}%</span>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        {% set count = count + 1 %}
                    {% endfor %}
                    {% if count == 0 %}
                        <div class="col-md-12 relacionados">
                            Disculpe, la b&uacute;squeda no arroj&oacute; resultados.. <a href="{{path('joyas_joyas_web')}}">Ir al inicio</a>
                        </div>
                    {% endif %}
                    <div class="clearfix"></div>
                </div>					
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--product-end-->
{% endblock %}