{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
	<h1 style="margin-bottom:10px;">
		Tipos de Gasto 
		<a style="float: right;" class="btn btn-default" href="{{ path('tipogasto_new') }}">
			Crear
		</a>
	</h1>

	<div class="tablasScroll">
		<table id="tablas" class="display">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
			{% for entity in entities %}
				<tr>
					<td>{{ entity.nombre }}</td>
					<td>
						<a class="btn btn-default" href="{{ path('tipogasto_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i></a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
    <script>
	
	activarMenuTab('parametria');
	// activarActionsTab('tipogasto');
</script>
{% endblock %}
