{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}

<div class="filtrocabecera">
		Informe de Listas de Precios
</div>

<div class="controls filtrocuerpo">

		<form action="{{ path('listaprecio_generarInformePrecios') }}" method="POST" style="margin-top: 20px;" autocomplete="off">
		<div class="control-group" style="text-align: center">
			<div class="controls">
					Lista de Precio: <br>
					<select class="form-control" name="listado" style="width: 100%; margin: 0 auto;">
						{% for lista in listas %}
							<option value="{{ lista.id }}">
								{{ lista.descripcion }}
								{% if perfil == 'ADMINISTRADOR' %}
								- {{ lista.unidadNegocio }}
								{% endif %}
							</option>
						{% endfor %}
				   </select>
			</div>
			<br/>
			<button class="btn btn-default" type="submit">Ingresar</button>
		</div>
	</form>
</div>
<script>
	// activarActionsTab('informelistaprecios');
</script>
{% endblock %}
