{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}
    <h1>Edici&oacute;n de Consignacion</h1>

    <div class="joyas-container facturas" style="width: 100% !important; margin: 0 auto;">
		<div class="container">
		<form action="" method="POST" id="form" onKeypress="if(event.keyCode == 13) event.returnValue = false;">
			<div class="facturaVenta">
				<label>Cliente</label>
				<div style="margin-bottom: 10px;">				
				{{ entity.clienteProveedor }}
				<input type="hidden" value="{{ entity.clienteProveedor.id }}" name="cliente">
				</div>
			</div>
			<div class="facturaVenta">
				<label>Lista de Precio</label>
				<div style="margin-bottom: 10px;">
				{{ entity.listaPrecio }}
				{% if perfil == 'ADMINISTRADOR' %}
					- {{ entity.listaPrecio.unidadNegocio }}
				{% endif %}				
				<input type="hidden" value="{{ entity.listaPrecio.id }}" name="listaPrecio">
				</div>
			</div>
			<div class="facturaVenta">
				<label>Descuento</label>
				<input type="number" name="descuento" value="{{ entity.descuento }}" onblur="$('#desc').html('%'+this.value); calcularResultado();" id="descuento" min="0" max="100"  />
			</div>
			<div class="facturaVenta">
				<label>Bonificaci&oacute;n</label>
				<input type="type" name="bonificacion" value="{{ entity.bonificacion }}" onblur="$('#bonif').html(this.value); calcularResultado();" id="bonificacion" />
			</div>
			<div class="facturaVenta">
				<label>Fecha Vencimiento</label>
				<input type="text" onkeypress="return false;" value="{% if entity.fechaVencimiento %}{{ entity.fechaVencimiento|date('d-m-Y') }}{% endif %}" name="fechavencimiento" id="fechavencimiento" />
			</div>
			<div class="facturaVenta" style="height: 53px;padding: 3%;">
			{% if algo != 'facturar' %}
				<a class="btn btn-default" href="#" onClick="agregar()" style="" >Agregar Producto</a>
			{% endif %}
			</div>
			<div style="width: 100% !important; float: left;">
				<table class="table table-condensed ado">
					<thead>
						<tr>
							<th>Cantidad</th>
							<th>C&oacute;digo</th>
							<th>Descripci&oacute;n</th>
							<th>Precio</th>
						{% if algo == 'facturar' %}
							<th width="23%" >Seleccionar</th>
						{% endif %}
						</tr>
					</thead>
					<tbody id="agregar">
					{% set cont = 0 %}
					{% for prodCon in entity.productosConsignacion %}	
						<tr>

						{% if algo == 'facturar' %}
							<td><input type="text" value="{{ prodCon.cantidad }}" pattern="^-?[0-9]+(\.[0-9]{1,2})?$" onblur="calcularResultado();" name="cantidad{{cont}}" id="cantidad{{cont}}" required readonly /></td>
						{% else %}
							<td><input type="text" value="{{ prodCon.cantidad }}" pattern="^-?[0-9]+(\.[0-9]{1,2})?$" onblur="calcularResultado();" name="cantidad{{cont}}" id="cantidad{{cont}}" required /></td>
						{% endif %}
							<td><input name="codigo{{cont}}" value="{{ prodCon.producto.codigo }}" onblur="cargarProd({{cont}});" id="codigo{{cont}}" required class="desb" readonly/></td>
							<td><input name="descripcion{{cont}}" class="descripcionProd" value="{{ prodCon.producto.descripcion }}" id="descripcion{{cont}}" required readonly /></td>
						{% if algo == 'facturar' %}
							<td><input name="precio{{cont}}" value="{{ prodCon.precio }}" class="precio" id="precio{{cont}}" required pattern="^-?[0-9]+(\.[0-9]{1,2})?$" onblur="calcularResultado();" readonly/></td>
						{% else %}
							<td><input name="precio{{cont}}" value="{{ prodCon.precio }}" class="desb  precio" id="precio{{cont}}" required pattern="^-?[0-9]+(\.[0-9]{1,2})?$" onblur="calcularResultado();"/></td>
						{% endif %}
						{% if algo == 'facturar' %}
							<td><input type="checkbox" onclick="comprobar();" name="checkbox{{cont}}" class="selector" /></td>
						{% endif %}
						</tr>
					{% set cont = cont+1 %}
					{% endfor %}
					</tbody>
				</table>
			</div>

			<div class="botones" id="botones">
				{% if algo == 'facturar' %}
				<a class="btn btn-default facturar facturatotal" href="#" id="emitir" onclick="$('#tipo').val('total'); facturaTotal();">
					Facturaci&oacute;n Total
				</a>
				<a class="btn btn-default facturar" href="#" id="emitir" onclick="$('#tipo').val('parcial'); facturaParcial();">
					Facturaci&oacute;n Parcial
				</a>
				{% endif %}
				{% if algo == 'editar' %}
				<a class="btn btn-default" href="#" id="emitir" onclick="comprobarDatos();">
					Emitir Consignacion
				</a>
				{% endif %}

				<a class="btn btn-default" href="{{ path('consignacion') }}">
					Volver
				</a>
			</div>
			<div class="saldo">	
				<table style="text-align: right">
					<tr>
						<td><strong>Sub Total:</strong></td>
						<td><span id="subtotal"></span></td>
					</tr>
					<tr>
						<td><strong>Descuento:</strong></td>
						<td><span id="desc"></span></td>
					</tr>
					<tr>
						<td><strong>Bonificaci&oacute;n:</strong></td>
						<td>(-) <span id="bonif"></span></td>
					</tr>
					<tr>
						<td><strong>SALDO TOTAL:</strong></td>
						<td><strong><span id="resultado"></span></strong></td>
					</tr>
				<table>
			</div>
			<input name="importeFinal" id="importeFinal" type="hidden" value=""/>
			<input name="consignacion" id="consignacion" type="hidden" value="si"/>
			<input name="idCons" id="idCons" type="hidden" value="{{entity.id}}"/>
			<input name="tipo" id="tipo" type="hidden" value=""/>			
			<input name="contador" id="contador" type="hidden" value="{{ cont }}"/>
			</form>
		</div>
	</div>

<script>

	var contador = $('#contador').val();
	var moneda = '';

	function comprobar(){
		var c = 0;
		$('.selector:checked').each(
			function() {
				c++;
			}
		);
		if(c > 0){
			$('.facturatotal').css({'display':'none'});
		}else{
			$('.facturatotal').css({'display':''});
		}	
	}
	
	function borrarDatos(){
		$('#cantidad0').val('');
		$('#descripcion0').val('');
		$('#precio0').val('');
		$('#codigo0').val('');
		calcularResultado();		
	}

	function facturaParcial(){
		var c = 0;
		$('#botones').css({'display':'none'});
		$('.selector:checked').each(
			function() {
				c++;
			}
		);
		if(c > 0){
			var action = "{{ path('factura_parcial') }}";			
			$('#form').attr("action", action);				
			$('#form').submit();
		}else{
			alert('Debe seleccionar al mes un producto para facturar.');
			$('#botones').css({'display':'block'});
		}

	}

	function facturaTotal(){
		$('#botones').css({'display':'none'});
		if($('#cliente').val()!= '0'){
				var action = "{{ path('factura_create') }}";			
				$('#form').attr("action", action);				
				$('#form').submit();
		}else{
			alert('Debe elegir Cliente y al menos UN producto para poder emitir la factura.');
			$('#botones').css({'display':'block'});
		}
	}
	
	function comprobarDatos(){
		$('#botones').css({'display':'none'});
		if($('#cliente').val()!= '0'){
				var action = "{{ path('consignacion_update', {'id': entity.id}) }}";
				
				$('#form').attr("action", action);				
				$('#form').submit();
		}else{
			alert('Debe elegir Cliente y al menos UN producto para poder emitir la consignacion.');
			$('#botones').css({'display':'block'});
		}
	}
	
	function agregar(){
		$( "#agregar" ).append('<tr id="lineaAgregada'+contador+'"><td><input class="desb form-control" name="cantidad'+contador+'" id="cantidad'+contador+'" onblur="calcularResultado();" required /></td><td><input class="desb form-control" onblur="cargarProd('+contador+');" name="codigo'+contador+'" id="codigo'+contador+'" required /></td><td><input name="descripcion'+contador+'" class="descripcionProd form-control" id="descripcion'+contador+'" required readonly /></td><td><input name="precio'+contador+'" id="precio'+contador+'" required pattern="^-?[0-9]+(\.[0-9]{1,2})?$" onblur="calcularResultado();" class="desb precio form-control"/></td><td></td></tr>');
		
		contador++;
		$('#contador').val(contador);
	}

	function borrarLinea(cont){
		var id = '#lineaAgregada'+cont;
		$( id ).remove();
		calcularResultado();
	}

	function cargarProd(cont){
		var idLista = '{{entity.listaPrecio.id}}';
		if($('#codigo'+cont).val()!=''){
			switch (idLista) {
				case "{{entity.listaPrecio.id}}":
					moneda = '{{entity.listaPrecio.monedaStr}}';
					switch ($('#codigo'+cont).val()) {
					{% for precio in entity.listaPrecio.precios %}
							case "{{precio.producto.codigo|trim}}":
								var cantidad = {{precio.producto.stock}};
								if($('#cantidad'+cont).val()==''){
									$('#cantidad'+cont).val('1');
								}
								if(cantidad>=$('#cantidad'+cont).val()){
									$('#precio'+cont).val('{{precio.valor}}');
									$('#descripcion'+cont).val('{{precio.producto.descripcion}}');
								}else{
									$('#precio'+cont).val('{{precio.valor}}');
									$('#descripcion'+cont).val('{{precio.producto.descripcion}}');
									alert('ALERTA: STOCK insuficiente para el producto "{{precio.producto.descripcion}}"');
								}
								agregar();
								cc = cont + 1;
								$('#cantidad'+cc).focus();								
								break;
					{% endfor %}						
					}
					break;
			}
			if($('#codigo'+cont).val()=='000'){
				if($('#cantidad'+cont).val()==''){
					$('#cantidad'+cont).val('1');
				}
				$('#precio'+cont).val('0').removeAttr('readonly');
				$('#descripcion'+cont).val('Producto Generico');
				agregar();
				cc = cont + 1;
				$('#precio'+cont).focus();			
			}				
		}else{
			$('#precio'+cont).val('');
			$('#descripcion'+cont).val('');
		}
		calcularResultado();
	}
	
	function calcularResultado(){
		var total = 0;
		var subtotal = 0;
		
		for(i=0; i<contador; i++){
			if(typeof $('#precio'+i).val() === "undefined"){
			}else{
				var precio = $('#precio'+i).val();
				var cantidad = $('#cantidad'+i).val();

				if($('#precio'+i).val()!=''){
					subtotal = subtotal + ($('#precio'+i).val()*$('#cantidad'+i).val());
				}
			}
		}
		
		if(subtotal!=0){
			if($('#descuento').val()!='' && $('#descuento').val()!='0'){
				var desc = '0.'+(100-$('#descuento').val());
				if($('#descuento').val()<10){
					var descInv = '0.0'+$('#descuento').val();
				}else{
					var descInv = '0.'+$('#descuento').val();				
				}			
				total = (subtotal*desc) - $('#bonificacion').val();
				
				var dd = subtotal*descInv;
				dd = Math.round(dd * 100) / 100;	
				$('#desc').html('%'+$('#descuento').val()+'('+moneda+' '+dd+')');
			}else{
				total = subtotal - $('#bonificacion').val();
			}
		}
		
		subtotal = Math.round(subtotal * 100) / 100;
		total = Math.round(total * 100) / 100;
		
		$('#subtotal').html(moneda+' '+subtotal);		
		$('#resultado').html(moneda+' '+total);		
		$('#importeFinal').val(total);				
	}
	
	// activarActionsTab('consignaciones');

	$(document).ready(function() {
		$( "input" ).each(function() {
			var css = $(this).attr('class');
			css = css + ' form-control';
			$(this).attr('class', css);
		});	

		$('select').attr('class', 'form-control');

		
		calcularResultado();
				
		$('input').blur(function(){
			var str = $( this ).val(); 
			$( this ).val(str.replace(",", "."));	
			calcularResultado();
		});

		$('#cliente').change(function(){
			if($('#cliente').val()!='0'){		
				$('.desb').removeAttr('readonly');
			}else{
				$('.desb').prop('readonly', 'readonly');
				$('table input').val('');
			}			
		});
		$('#cliente').blur(function(){
			if($('#cliente').val()!='0'){		
				$('.desb').removeAttr('readonly');
			}else{
				$('.desb').prop('readonly', 'readonly');
				$('table input').val('');
			}			
		});
	});

</script>
{% endblock %}
