{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}
    <h1>Creaci&oacute;n de Consignaci&oacute;n</h1>
    <div class="joyas-container facturas" style="width: 100% !important; margin: 0 auto;">
		<div class="container">
		<form action="{{ path('consignacion_create') }}" method="POST" id="form" onKeypress="if(event.keyCode == 13) event.returnValue = false;">
			<div class="facturaVenta">
				<label>Cliente</label>
				<select name="cliente" id="cliente">
					<option value="0">Elija</option>
				{% for cliente in clientes %}
					{% if cliente.clienteProveedor == '1' %}
						<option value="{{cliente.id}}">{{cliente.razonSocial}}</option>
					{% endif %}
				{% endfor %}
				</select>
			</div>
			<div class="facturaVenta">
				<label>Lista de Precio</label><br>
				<div style="margin-bottom: 10px;">
				{{ listaPrecio.descripcion }}
				{% if perfil == 'ADMINISTRADOR' %}
					- {{ listaPrecio.unidadNegocio }}
				{% endif %}
				</div>
				<input type="hidden" value="{{ listaPrecio.id }}" name="listaPrecio" />
			</div>
			<div class="facturaVenta">
				<label>Descuento</label>
				<input type="number" name="descuento" onblur="$('#desc').html('%'+this.value); calcularResultado();" id="descuento" min="0" max="100"  />
			</div>
			<div class="facturaVenta">
				<label>Bonificaci&oacute;n</label>
				<input type="type" name="bonificacion" onblur="$('#bonif').html(this.value); calcularResultado();" id="bonificacion" />
			</div>
			<div class="facturaVenta">
				<label>Fecha Vencimiento</label>
				<input type="text" onkeypress="return false;" name="fechavencimiento" id="fechavencimiento" />
			</div>

			<div style="width: 100% !important; float: left;">
				<table class="table table-condensed ado">
					<thead>
						<tr>
							<th>Cantidad</th>
							<th>C&oacute;digo</th>
							<th>Descripci&oacute;n</th>
							<th>Precio</th>
							<th width="23%" >Acci&oacute;n</th>
						</tr>
					</thead>
					<tbody id="agregar">
						<tr>
							<td><input type="text" pattern="^-?[0-9]+(\.[0-9]{1,2})?$" onblur="calcularResultado();" name="cantidad0" id="cantidad0" readonly class="desb" required /></td>
							<td><input name="codigo0" onblur="cargarProd(0);" id="codigo0" required class="desb" readonly/></td>
							<td><input name="descripcion0" class="descripcionProd" id="descripcion0" required readonly /></td>
							<td><input name="precio0" class="desb  precio" id="precio0" required readonly pattern="^-?[0-9]+(\.[0-9]{1,2})?$" onblur="calcularResultado();"/></td>
							<td><a href="#" onclick="borrarDatos();" class="btn btn-default">Eliminar</a></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="botones" id="botones">
				<a class="btn btn-default" href="#" id="emitir" onclick="comprobarDatos();">
					Emitir Consignaci&oacute;n
				</a>
				<a class="btn btn-default" href="{{ path('consignacion') }}">
					Volver
				</a>
			</div>
			<div class="saldo">	
				<table style="text-align: right">
					<tr>
						<td><strong>Sub Total:</strong></td>
						<td><span id="subtotal"></span></td>
					</tr>
					<tr>
						<td><strong>Descuento:</strong></td>
						<td><span id="desc"></span></td>
					</tr>
					<tr>
						<td><strong>Bonificaci&oacute;n:</strong></td>
						<td>(-) <span id="bonif"></span></td>
					</tr>
					<tr>
						<td><strong>SALDO TOTAL:</strong></td>
						<td><strong><span id="resultado"></span></strong></td>
					</tr>
				<table>
			</div>
			<input name="importeFinal" id="importeFinal" type="hidden" value=""/>
			<input name="contador" id="contador" type="hidden" value="1"/>
			</form>
		</div>
	</div>

<script>

	var contador = 1;
	var moneda = '';

	function borrarDatos(){
		$('#cantidad0').val('');
		$('#descripcion0').val('');
		$('#precio0').val('');
		$('#codigo0').val('');
		calcularResultado();		
	}
	
	function comprobarDatos(){
		$('#botones').css({'display':'none'});
		if($('#cliente').val()!= '0'){
			
				$('#form').submit();

		}else{
			alert('Debe elegir Cliente y al menos UN producto para poder emitir la consignaci&oacute;n.');
			$('#botones').css({'display':'block'});
		}
	}
	
	function agregar(){
		$( "#agregar" ).append('<tr id="lineaAgregada'+contador+'"><td><input class="desb form-control" name="cantidad'+contador+'" id="cantidad'+contador+'" onblur="calcularResultado();" required /></td><td><input class="desb form-control" onblur="cargarProd('+contador+');" name="codigo'+contador+'" id="codigo'+contador+'" required /></td><td><input name="descripcion'+contador+'" class="descripcionProd form-control" id="descripcion'+contador+'" required readonly /></td><td><input name="precio'+contador+'" id="precio'+contador+'" required pattern="^-?[0-9]+(\.[0-9]{1,2})?$" onblur="calcularResultado();" class="desb precio form-control"/></td><td><a href="#" onclick="borrarLinea('+contador+')" class="btn btn-default">Eliminar</a></td></tr>');
		
		if($('#cliente').val()!='0' && $('#listaPrecio').val()!='0'){		
			$('.desb').removeAttr('readonly');
		}else{
			$('.desb').prop('readonly', 'readonly');
		}
		contador++;
		$('#contador').val(contador);
	}

	function borrarLinea(cont){
		var id = '#lineaAgregada'+cont;
		$( id ).remove();
		calcularResultado();
	}

	function cargarProd(cont){
		var idLista = '{{listaPrecio.id}}';
		if($('#codigo'+cont).val()!=''){
			switch (idLista) {
				case "{{listaPrecio.id}}":
					moneda = '{{listaPrecio.monedaStr}}';
					switch ($('#codigo'+cont).val()) {
					{% for precio in listaPrecio.precios %}
							case "{{precio.producto.codigo|trim}}":
								var cantidad = {{precio.producto.stock}};
								if($('#cantidad'+cont).val()==''){
									$('#cantidad'+cont).val('1');
								}
								if(cantidad>=$('#cantidad'+cont).val()){
									$('#precio'+cont).val('{{precio.valor}}');
									$('#descripcion'+cont).val('{{precio.producto.descripcion}}');
								}else{
									$('#precio'+cont).val('{{precio.valor}}');
									$('#descripcion'+cont).val('{{precio.producto.descripcion}}');
									alert('ALERTA: STOCK insuficiente para el producto "{{precio.producto.descripcion}}"');
								}
								agregar();
								cc = cont + 1;
								$('#cantidad'+cc).focus();								
								break;
					{% endfor %}						
					}
					break;
			}
			if($('#codigo'+cont).val()=='000'){
				if($('#cantidad'+cont).val()==''){
					$('#cantidad'+cont).val('1');
				}
				$('#precio'+cont).val('0').removeAttr('readonly');
				$('#descripcion'+cont).val('Producto Generico');
				agregar();
				cc = cont + 1;
				$('#precio'+cont).focus();			
			}				
		}else{
			$('#precio'+cont).val('');
			$('#descripcion'+cont).val('');
		}
		calcularResultado();
	}
	
	function calcularResultado(){
		var total = 0;
		var subtotal = 0;
		for(i=0; i<contador; i++){
			if(typeof $('#precio'+i).val() === "undefined"){
			}else{
				if($('#precio'+i).val()!=''){
					subtotal = subtotal + ($('#precio'+i).val()*$('#cantidad'+i).val());
				}
			}
		}
		
		if(subtotal!=0){
			if($('#descuento').val()!=''){
				var desc = '0.'+(100-$('#descuento').val());
				var descInv = '0.'+$('#descuento').val();
				total = (subtotal*desc) - $('#bonificacion').val();
				
				$('#desc').html('%'+$('#descuento').val()+'('+moneda+' '+subtotal*descInv+')');
			}else{
				total = subtotal - $('#bonificacion').val();
			}
		}
		
		subtotal = Math.round(subtotal * 100) / 100;
		total = Math.round(total * 100) / 100;
		
		$('#subtotal').html(moneda+' '+subtotal);		
		$('#resultado').html(moneda+' '+total);		
		$('#importeFinal').val(total);				
	}
	
	// activarActionsTab('consignaciones');

	$(document).ready(function() {
		$( "input" ).each(function() {
			var css = $(this).attr('class');
			css = css + ' form-control';
			$(this).attr('class', css);
		});	

		$('select').attr('class', 'form-control');


		function calcularResultado(){
			var total = 0;
			var subtotal = 0;
			for(i=0; i<contador; i++){
				if(typeof $('#precio'+i).val() === "undefined"){
				}else{
					if($('#precio'+i).val()!=''){
						subtotal = subtotal + ($('#precio'+i).val()*$('#cantidad'+i).val());
					}
				}
			}
			
			if(subtotal!=0){
				if($('#descuento').val()!=''){
					var desc = '0.'+(100-$('#descuento').val());
					var descInv = '0.'+$('#descuento').val();
					total = (subtotal*desc) - $('#bonificacion').val();
					
					$('#desc').html('%'+$('#descuento').val()+'('+moneda+' '+subtotal*descInv+')');
				}else{
					total = subtotal - $('#bonificacion').val();
				}
			}
			
			subtotal = Math.round(subtotal * 100) / 100;
			total = Math.round(total * 100) / 100;
			
			$('#subtotal').html(moneda+' '+subtotal);		
			$('#resultado').html(moneda+' '+total);		
			$('#importeFinal').val(total);		
		}
		
		$('input').blur(function(){
			var str = $( this ).val(); 
			$( this ).val(str.replace(",", "."));	
			calcularResultado();
		});

		$('#cliente').change(function(){
			if($('#cliente').val()!='0'){		
				$('.desb').removeAttr('readonly');
			}else{
				$('.desb').prop('readonly', 'readonly');
				$('table input').val('');
			}			
		});
		$('#cliente').blur(function(){
			if($('#cliente').val()!='0'){		
				$('.desb').removeAttr('readonly');
			}else{
				$('.desb').prop('readonly', 'readonly');
				$('table input').val('');
			}			
		});
	});

</script>
{% endblock %}
