{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
    <h1 style="margin-bottom:10px;">
        Categor&iacute;a - Subcategor&iacute;a
        <a style="float: right;" class="btn btn-default" href="{{ path('categoriasubcategoria_new') }}">
            Crear
        </a>
    </h1>
    <div class="tablasScroll">
        <table id="tablas" class="display">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Metal</th>
                    <th>Categor&iacute;a</th>
                    <th>Subcategor&iacute;a</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>
                            {{ entity.id }}
                        </td>
                        <td>
                            {{ entity.metal }}
                        </td>                           
                        <td>
                            {{ entity.categoria }}
                        </td>
                        <td>
                            {{ entity.subcategoria }}
                        </td>
                        <td>
                            <a class="btn btn-default" href="{{ path('categoriasubcategoria_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i></a>
                            <a class="btn btn-danger" href="{{ path('categoriasubcategoria_delete', { 'id': entity.id }) }}"><i class="fa fa-times"></i></a>                                                                                    
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
