{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}
    <div class="row">
        <h1 >
            <div class="col-md-6">
                Administraci&oacute;n de Caja 
            </div>
            <div class="col-md-6">
                {% if perfil == 'ADMINISTRADOR' %}							
                    <form id="searchForm" action="{{ path('movimientocc_filtro') }}" method="POST">
                        <div class="col-xs-10">
                            <select name="unidadnegocio" class="form-control">
                                <option value="0">Elegir Unidad</option>
                                {% for unidad in unidades %}
                                    <option value="{{ unidad.id }}">{{ unidad.descripcion }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-xs-2">
                            <button class="btn btn-default" type="submit" >
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </form>
                {% endif %}
            </div>
        </h1>
    </div>

    <div class="panel-body">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab">$ y U$D</a></li>
            <li><a href="#oroplata" data-toggle="tab">Oro y Plata</a></li>
            <li><a href="#cheque" data-toggle="tab">Cheques</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="home">
                {% set pesosD = 0 %}
                {% set pesosH = 0 %}
                {% set dolaresD = 0 %}
                {% set dolaresH = 0 %}
                <div class="tablasScroll" id="tablasScroll" style="border: none;">
                    <table class="table table-bordered table-striped" >
                        <thead>
                            <tr>
                                <th colspan="2" >			
                                    {% if perfil == 'ADMIN' %}
                                        <a class="btn btn-default" href="{{ path('documento_new', {'tipo': 'A'}) }}">
                                            Ajuste
                                        </a>		
                                        <a class="btn btn-default" href="{{ path('movimientocc_imprimir') }}">
                                            Imprimir
                                        </a>				
                                    {% endif %}
                                </th>
                                <th colspan="3" style="text-align:center">Pesos ($)</th>
                                <th colspan="3" style="text-align:center">Dolar (u$s)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td width="20%">Fecha</td>
                                <td width="20%">Movimiento</td>
                                <td width="10%">Debe</td>
                                <td width="10%">Haber</td>
                                <td width="10%">Saldo</td>
                                <td width="10%">Debe</td>
                                <td width="10%">Haber</td>
                                <td width="10%">Saldo</td>
                            </tr>
                            {% for entity in entities %}
                                {% set efectivoconsulta = entity.documento.efectivo|default('') %}
                                {% if efectivoconsulta != ''  %}
                                    {% if entity.tipoDocumento == 'R' or entity.tipoDocumento == 'RP' or entity.tipoDocumento == 'G' or entity.tipoDocumento == 'A' %}

                                        <tr>
                                            <td>{{ entity.documento.fechaRegistracion|date('d-m-Y') }}</td>
                                            <td>
                                                <a href="{{ path('documento_show', {'id': entity.documento.id}) }}"> 
                                                    {% if entity.tipoDocumento == 'R' %} 
                                                        RECIBO CLIENTE {{ entity.documento.id }}
                                                    {% endif %}
                                                    {% if entity.tipoDocumento == 'RP' %} 
                                                        RECIBO PROV. {{ entity.documento.id }}
                                                    {% endif %}
                                                    {% if entity.tipoDocumento == 'G' %} 
                                                        GASTO {{ entity.documento.id }}
                                                    {% endif %}
                                                    {% if entity.tipoDocumento == 'A' %} 
                                                        AJUSTE {{ entity.documento.id }}
                                                    {% endif %}
                                                </a> 
                                            </td>
                                            {% if entity.tipoDocumento == 'R'  %} 
                                                {% if entity.monedaStr == 'ARG' %} 
                                                    {% set pesosD = entity.documento.efectivo + pesosD %}
                                                    <td>$ {{ entity.documento.efectivo }}</td>
                                                    <td></td>
                                                    <td>$ {{ pesosD - pesosH }}</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                {% else %}
                                                    {% set dolaresD = entity.documento.efectivo + dolaresD %}
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>U$S {{ entity.documento.efectivo }}</td>
                                                    <td></td>
                                                    <td>U$S {{ dolaresD - dolaresH }}</td>
                                                {% endif %}
                                            {% endif %}
                                            {% if entity.tipoDocumento == 'RP' or entity.tipoDocumento == 'G' %} 
                                                {% if entity.monedaStr == 'ARG' %} 
                                                    {% set pesosH = entity.documento.efectivo + pesosH %}
                                                    <td></td>
                                                    <td>$ {{ entity.documento.efectivo }}</td>
                                                    <td>$ {{ pesosD - pesosH }}</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                {% else %}
                                                    {% set dolaresH = entity.documento.efectivo + dolaresH %}
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>U$S {{ entity.documento.efectivo }}</td>
                                                    <td>U$S {{ dolaresD - dolaresH }}</td>
                                                {% endif %}
                                            {% endif %}
                                            {% if entity.tipoDocumento == 'A' %} 
                                                {% if entity.monedaStr == 'ARG' %}
                                                    {% if entity.documento.efectivo <0 %} 
                                                        {% set pesosH = entity.documento.efectivo * (-1) + pesosH %}
                                                        <td></td>
                                                        <td>$ {{ entity.documento.efectivo * (-1) }}</td>
                                                        <td>$ {{ pesosD - pesosH }}</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>								
                                                    {% else %} 
                                                        {% set pesosD = entity.documento.efectivo + pesosD %}
                                                        <td>$ {{ entity.documento.efectivo }}</td>
                                                        <td></td>
                                                        <td>$ {{ pesosD - pesosH }}</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    {% endif %} 
                                                {% else %}
                                                    {% if entity.documento.efectivo <0 %} 
                                                        {% set dolaresH = entity.documento.efectivo * (-1) + dolaresH %}
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>U$S {{ entity.documento.efectivo * (-1) }}</td>
                                                        <td>U$S {{ dolaresD - dolaresH }}</td>
                                                    {% else %} 
                                                        {% set dolaresD = entity.documento.efectivo + dolaresD %}
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>U$S {{ entity.documento.efectivo }}</td>
                                                        <td></td>
                                                        <td>U$S {{ dolaresD - dolaresH }}</td>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        </tr>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="2" >			
                                    {% if perfil == 'ADMIN' or perfil == 'ADMINISTRADOR'%}
                                        <a class="btn btn-default" href="{{ path('documento_new', {'tipo': 'A'}) }}">
                                            Ajuste
                                        </a>		
                                        <a class="btn btn-default" href="{{ path('movimientocc_imprimir') }}">
                                            Imprimir
                                        </a>				
                                    {% endif %}
                                </th>
                                <th colspan="3" style="text-align:center">SALDO $ {{ pesosD - pesosH }}</th>
                                <th colspan="3" style="text-align:center">SALDO u$s {{ dolaresD - dolaresH }}</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="oroplata">
                {% set pesosD = 0 %}
                {% set pesosH = 0 %}
                {% set dolaresD = 0 %}
                {% set dolaresH = 0 %}
                <div class="tablasScroll" id="tablasScroll" style="border: none;">
                    <table class="table table-bordered table-striped" >
                        <thead>
                            <tr>
                                <th colspan="2" >			
                                    {% if perfil == 'ADMIN' %}
                                        <a class="btn btn-default" href="{{ path('documento_new', {'tipo': 'A'}) }}">
                                            Ajuste
                                        </a>		
                                        <a class="btn btn-default" href="{{ path('movimientocc_imprimir') }}">
                                            Imprimir
                                        </a>				
                                    {% endif %}
                                </th>
                                <th colspan="3" style="text-align:center">Oro 24k</th>
                                <th colspan="3" style="text-align:center">Plata</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td width="20%">Fecha</td>
                                <td width="20%">Movimiento</td>
                                <td width="10%">Debe</td>
                                <td width="10%">Haber</td>
                                <td width="10%">Saldo</td>
                                <td width="10%">Debe</td>
                                <td width="10%">Haber</td>
                                <td width="10%">Saldo</td>
                            </tr>
                            {% for entity in entities %}
                                {% set oroo = entity.documento.oro|default('') %}
                                {% set plataa = entity.documento.plata|default('') %}
                                {% if oroo != '' or plataa != '' %}
                                    {% if entity.tipoDocumento == 'R' or entity.tipoDocumento == 'RP' or entity.tipoDocumento == 'G' or entity.tipoDocumento == 'A' %}
                                        <tr>
                                            <td>{{ entity.documento.fechaRegistracion|date('d-m-Y') }}</td>
                                            <td>
                                                <a href="{{ path('documento_show', {'id': entity.documento.id}) }}"> 
                                                    {% if entity.tipoDocumento == 'R' %} 
                                                        RECIBO CLIENTE {{ entity.documento.id }}
                                                    {% endif %}
                                                    {% if entity.tipoDocumento == 'RP' %} 
                                                        RECIBO PROV. {{ entity.documento.id }}
                                                    {% endif %}
                                                    {% if entity.tipoDocumento == 'G' %} 
                                                        GASTO {{ entity.documento.id }}
                                                    {% endif %}
                                                    {% if entity.tipoDocumento == 'A' %} 
                                                        AJUSTE {{ entity.documento.id }}
                                                    {% endif %}
                                                </a> 
                                            </td>
                                            {% if entity.tipoDocumento == 'R'  %} 
                                                {% set pesosD = entity.documento.oro|default('0') + pesosD %}
                                                <td>{{ entity.documento.oro|default('0') }} gr</td>
                                                <td></td>
                                                <td>{{ pesosD - pesosH }} gr</td>
                                                {% set dolaresD = entity.documento.plata|default('0') + dolaresD %}
                                                <td>{{ entity.documento.plata|default('0') }} gr</td>
                                                <td></td>
                                                <td>{{ dolaresD - dolaresH }} gr</td>
                                            {% endif %}
                                            {% if entity.tipoDocumento == 'RP' or entity.tipoDocumento == 'G' %} 
                                                {% set pesosH = entity.documento.oro|default('0') + pesosH %}
                                                <td></td>
                                                <td>{{ entity.documento.oro|default('0') }} gr</td>
                                                <td>{{ pesosD - pesosH }} gr</td>
                                                {% set dolaresH = entity.documento.plata|default('0') + dolaresH %}
                                                <td></td>
                                                <td>{{ entity.documento.plata|default('0') }} gr</td>
                                                <td>{{ dolaresD - dolaresH }} gr</td>
                                            {% endif %}
                                            {% if entity.tipoDocumento == 'A' %} 
                                                {% if entity.documento.oro < 0 %} 
                                                    {% set pesosH = entity.documento.oro|default('0') * (-1) + pesosH %}
                                                    <td></td>
                                                    <td>{{ entity.documento.oro|default('0') * (-1) }} gr</td>
                                                    <td>{{ pesosD - pesosH }} gr</td>
                                                {% else %} 
                                                    {% set pesosD = entity.documento.oro|default('0') + pesosD %}
                                                    <td>{{ entity.documento.oro|default('0') }} gr</td>
                                                    <td></td>
                                                    <td>{{ pesosD - pesosH }} gr</td>
                                                {% endif %}
                                                {% if entity.documento.plata < 0 %} 
                                                    {% set dolaresH = entity.documento.plata|default('0') * (-1) + dolaresH %}
                                                    <td></td>
                                                    <td>{{ entity.documento.plata|default('0') * (-1) }} gr</td>
                                                    <td>{{ dolaresD - dolaresH }} gr</td>
                                                {% else %} 
                                                    {% set dolaresD = entity.documento.plata|default('0') + dolaresD %}
                                                    <td>{{ entity.documento.plata|default('0') }} gr</td>
                                                    <td></td>
                                                    <td>{{ dolaresD - dolaresH }} gr</td>
                                                {% endif %}
                                            {% endif %}
                                        </tr>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="2" >			
                                    {% if perfil == 'ADMIN' or perfil == 'ADMINISTRADOR'%}
                                        <a class="btn btn-default" href="{{ path('documento_new', {'tipo': 'A'}) }}">
                                            Ajuste
                                        </a>		
                                        <a class="btn btn-default" href="{{ path('movimientocc_imprimir') }}">
                                            Imprimir
                                        </a>				
                                    {% endif %}
                                </th>
                                <th colspan="3" style="text-align:center">Saldo en Oro {{ pesosD - pesosH }} gr</th>
                                <th colspan="3" style="text-align:center">Saldo en Plata {{ dolaresD - dolaresH }} gr</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>            
            <div class="tab-pane fade" id="cheque">
                {% set chequeD = 0 %}
                {% set chequeH = 0 %}
                <div class="tablasScroll" id="tablasScroll" style="border: none;">
                    <table class="table table-bordered table-striped" >
                        <thead>
                            <tr>
                                <th colspan="2" >			
                                    {% if perfil == 'ADMIN' %}
                                        <a class="btn btn-default" href="{{ path('documento_new', {'tipo': 'A'}) }}">
                                            Ajuste
                                        </a>		
                                        <a class="btn btn-default" href="{{ path('movimientocc_imprimir') }}">
                                            Imprimir
                                        </a>				
                                    {% endif %}
                                </th>
                                <th colspan="3" style="text-align:center">Cheques ($)</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td width="21%">Fecha</td>
                                <td width="40%">Movimiento</td>
                                <td width="13%">Debe</td>
                                <td width="13%">Haber</td>
                                <td width="13%">Saldo</td>
                            </tr>
                            {% for cheque in cheques %}
                                
                              
                              <tr>
                                    <td>  
                                        {{cheque.fechaMovimiento|date('d-m-Y')}}                                      
                                    </td>
                                    <!--
                                    Cheque ingresado Manualmente sin documento asociado
                                    y no entregado en un pago
                                    -->
                                    <td>{{cheque}}</td>
                                   {% if cheque.tipoMovimiento == 'MANUAL'%}                                      
                                        {% set chequeD = cheque.cheque.importe + chequeD %}
                                        <td>{{cheque.cheque.importe}}</td>
                                        <td></td>
                                    {% endif %}
                                    <!-- Cheque con salida por un pago -->                                    
                                    {% if cheque.tipoMovimiento == 'PAGO' %}                                        
                                        {% set chequeH = cheque.cheque.importe + chequeH %}
                                        <td></td>
                                        <td>{{cheque.cheque.importe}}</td>
                                    {% endif %}
                                    <!-- Cheque con ingeso por una cobranza a través de un recibo-->                                                                        
                                    {% if cheque.tipoMovimiento not in ['MANUAL', 'PAGO']%}                                       
                                        {% set chequeD = cheque.cheque.importe + chequeD %}
                                        <td>{{cheque.importe}}</td>
                                        <td></td>                                        
                                    {% endif %}
                                    <td>$ {{ chequeD - chequeH }}</td>
                                </tr>                                   
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="2" >			
                                    {% if perfil == 'ADMIN' or perfil == 'ADMINISTRADOR'%}
                                        <a class="btn btn-default" href="{{ path('documento_new', {'tipo': 'A'}) }}">
                                            Ajuste
                                        </a>		
                                        <a class="btn btn-default" href="{{ path('movimientocc_imprimir') }}">
                                            Imprimir
                                        </a>				
                                    {% endif %}
                                </th>
                                <th colspan="3" style="text-align:center">SALDO Cheques $ {{ chequeD - chequeH }}</th>

                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        // activarActionsTab('caja');
        $(document).ready(function () {
            $("#tablasScroll").animate({
                scrollTop: $("#tablasScroll table").height()
            }, 2000);
        });
    </script>

{% endblock %}