{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}

<div class="filtrocabecera">
	{% if tipo == "cobrar" %}
		Cuentas por Cobrar
	{% endif %}
	{% if tipo == "pagar" %}
		Cuentas por Pagar
	{% endif %}

</div>

<div class="controls filtrocuerpo">

		<form action="{{ path('movimientocc_informeCuentas') }}" method="POST" style="margin-top: 20px;" autocomplete="off">
		<div class="control-group" style="text-align: center">
			{% if perfil == 'ADMINISTRADOR' %}
			<div class="controls">
				Unidad de Negocio: 
				<select name="unidadnegocio" class="form-control" style="width: 250px !important; margin: 0 auto;">
					{% for unidad in unidades %}
					<option value="{{ unidad.id }}">{{ unidad.descripcion }}</option>
					{% endfor %}
			   </select>
			</div>
			{% endif %}
			<div class="controls">
					Moneda: 
					<select name="listado" class="form-control" style="width: 250px !important; margin: 0 auto;">
						<option value="1">ARG</option>
						<option value="2">USD</option>
				   </select>
			</div>
			<input type="hidden" value="{{ tipo }}" name="tipo"/>
			<br />
			<button class="btn btn-default" type="submit">Ingresar</button>
		</div>
	</form>
</div>
<script>

		{% if tipo == "cobrar" %}
			// activarActionsTab('informecuentascobrar');
		{% endif %}
		{% if tipo == "pagar" %}
			// activarActionsTab('informecuentaspagar');
		{% endif %}

</script>
{% endblock %}
