{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}
    <h1>MovimientoCC list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipodocumento</th>
                <th>Moneda</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('movimientocc_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.tipoDocumento }}</td>
                <td>{{ entity.moneda }}</td>
                <td>{{ entity.estado }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('movimientocc_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('movimientocc_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('movimientocc_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
