{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}
    <h1>Edici&oacute;n de Factura</h1>

    <div class="joyas-container" style="width: 50%; margin: 0 auto;">
		<div class="container">
			{{ form_start(edit_form) }}
			<div class="recibos">
				<label>Fecha</label>
				<input name="fechaDocumento" onBlur="comprobar();" id="fechaDocumento" onkeydown="return false" required />
				<div style="display:none;">{{ form_widget(edit_form.fecha) }}</div>
			</div>
			{{ form(edit_form) }}
			{{ form_end(edit_form) }}		
	        <a class="btn btn-default" href="{{ path('factura') }}">
				Volver
			</a>
		</div>
	</div>
<script>
	$( document ).ready(function() {

	});
	function comprobar(){
		var hoy = new Date();
		var fecha = new Date($("#fechaDocumento").val());
		
		if(hoy < fecha){
			alert('La fecha ingresada debe ser menor a la fecha actual o igual.')
			$("#fechaDocumento").val('');
		}
	}
	// activarActionsTab('ventas');
</script>
<script>
	// activarActionsTab('ventas');
</script>
{% endblock %}
