{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Ventas
                <a style="float:right;" class="btn btn-success" href="#modal">
                    Registrar Venta
                </a>
            </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!--Buscador -->
    <form id="searchForm" action="{{path('factura')}}" method="POST">
        <div class="col-md-12" style="margin-bottom: 2%;">
            <div class="col-md-2" >
                <input class="form-control fecha" type="text" onkeypress="return false;" id="fechaDesde" name="fechaDesde" placeholder="Fecha desde" value="{{app.session.get('bFechaDesde')}}" >
            </div>
            <div class="col-md-2" >
                <input class="form-control fecha" type="text" onkeypress="return false;"id="fechaHasta" name="fechaHasta" placeholder="Fecha hasta" value="{{app.session.get('bFechaHasta')}}" >
            </div>       
            {% if perfil == 'ADMINISTRADOR' %}
                <div class="col-md-3" >                
                    <select name="unidadNegocio" id="unidadNegocio">
                        <option value=''>Seleccione una Unidad </option>
                        {% for unidad in unidades%}
                            <option value="{{unidad.id}}">{{unidad.descripcion}}</option>
                        {% endfor %}
                    </select>                
                </div>  
            {% endif %}

            <div class="col-md-3" >                
                <select class="form-control" name="cliente" >
                    <option value=''>Seleccione un Cliente</option>
                    {% for cliente in clientesProveedores%}
                        <option value="{{ cliente.id }}">{{ cliente.razonSocial }}</option>
                    {% endfor %}
                </select>                
            </div>                           
            <div class="col-md-2">
                <button class="btn btn-success" style="font-size: 18px;" type="submit" >
                    <i class="fa fa-search"></i>
                </button>
                <button class="btn btn-default" style="font-size: 18px;" type="reset" >
                    <i class="fa fa-undo"></i>
                </button>
            </div>
        </div>
    </form>
    <table id="tablaFactura" class="display">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Doc.</th>
                <th>Cliente</th>
                    {% if perfil == 'ADMINISTRADOR' %}							
                    <th>U. Negocio</th>
                    {% endif %}
                <th>Oro</th>
                <th>Plata</th>
                <th>Importe</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.fecha|date('Y-m-d') }}</td>
                    <td><a href="{{ path('factura_show', { 'id': entity.id }) }}">Factura {{ entity.movimientocc.id }}</a></td>
                    <td>{{ entity.movimientocc.clienteproveedor|default('') }}</td>
                    {% if perfil == 'ADMINISTRADOR' %}							
                        <td>{{ entity.movimientocc.unidadNegocio|default('') }}</td>
                    {% endif %}
                    <td>
                        {{ entity.oro|default('--') }} gr				
                    </td>					
                    <td>			
                        {{ entity.plata|default('--') }} gr		
                    </td>					
                    <td>
                        {% if entity.importe == '' %}					
                            {% set importeFC = 0 %}
                            {% for prodFact in entity.productosFactura %}
                                {% set importeFC = (prodFact.precio * prodFact.cantidad) + importeFC %} 
                            {% endfor %}

                            {% if entity.descuento != '' %}																	
                                {% set desc = (100 - entity.descuento) / 100  %}																	
                                {% set importeFC = importeFC * desc  %}																	
                            {% endif %}
                            {% if entity.bonificacion != '' %}																	
                                {% set importeFC = importeFC - entity.bonificacion %}																	
                            {% endif %}
                            {{ entity.movimientocc.monedaSimbolo|default('') }} {{ importeFC|number_format(2, '.', ',') }}
                        {% else %}
                            {{ entity.movimientocc.monedaSimbolo|default('') }} {{ entity.importe }} 					
                        {% endif %}					
                    </td>					
                </tr
            {% endfor %}
        </tbody>
    </table>
 <div class="col-sm-12">
        {{ pagerfanta( entities, "twitter_bootstrap_translated", { 'prev_message' : 'Anterior', 'next_message': 'Siguiente',"routeParams": {'cliente':app.session.get('bCliente'),'unidadNegocio':app.session.get('bUnidadNegocio'),'fechaDesde':app.session.get('bFechaDesde'),'fechaHasta':app.session.get('bFechaHasta')}} ) }}
    </div>     
    <div id="modal" class="modalDialog" style="text-align:center;">
        <div style="height: 162px;">
            <a href="#close" title="Close" class="close">X</a>
            <div style="height: 45px;">
                <form class="formModal" enctype="multipart/form-data" action="{{ path('factura_new') }}" method="post">
                    <div style="margin-top: 40px;">
                        <strong>Seleccione una lista de precios</strong><br>
                        <select name="listaprecio" style="width: 50%; margin: 0 auto;" class="form-control">
                            {% for listaPrecio in listaPrecios %}
                                <option value="{{ listaPrecio.id }}">
                                    {{ listaPrecio.descripcion }}
                                    {% if perfil == 'ADMINISTRADOR' %}
                                        - {{ listaPrecio.unidadNegocio }}
                                    {% endif %}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <br>
                    {% if listaPrecios|length > 0 %}
                        <input type="submit" class="btn btn-default" style="margin-top:-20px;" value="Continuar" />
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
    <script>
        $('.fecha').datetimepicker({
            format: 'd-m-Y'
        });

        $('.pagination a').attr('class', 'btn btn-default');
        $('.pagination li').css('float', 'left');
        $('.pagination').css('width', '100%');
        $('.pagination .active a').prop('class', 'btn btn-info');
        
        $('document').ready(function () {
            var unidadNegocio = "{{app.session.get('bUnidadNegocio')}}";
            $('#unidadNegocio').val(unidadNegocio).change();
            var cliente = "{{app.session.get('bCliente')}}";
            $('#cliente').val(cliente).change();

            $('td').css('padding', '2px');

            table = $('#tablaFactura').DataTable({
                "scrollY": "380px",
                "scrollCollapse": true,
                "paging": false,
                "info": false,
                responsive: true,
                "filter": false,
                "aaSorting": [], //Para evitar el ordenamiento por defecto de DataTables              
                "oLanguage": {
                    "sSearch": "Buscar:"
                }
            });
        });
    </script>

{% endblock %}