<!DOCTYPE html>
<html>
    <head>
        <title>WILLY JHONS</title>

        <link href="{{ asset('bundles/nuevo/bower_components/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/web/css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all" />
        <!--jQuery(necessary for Bootstrap's JavaScript plugins)-->
        <script src="{{ asset('bundles/web/js/jquery-1.11.0.min.js') }}"></script>
        <!--Custom-Theme-files-->
        <!--theme-style-->
        <link href="{{ asset('bundles/web/css/style.css') }}" rel="stylesheet" type="text/css" media="all" />	
        <!--//theme-style-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="Willy Jhons Joyas, joyeria mayorista. Joyas en plata. Trabajos en plata. Libertad. Joyeria. Fabricantes. Precios. WILLY JHONS. JOYERIA WILLY JHONS. WILLY JHONS JOYAS. Anillos. Dijes. Pulsera. Aros. Rosarios.  Catalogos de Joyas.">
        <meta name="keywords" content="Willy Jhons Joyas, joyeria mayorista. Joyas en plata. Trabajos en plata. Libertad. Joyeria. Fabricantes. Precios. WILLY JHONS. JOYERIA WILLY JHONS. WILLY JHONS JOYAS. Anillos. Dijes. Pulsera. Aros. Rosarios.  Catalogos de Joyas.">
        <meta name="author" content="TITANIO">
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!--start-menu-->
        <script src="{{ asset('bundles/web/js/simpleCart.min.js') }}"></script>
        <link href="{{ asset('bundles/web/css/memenu.css') }}" rel="stylesheet" type="text/css" media="all" />
        <script type="text/javascript" src="{{ asset('bundles/web/js/memenu.js') }}"></script>
        <!--dropdown-->
        <script src="{{ asset('bundles/web/js/jquery.easydropdown.js') }}"></script>

        <link  href="{{ asset('bundles/web/images/faviconmio.ico') }}" rel="icon" type="image/png" />

        <!-- DATA TABLE -->
        <link rel="stylesheet" href="{{ asset('bundles/DataTable/jquery.dataTables.css') }}">
        <link href="{{ asset('bundles/lightbox/lightbox.css') }}" rel="stylesheet" type="text/css">

        <!-- Bootstrap Core JavaScript -->
        <script src="{{ asset('bundles/nuevo/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

        <style>
            .panel{
                margin-bottom: 0px;
            }
            .chat-window{
                bottom:0;
                position:fixed;
                float:right;
                z-index: 1000;
                right: 5px;
            }
            .chat-window > div > .panel{
                border-radius: 5px 5px 0 0;
            }
            .icon_minim{
                padding:2px 10px;
            }
            .msg_container_base{
                background: #e5e5e5;
                margin: 0;
                padding: 0 10px 10px;
                max-height:300px;
                overflow-x:hidden;
            }
            .top-bar {
                background: #666;
                color: white;
                padding: 10px;
                position: relative;
                overflow: hidden;
            }
            .msg_receive{
                padding-left:0;
                margin-left:0;
            }
            .msg_sent{
                padding-bottom:20px !important;
                margin-right:0;
            }
            .messages {
                background: white;
                padding: 10px;
                border-radius: 2px;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
                max-width:100%;
            }
            .messages > p {
                font-size: 13px;
                margin: 0 0 0.2rem 0;
            }
            .messages > time {
                font-size: 11px;
                color: #ccc;
            }
            .msg_container {
                padding: 10px;
                overflow: hidden;
                display: flex;
            }
            .avatar {
                position: relative;
            }
            .base_receive > .avatar:after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 0;
                height: 0;
                border: 5px solid #FFF;
                border-left-color: rgba(0, 0, 0, 0);
                border-bottom-color: rgba(0, 0, 0, 0);
            }

            .base_sent {
                justify-content: flex-end;
                align-items: flex-end;
            }
            .base_sent > .avatar:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 0;
                border: 5px solid white;
                border-right-color: transparent;
                border-top-color: transparent;
                box-shadow: 1px 1px 2px rgba(black, 0.2);
            }

            .msg_sent > time{
                float: right;
            }



            .msg_container_base::-webkit-scrollbar-track
            {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                background-color: #F5F5F5;
            }

            .msg_container_base::-webkit-scrollbar
            {
                width: 12px;
                background-color: #F5F5F5;
            }

            .msg_container_base::-webkit-scrollbar-thumb
            {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
                background-color: #555;
            }

            .btn-group.dropup{
                position:fixed;
                left:0px;
                bottom:0;
            }
        </style>

    </head>
    <body> 
        <div class="preloader">
            <div class="sk-spinner sk-spinner-rotating-plane"></div>
        </div>
        <!--top-header-->
        <div class="top-header">
            <div class="container">
                <div class="top-header-main">
                    <div class="col-md-6 top-header-left">
                        {% set nombre = app.session.get('nombreusuarioweb') %}
                        {% set consultas = app.session.get('consultas') %}
                        {% set idusuarioweb = app.session.get('idusuarioweb') %}
                        <div class="drop">
                            {% if nombre == '' %}
                                <div class="col-md-4" style="color: white;">
                                    <a style="color: white" href="{{ path('joyas_joyas_iniciar') }}">							
                                        <i class="fa fa-user"></i> 
                                        Iniciar Sesi&oacute;n
                                    </a>
                                </div>
                                <div class="col-md-4" style="color: white">
                                    <a style="color: white" href="{{ path('joyas_joyas_irregistro') }}">							
                                        <i class="fa fa-pencil-square-o"></i>
                                        Registrate
                                    </a>
                                </div>
                                <div class="clearfix"></div>
                            {% else %}
                                {% set imgfb = app.session.get('imgfb') %}
                                <span style="color:white;">
                                    {% if imgfb != '' %}
                                        <img src="{{imgfb}}" width="30px" />
                                    {% endif %}
                                    Hola, <strong><a href="{{ path('joyas_joyas_micuenta', {idusuarioweb:idusuarioweb}) }}" style="color:white;" title="Mi Cuenta">{{nombre}}</a></strong>!</span>
                                        {% if imgfb != '' %}
                                    <div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" 
                                         data-auto-logout-link="true" scope="public_profile,email" onlogout="checkLoginState()" 
                                         onlogin="checkLoginState()"></div>
                                {% else %}
                                    <a style="margin-left:2%;color: white" href="javascript:cerrar();">							
                                        <i class="fa fa-lock"></i> 
                                        Cerrar Sesi&oacute;n
                                    </a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6 top-header-left">                      
                        <div class="cart box_1">
                            <a href="{{ path('joyas_joyas_checkout') }}">
                                <div class="total">
                                    <span class="simpleCart_total"></span>
                                </div>
                                <img src="{{ asset('bundles/web/images/cart-1.png') }}" alt="" />
                                {% set carro = app.session.get('carrito') %}
                                {% if carro != '' %}
                                    <span style="color: white;font-size: 10px;">COMPRAR</span>
                                {% endif %}
                            </a>
                            <p><a href="javascript:confirmar();" style="color: rgba(255, 255, 255, 0.6);font-family: 'Lato', sans-serif;font-size: 11px;" id="vaciarcarrito">Vaciar Carrito</a></p>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!--top-header-->
        <div class="col-md-12" id="flashmsg" style="text-align:center;">
            {% for flashMessage in app.session.flashbag.get('msgError') %}
                <div class="span4 offset4" >
                    <div class="alert alert-block fade in alert-error">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <h4>{{ flashMessage }}</h4> 
                    </div>
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('msgWarn') %}
                <div class="span4 offset4" >
                    <div class="alert alert-block fade in alert-warning">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <h4>{{ flashMessage }}</h4>
                    </div>
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('msgOk') %}
                <div class="span4 offset4" >
                    <div class="alert alert-block fade in alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <h4>{{ flashMessage }}</h4>
                    </div>
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('msgInfo') %}
                <div class="span4 offset4" >
                    <div class="alert alert-block fade in alert-info">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <h4>{{ flashMessage }}</h4>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!--start-logo-->
        <div class="col-xs-12 logo">
            <div class="hidden-xs hidden-sm col-md-4">
                <h5>Willy Jhons es una empresa con presencia en 10 pa&iacute;ses y experiencia en el mercado mayorista de 30 a&ntilde;os</h5>
            </div>
            <div class="hidden-xs col-sm-4 hidden-md hidden-lg">
                <h6>Willy Jhons es una empresa con presencia en 10 pa&iacute;ses y experiencia en el mercado mayorista de 30 a&ntilde;os</h6>
            </div>             
            <div class="col-xs-12 col-sm-4 text-center ">
                <a href="{{path('joyas_joyas_web')}}">
                    <h1 style="font-weight: bold;">
                        <img width="70%" src="{{ asset('bundles/web/images/logowillycom.png')}}">
                    </h1>
                </a>
            </div>           
            <div class="hidden-xs hidden-sm  col-md-4">
                <h5 >Importadores directos de Tailandia, Italia, Mexico y China de plata y acero quirurgico 316L con los mejores est&aacute;ndares de calidad del mercado mayorista PRECIOS <strong>ESPECIALES</strong> A MAYORISTAS Y REVENDEDORES</h5>
            </div>
            <div class="hidden-xs col-sm-4 hidden-md hidden-lg">
                <h6>Importadores directos de Tailandia, Italia, Mexico y China de plata y acero quirurgico 316L con los mejores est&aacute;ndares de calidad del mercado mayorista PRECIOS <strong>ESPECIALES</strong> A MAYORISTAS Y REVENDEDORES</h6>
            </div>             
        </div>
        <!--start-logo-->
        <!--bottom-header-->
        <div class="header-bottom">
            <div class="container">
                <div class="col-xs-12 col-sm-12 col-md-9">
                    <div class="top-nav">
                        <ul class="memenu skyblue">
                            <li class="active">
                                <a href="{{path('joyas_joyas_web')}}">Inicio</a>
                            </li>
                            {% set metales = app.session.get('metales') %}
                            {% set categorias = app.session.get('categorias') %}
                            <li class="grid" id="catagorias"><a href="#">L&iacute;neas</a>
                                <div class="mepanel">
                                    <div class="row">
                                        <div class="col1 me-one">
                                            <ul>
                                                {% for metal in metales %}
                                                    <li>
                                                        <a href="{{ path('producto_categorias', {id: 0, metal:metal.id}) }}">
                                                            {{ metal.sinonimo }}
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="grid" id="destacados">
                                <a href="{{ path('joyas_joyas_destacados') }}">Destacados</a>
                            </li>
                            <li class="grid" id="novedades">
                                <a href="{{ path('joyas_joyas_novedades') }}">Novedades</a>
                            </li>
                            <li class="grid" id="ofertas">
                                <a href="{{ path('joyas_joyas_ofertas') }}">Ofertas</a>
                            </li>
                            <li class="grid" id="contacto">
                                <a href="{{ path('joyas_joyas_contacto') }}">Cont&aacute;ctenos</a>
                            </li>
                            <li class="grid" id="nosotros">
                                <a href="{{asset('bundles/web/images/nosotros.jpg')}}" class="example-image-link" data-lightbox="nosotros">Nosotros</a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3"> 
                    <div class="search-bar">
                        <form action="{{ path('producto_buscarweb') }}" method="POST">
                            <input required type="text" name="buscar" placeholder="Busque por t&iacute;tulo o c&oacute;digo">
                            <input type="submit" value="">
                        </form>
                    </div>
                </div>
                <div class="clearfix"> </div>

            </div>
        </div>
        <!--bottom-header-->
        {% set logueadoweb = app.session.get('logueadoweb') %}

        {% block content %} 

        {% endblock %} 
        <!--information-starts-->
        <div class="information">
            <div class="container">
                <div class="infor-top">
                    <div class="col-md-3 infor-left"> 
                        <h3>Redes</h3>
                        <ul>
                            <li><a href="https://www.facebook.com/WILLY-JHONS-Argentina-244008495734546/" target="_blanck"><span class="fb"></span><h6>Facebook</h6></a></li>
                            <li><a href="https://www.instagram.com/willyjhonsargentina/" target="_blanck">
                                    <span class="fa fa-instagram" style="background: url(../images/s-icons.png) no-repeat;
                                          width: 34px; height: 34px;display: inline-block; vertical-align: middle; font-size:39px;color: black;"></span><h6>Instagram</h6></a></li>
                            <li><a href="https://plus.google.com/u/0/b/105221798426783399070/105221798426783399070" target="_blanck">
                                    <span class="fa fa-google-plus" style="background: url(../images/s-icons.png) no-repeat;
                                          width: 34px; height: 34px;display: inline-block; vertical-align: middle; font-size:39px;color: black;"></span><h6>Google +</h6></a></li>
                            <!--<li><a href="http://qr.afip.gob.ar/?qr=JVilBAgXBsSk_KnRP1WKJQ,," target="_F960AFIPInfo"><img src="http://www.afip.gob.ar/images/f960/DATAWEB.jpg" width="20%" border="0">
                            </li>-->
                            </a>

                        </ul>
                    </div>
                    <div class="col-md-3 infor-left">
                        <h3>Informaci&oacute;n</h3>
                        <ul>
                            <li><a href="{{ path('joyas_joyas_contacto') }}"><p>Cont&aacute;ctenos</p></a></li>
                            <li><a href="{{asset('bundles/web/images/vision.jpg')}}" data-lightbox="vision"><p>Visi&oacute;n</p></a></li>
                            <li><a href="{{asset('bundles/web/images/mision.jpg')}}" data-lightbox="mision"><p>Misi&oacute;n</p></a></li>
                            <li><a href="{{asset('bundles/web/images/valores.jpg')}}" data-lightbox="valores"><p>Valores</p></a></li>
                            <li><a href="{{asset('bundles/web/images/fabrica.jpg')}}" data-lightbox="fabrica"><p>F&aacute;brica</p></a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 infor-left">
                        <h3>Mi Cuenta</h3>
                        <ul>
                            <li>
                                {% if nombre != '' %}
                                    <a href="{{ path('joyas_joyas_micuenta', {idusuarioweb:idusuarioweb}) }}"><p>Mi cuenta</p></a>
                                {% else %}
                                    <a href="{{ path('joyas_joyas_iniciar') }}"><p>Mi cuenta</p></a>
                                {% endif %}
                            </li>
                            <li><a href="{{asset('bundles/web/images/comocomprar.jpg')}}" data-lightbox="comocomprar"><p>C&oacute;mo Comprar</p></a></li>                           
                            <li><a href="{{asset('bundles/web/images/politicasventa.jpg')}}" data-lightbox="politicas"><p>Pol&iacute;ticas de Venta</p></a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 infor-left">
                        <h3>Contacto</h3>
                        <h4>Consultar por venta mayorista</h4>
                        <h5>(+54 11) 43711363</h5>	
                        <p>info@willyjhons.com.ar</p>
                        <a href="{{asset('bundles/web/images/tiendas.jpg')}}" data-lightbox="tiendas"><p>Tiendas</p></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!--information-end-->
        <!--footer-starts-->
        <div class="footer">
            <div class="container">
                <div class="footer-top">
                    <div class="col-md-12" style="text-align:center;">					
                        <p>© 2016 Willy Jhons. Todos los derechos reservados | Diseñado: <a href="http://w3layouts.com/" target="_blank">W3layouts</a> - Desarrollado: <a href="https://www.sistemastitanio.com.ar/" target="_blank">Sistemas Titanio</a></p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!--footer-end-->	
        {% if nombre != '' %}
            <div class="container">
                <div class="row chat-window col-xs-12 col-md-4" id="chat_window_1">
                    <div class="col-xs-12 col-md-12" style="float: right;">
                        <div class="panel panel-default">
                            <div class="panel-heading top-bar">
                                <div class="col-md-10 col-xs-10">
                                    <h3 class="panel-title"><i class="fa fa-comment"></i> Mensajes a WillyJhons</h3>
                                </div>
                                <div class="col-md-2 col-xs-2" style="text-align: right;">
                                    <a><span id="minim_chat_window" class="glyphicon glyphicon-minus icon_minim"></span></a>
                                </div>
                            </div>
                            <div class="panel-body msg_container_base" id="chatbox">
                                {% for chatweb in consultas %}
                                    {% if chatweb.tipo == 1 %}
                                        <div class="row msg_container base_sent">
                                            <div class="col-md-10 col-xs-10" style="padding-right: 0px; padding-left: 0px;">
                                                <div class="messages msg_sent">
                                                    <p>{{ chatweb.mensaje }}</p>
                                                    <time datetime="">{{ chatweb.fecha }}</time>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-xs-2 avatar" style="padding-right: 0px; padding-left: 0px;">
                                                {% if imgfb != '' %}
                                                    <img src="{{imgfb}}" width="30px" />
                                                {% else %}
                                                    <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class=" img-responsive ">
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="row msg_container base_receive">
                                            <div class="col-md-2 col-xs-2 avatar" style="padding-right: 0px; padding-left: 0px;">
                                                <img src="{{ asset('bundles/web/images/avatar.jpg') }}" class=" img-responsive ">
                                            </div>
                                            <div class="col-md-10 col-xs-10" style="padding-right: 0px; padding-left: 0px;">
                                                <div class="messages msg_receive">
                                                    <p>{{ chatweb.mensaje }}</p>
                                                    <time datetime="">{{ chatweb.fecha }}</time>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="panel-footer">
                                <div class="input-group">
                                    <input id="btn-input" maxlength="1000" type="text" class="form-control input-sm chat_input" placeholder="Escriba su consulta..." />
                                    <span class="input-group-btn">
                                        <input name="idusuarioweb" id="idusuarioweb" type="hidden" value="{{ idusuarioweb }}" />
                                        <button onclick="enviarmensaje();" class="btn btn-danger btn-sm" id="btn-chat">Enviar</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input id="numconsultas" type="hidden" value="" />
        {% endif %}
    </body>

    <script>
        $('.close').click(function () {
            $('#flashmsg').html('');
        });

        function add(id) {
            $.post('{{path('producto_carritoajax')}}', {data: id})
                    .done(function (data) {
                        alert(data);
                    });
        }
        function vaciar() {
            $.post('{{path('producto_vaciarajax')}}', {data: ''})
                    .done(function (data) {
                        alert(data);
                        window.location.href = "{{path('joyas_joyas_web')}}";
                    });
        }
    </script>
    <script src="{{ asset('bundles/web/js/isotope.js') }}"></script>
    <script src="{{ asset('bundles/web/js/imagesloaded.min.js') }}"></script>
    <script src="{{ asset('bundles/web/js/smoothscroll.js') }}"></script>
    <script src="{{ asset('bundles/web/js/wow.min.js') }}"></script>

    <script>
        function statusChangeCallback(response) {
            if (response.status === 'connected') {
                testAPI();
            } else if (response.status === 'not_authorized') {
                document.getElementById('status').innerHTML = 'Sin autorizacion para loguearse';
            } else {
                window.location.href = '{{path('joyas_joyas_cerrar')}}';
            }
        }

        function checkLoginState() {
            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });
        }

        window.fbAsyncInit = function () {
            FB.init({
                appId: '1039728662766909',
                cookie: true, // enable cookies to allow the server to access 
                // the session
                xfbml: true, // parse social plugins on this page
                version: 'v2.5' // use graph api version 2.5
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id))
                return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.5&appId=1039728662766909";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function testAPI() {
            FB.api('/me', {locale: 'es_LA', fields: 'name,email'}, function (response) {
                console.log('NOMBRE FB: ' + response.name);
                console.log('EMAIL: ' + response.email);
                var src = 'https://graph.facebook.com/' + response.id + '/picture';
                console.log('SRC: ' + src);
                var name = response.name;
                var email = response.email;
                window.location.href = '{{path('joyas_joyas_loginfb')}}?nombre=' + name + '&mail=' + email + '&img=' + src;
            });
        }
    </script>
    <script>
        $(window).load(function () {
            $('.preloader').fadeOut(1000); // set duration in brackets    
        });

        $(document).ready(function () {
            $('.panel-heading span.icon_minim').click();
            $('#numconsultas').val({{consultas|length}});
            $(".memenu").memenu();
            var carrito = "{{app.session.get('carrito')}}";
            if (carrito == "") {
                $('.simpleCart_total').html('$0.00');
            }
        {% if nombre != '' %}
                var int = self.setInterval(function () {
                    actualizarchat();
                }, 10000);
                $("#chatbox").animate({
                    scrollTop: 10000
                }, 2000);
        {% endif %}
            });

            function confirmar() {
                if (confirm('Desea vaciar el carrito?')) {
                    simpleCart.empty();
                    vaciar();
                }
            }
            function cerrar() {
                if (simpleCart.quantity() > 0) {
                    if (confirm('Si cierra sesion perdera los productos seleccionados en el pedido. Desea cerrar sesion de todas maneras?')) {
                        simpleCart.empty();
                        window.location.href = "{{ path('joyas_joyas_cerrar') }}";
                    }
                } else {
                    window.location.href = "{{ path('joyas_joyas_cerrar') }}";
                }
            }
            $(document).on('click', '.panel-heading span.icon_minim', function (e) {
                var $this = $(this);
                if (!$this.hasClass('panel-collapsed')) {
                    $this.parents('.panel').find('.panel-body').slideUp();
                    $this.addClass('panel-collapsed');
                    $this.removeClass('glyphicon-minus').addClass('glyphicon-plus');
                } else {
                    $this.parents('.panel').find('.panel-body').slideDown();
                    $this.removeClass('panel-collapsed');
                    $this.removeClass('glyphicon-plus').addClass('glyphicon-minus');
                }
                $("#chatbox").animate({
                    scrollTop: 10000
                }, 2000);
            });

            $(document).on('focus', '.panel-footer input.chat_input', function (e) {
                var $this = $(this);
                if ($('#minim_chat_window').hasClass('panel-collapsed')) {
                    $this.parents('.panel').find('.panel-body').slideDown();
                    $('#minim_chat_window').removeClass('panel-collapsed');
                    $('#minim_chat_window').removeClass('glyphicon-plus').addClass('glyphicon-minus');
                }
                $("#chatbox").animate({
                    scrollTop: 10000
                }, 2000);
            });
            $(document).on('click', '#new_chat', function (e) {
                var size = $(".chat-window:last-child").css("margin-left");
                size_total = parseInt(size) + 400;
                alert(size_total);
                var clone = $("#chat_window_1").clone().appendTo(".container");
                clone.css("margin-left", size_total);
            });

            $(document).on('click', '.icon_close', function (e) {
                $("#chat_window_1").remove();
            });

            function actualizarchat() {
                $.post('{{path('usuario_actualizarchat')}}', {data: '{{idusuarioweb}}'})
                        .done(function (data) {
                            if (data > $('#numconsultas').val()) {
                                location.reload();
                            }
                        });
            }

            function enviarmensaje() {
                var consulta = $('#btn-input').val();
                var idusuarioweb = $('#idusuarioweb').val();
                var mensaje =
                        '<div class="row msg_container base_sent">' +
                        '<div class="col-md-10 col-xs-10" style="padding-right: 0px; padding-left: 0px;">' +
                        '<div class="messages msg_sent">' +
                        '<p>' + consulta + '</p>' +
                        '<time datetime="">Ahora</time>' +
                        '</div>' +
                        '</div>' +
                        '<div class="col-md-2 col-xs-2 avatar" style="padding-right: 0px; padding-left: 0px;">' +
        {% if app.session.get('imgfb') != '' %}
                        '<img src="{{imgfb}}" width="30px" />' +
        {% else %}
                        '<img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class=" img-responsive ">' +
        {% endif %}
                        '</div>' +
                        '</div>';

                $('#btn-input').val('');
                $('#chatbox').append(mensaje);
                $.post('{{path('usuario_chatweb')}}', {data1: idusuarioweb, data2: consulta, data3: '1'})
                        .done(function (data) {
                            var cant = $('#numconsultas').val();
                            cant = parseInt(cant) + 1;
                            $('#numconsultas').val(cant);
                            $("#chatbox").animate({
                                scrollTop: 10000
                            }, 2000);
                        });
            }

    </script>
    <script src="{{ asset('bundles/lightbox/lightbox.js') }}"></script>

</html>