<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="{{nombre_cliente}}" />
        <meta name="keywords" content="{{nombre_cliente}}" />
        <meta name="author" content="TITANIO" />

        <title>TITANIO</title>

        <!-- DATA TABLE -->
        <script type="text/javascript" src="{{ asset('bundles/DataTable/jquery-1.11.3.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/DataTable/jquery.dataTables.min.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('bundles/DataTable/jquery.dataTables.css') }}" />

        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('bundles/nuevo/bower_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- MetisMenu CSS -->	
        <link href="{{ asset('bundles/nuevo/bower_components/metisMenu/dist/metisMenu.min.css') }}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{{ asset('bundles/nuevo/dist/css/sb-admin-2.css') }}" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="{{ asset('bundles/nuevo/bower_components/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

        <!-- Bootstrap Core JavaScript -->
        <script src="{{ asset('bundles/nuevo/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="{{ asset('bundles/nuevo/bower_components/metisMenu/dist/metisMenu.min.js') }}"></script>

        <!-- Custom Theme JavaScript -->
        <script src="{{ asset('bundles/nuevo/dist/js/sb-admin-2.js') }}"></script>
        <!-- DateTimePicker -->
        <link rel="stylesheet" href="{{ asset('bundles/datetimepicker/jquery.datetimepicker.css') }}">
        <script src="{{ asset('bundles/datetimepicker/jquery.datetimepicker.js') }}"></script>	      

        <link  href="{{ asset('bundles/joyas/img/favicon.ico') }}" rel="icon" type="image/x-icon" />
        <script src="{{ asset('bundles/titanio/js/funciones.js') }}"></script>	      
        <script>
            var table;
            var tableSF;
            $(document).ready(function () {
                $('.animationload').fadeOut("slow");
                // jQuery plugin to prevent double submission of forms
                $.fn.preventDoubleSubmission = function () {
                    $(this).on('submit', function (e) {
                        var $form = $(this);
                        if ($form.data('submitted') === true) {
                            // Previously submitted - don't submit again
                            e.preventDefault();
                        } else {
                            // Mark it so that the next submit can be ignored
                            $form.data('submitted', true);
                        }
                    });
                    // Keep chainability
                    return this;
                };
                $('form').preventDoubleSubmission();
                //Para alinear los borones Aceptar y volver
                $('.middle-first').css({'float': 'left'});
                $(":submit").addClass('btn btn-success');

                $("input").first().focus();
                $('input').addClass('form-control');
                $("select").addClass('form-control').css({'font-size': '15px'});

                table = $('#tablas').DataTable({
                    "scrollY": "400px",
                    "scrollCollapse": true,
                    "paging": false,
                    "info": false,
                    responsive: true,
                    "filter": true,
                    "order": [[0, "asc"]],
                    "oLanguage": {
                        "sSearch": "Buscar:"
                    }
                });
                table = $('#tablasdesc').DataTable({
                    "scrollY": "400px",
                    "scrollCollapse": true,
                    "paging": false,
                    "info": false,
                    responsive: true,
                    "filter": true,
                    "order": [[0, "desc"]],
                    "oLanguage": {
                        "sSearch": "Buscar:"
                    }
                });
                table = $('#tablapedidos').DataTable({
                    "scrollY": "400px",
                    "scrollCollapse": true,
                    "paging": false,
                    "info": false,
                    responsive: true,
                    "filter": true,
                    "order": [[0, "desc"]],
                    "oLanguage": {
                        "sSearch": "Buscar:"
                    }
                });

                tableSF = $('#tablaSF').DataTable({
                    "scrollY": "400px",
                    "scrollCollapse": true,
                    "paging": false,
                    "info": false,
                    responsive: true,
                    "filter": false,
                    "order": [[0, "desc"]]
                });


                $("#fechaVencimientoDesde, #fechaVencimientoHasta,#fechaDesde,#fechaHasta, #fechaDocumento, #fechavencimiento,.datetimepicker").datetimepicker({
                    format: 'd-m-Y',
                    lang: 'es',
                });

                $('[data-toggle="tooltip"]').tooltip();
            });
            $(window).resize(function () {
                $('#tablas').DataTable().columns.adjust().draw();
                $('#tablaSF').DataTable().columns.adjust().draw();
            });
        </script>

        <link rel="stylesheet" href="{{ asset('bundles/estilos.css') }}" />
    </head>

    <body>
        {% set idUsuario = app.session.get('idUsuario') %}
        {% set login = app.session.get('login') %}
        {% set perfil = app.session.get('perfil') %}
        <div class="animationload">
            <div class="loader">Cargando ...</div>
        </div>
        <div id="wrapper">
            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{path('joyas_joyas_inicio')}}">
                        <img width="110px" src="{{ asset('bundles/joyas/img/titaniologo.png') }}" />
                    </a>
                </div>
                <!-- /.navbar-header -->

                {% if login == 'true' %}
                    <ul class="nav navbar-top-links navbar-right">
                        {% if perfil == 'ADMIN' or perfil == 'ADMINISTRADOR' %}
                            <li class="">
                                <a href="{{email_web}}" target="_blanck">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </li>
                        {% endif %}
                        <!-- /.dropdown -->                
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                {% set usuario = app.session.get('usuario') %}
                                {{ usuario }}<i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="{{ path('usuario_edit', {id : idUsuario}) }}"><i class="fa fa-gear fa-fw"></i>Mis Datos</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="{{ path('joyas_joyas_cerrarSession') }}"><i class="fa fa-sign-out fa-fw"></i> Cerrar Sesi&oacute;n</a>
                                </li>
                            </ul>
                            <!-- /.dropdown-user -->
                        </li>
                        <!-- /.dropdown -->
                    </ul>
                    <!-- /.navbar-top-links -->
                {% endif %}

                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            {% if login == 'true' %}
                                <li>
                                    <a href="#"><i class="fa fa-briefcase fa-fw"></i> Productos <span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level">
                                        <li id="producto">
                                            <a href="{{ path('producto') }}">
                                                Productos
                                            </a>
                                        </li>
                                        <li id="precio">
                                            <a href="{{ path('precio') }}">
                                                Precios
                                            </a>
                                        </li>
                                        {% if perfil == 'ADMIN' or perfil == 'ADMINISTRADOR'  %}
                                            <li id="ajuste">
                                                <a href="{{ path('producto_ajuste') }}">
                                                    Ajustes de Stock
                                                </a>
                                            </li>
                                        {% endif %}
                                        <li id="precio">
                                            <a href="{{ path('producto_vistarapida') }}">
                                                Vista Rápida
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#"><i class="fa fa-sitemap fa-fw"></i>GESTI&Oacute;N<span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level">
                                        <li>
                                            <a href="#">Gesti&oacute;n Comercial <span class="fa arrow"></span></a>
                                            <ul class="nav nav-third-level">
                                                <li id="ventas">
                                                    <a href="{{ path('factura') }} ">
                                                        Ventas
                                                    </a>
                                                </li>
                                                {% if perfil == 'ADMIN' or perfil == 'ADMINISTRADOR'  %}
                                                    <li id="compras">
                                                        <a href="{{ path('documento_compras') }}">
                                                            Compras
                                                        </a>
                                                    </li>
                                                    <li id="cobranzas">
                                                        <a href="{{ path('documento_cobranzas') }}">
                                                            Cobranzas
                                                        </a>
                                                    </li>
                                                    <li id="pagos">
                                                        <a href="{{ path('documento_pagos') }}">
                                                            Pagos
                                                        </a>
                                                    </li>
                                                    <li id="gastos">
                                                        <a href="{{ path('documento_gastos') }}">
                                                            Gastos
                                                        </a>
                                                    </li>
                                                    {% if perfil == 'ADMIN' or perfil == 'ADMINISTRADOR'  %}
                                                        <li>
                                                            <a href="{{ path('clienteproveedor') }}">Cliente / Proveedor</a>
                                                            <!-- /.nav-third-level -->
                                                        </li>
                                                    {% endif %}

                                                {% endif %}                                                
                                            </ul>
                                            <!-- /.nav-third-level -->
                                        </li>
                                        {% if perfil == 'ADMIN' or perfil == 'ADMINISTRADOR'  %}
                                            <li >
                                                <a href="#">Gesti&oacute;n de Valores <span class="fa arrow"></span></a>
                                                <ul class="nav nav-third-level">
                                                    <li id="caja">
                                                        <a href="{{ path('movimientocc_admcaja') }}">
                                                            Administraci&oacute;n de Caja
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="{{ path('cheque') }}">
                                                            Cheques
                                                        </a>
                                                    </li>                                                    
                                                </ul>
                                            </li >
                                        {% endif %}
                                        <li >
                                            <a href="{{ path('consignacion') }}">Gesti&oacute;n de Consignaciones </a>
                                        </li >

                                    </ul>
                                    <!-- /.nav-third-level -->                                
                                </li>
                                <!-- /.nav-second-level -->

                                {% if perfil == 'ADMIN' or perfil == 'ADMINISTRADOR'  %}
                                    <li>
                                        <a href="#"><i class="fa fa-file-excel-o fa-fw"></i> Cargas Masivas<span class="fa arrow"></span></a>
                                        <ul class="nav nav-second-level">
                                            <li id="cargamasiva">
                                                <a href="{{ path('joyas_joyas_cargamasiva') }}">
                                                    Carga Masiva de Productos
                                                </a>
                                            </li>
                                            <li id="cargafacturas">
                                                <a href="{{ asset('bundles/templateImport.xlsx') }}">
                                                    Descarga excel p/importaci&oacute;n 
                                                </a>
                                            </li>
                                            {% if nombre_cliente== 'WillyJhons' %}
                                                <li id="importAcero">
                                                    <a href="{{ asset('bundles/templateImportAcero.xls') }}">
                                                        Descarga excel p/importaci&oacute;n Acero
                                                    </a>
                                                </li>   
                                                <li id="importPlataHr">
                                                    <a href="{{ asset('bundles/templateImportPlataHr.xls') }}">
                                                        Descarga excel p/importaci&oacute;n PlataHr
                                                    </a>
                                                </li>      
                                                <li id="importPlata">
                                                    <a href="{{ asset('bundles/templateImportPlata.xls') }}">
                                                        Descarga excel p/importaci&oacute;n Plata
                                                    </a>
                                                </li>                                                      
                                            {% endif%}
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#"><i class="fa fa-info-circle fa-fw"></i> Informes <span class="fa arrow"></span></a>
                                        <ul class="nav nav-second-level">
                                            <li>
                                                <a href="#">Informes de Cuentas <span class="fa arrow"></span></a>
                                                <ul class="nav nav-third-level">
                                                    <li id="informecuentascobrar">
                                                        <a href="{{ path('movimientocc_cuentascobrar') }}">
                                                            Informe de Cuentas por Cobrar
                                                        </a>
                                                    </li>
                                                    <li id="informecuentaspagar">
                                                        <a href="{{ path('movimientocc_cuentaspagar') }}">
                                                            Informe de Cuentas por Pagar
                                                        </a>
                                                    </li> 
                                                </ul>
                                                <!-- /.nav-third-level -->
                                            </li>
                                            <li>
                                                <a href="#">Informes de Estad&iacute;sticos <span class="fa arrow"></span></a>
                                                <ul class="nav nav-third-level">
                                                    <li id="informeventas">
                                                        <a href="{{ path('documento_informeVentas') }}">
                                                            Informe Estad&iacute;stico de Ventas
                                                        </a>
                                                    </li>
                                                    <li id="informecompras">
                                                        <a href="{{ path('documento_informeCompras') }}">
                                                            Informe Estad&iacute;stico de Compras
                                                        </a>
                                                    </li>
                                                    <li id="informecobranzas">
                                                        <a href="{{ path('documento_informeCobranzas') }}">
                                                            Informe Estad&iacute;stico de Cobranzas
                                                        </a>
                                                    </li>
                                                    <li id="informegastos">
                                                        <a href="{{ path('documento_informeGastos') }}">
                                                            Informe Estad&iacute;stico de Gastos
                                                        </a>
                                                    </li>
                                                    <li id="informepagos">
                                                        <a href="{{ path('documento_informePagos') }}">
                                                            Informe Estad&iacute;stico de Pagos
                                                        </a>
                                                    </li>
                                                </ul>
                                                <!-- /.nav-third-level -->
                                            </li>
                                            <li>
                                                <a href="#">Informes de Productos <span class="fa arrow"></span></a>
                                                <ul class="nav nav-third-level">
                                                    <li id="informelistaprecios">
                                                        <a href="{{ path('listaprecio_informePrecios') }}">
                                                            Informe de Lista de Precios
                                                        </a>
                                                    </li>
                                                    <li id="informestock">
                                                        {% if perfil == 'ADMINISTRADOR' %}
                                                            <a href="{{ path('producto_informeProducto') }}" >
                                                                Informe de Stock de Productos
                                                            </a>
                                                        {% else %}
                                                            <a href="{{ path('producto_dashBoardProducto') }}" >
                                                                Informe de Stock de Productos
                                                            </a>
                                                        {% endif %}
                                                    </li>
                                                    <li id="listaactualizacion">
                                                        <a href="{{ path('listaprecio_actualizacionMasiva') }}" >
                                                            Lista p/actualizaci&oacute;n Masiva (Precios y Stock)
                                                        </a>
                                                    </li>
                                                </ul>
                                                <!-- /.nav-third-level -->
                                            </li>
                                        </ul>
                                        <!-- /.nav-second-level -->
                                    </li>
                                {% endif %}
                                {% if perfil == 'ADMIN' or perfil == 'ADMINISTRADOR' %}
                                    <li>
                                        <a href="#"><i class="fa fa-list-alt fa-fw"></i> Param&eacute;tricas<span class="fa arrow"></span></a>
                                        <ul class="nav nav-second-level">
                                            <li id="banco">
                                                <a href="{{ path('banco') }}">
                                                    Bancos
                                                </a>
                                            </li>                                            
                                            <li id="categoria">
                                                <a href="{{ path('categoria') }}">
                                                    Categor&iacute;as
                                                </a>
                                            </li>                                            
                                            <li id="subcategoria">
                                                <a href="{{ path('subcategoria') }}">
                                                    Subcategor&iacute;as
                                                </a>
                                            </li>
                                            <li id="categoriasubcategoria">
                                                <a href="{{ path('categoriasubcategoria') }}">
                                                    Categor&iacute;a - Subcategor&iacute;a
                                                </a>
                                            </li>
                                            {% if perfil == 'ADMIN' %}
                                            <li id="cotizaciones">
                                                <a href="{{ path('cotizacion') }}">
                                                    Cotizaci&oacute;n
                                                </a>
                                            </li>
                                            {% endif %}
                                            <li id="listaprecio">
                                                <a href="{{ path('listaprecio') }}">
                                                    Lista de Precios
                                                </a>
                                            </li>
                                            <li id="localidad">
                                                <a href="{{ path('localidad') }}">
                                                    Localidades
                                                </a>
                                            </li>         
                                            <li id="metal">
                                                <a href="{{ path('metal') }}">
                                                    Metales
                                                </a>
                                            </li>                                                        
                                            <li id=""provincia>
                                                <a href="{{ path('provincia') }}">
                                                    Provincias
                                                </a>
                                            </li>                                            
                                            <li id="tipocheque">
                                                <a href="{{ path('tipocheque') }}">
                                                    Tipos de Cheques
                                                </a>
                                            </li>                                            
                                            {% if perfil == 'ADMINISTRADOR' %}
                                                <li id="tipogasto">
                                                    <a href="{{ path('tipogasto') }}">
                                                        Gastos
                                                    </a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </li>
                                    {% if ecommerce == 'SI' %}
                                        <li>
                                            <a href="#"><i class="fa fa-cloud fa-fw"></i>Web<span class="fa arrow"></span></a>
                                            <ul class="nav nav-second-level">
                                                <li id="categoria">
                                                    <a href="{{ path('imagen') }}">
                                                        Imagenes
                                                    </a>
                                                </li>                                               
                                            </ul>

                                        </li>     
                                    {% endif %}
                                {% endif %}
                                <li>
                                    <a href="#"><i class="fa fa-lock fa-fw"></i> Seguridad<span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level">
                                        <li id="usuario">
                                            <a href="{{ path('usuario') }}">
                                                Usuarios
                                            </a>
                                        </li>
                                        <li id="usuarioweb" style="display:none;">
                                            <a href="{{ path('usuario_web') }}">
                                                Usuarios Web
                                            </a>
                                        </li>
                                        {% if perfil == 'ADMINISTRADOR' %}	
                                            <li id="unidades">
                                                <a href="{{ path('unidadnegocio') }}">
                                                    Unidades de Negocio
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
            </nav>

            <!-- Page Content -->
            {% if login == 'false' %}
                <div id="page-wrapper" style="margin: 0 0 0 0;">
                {% else %} 
                    <div id="page-wrapper">
                    {% endif %} 
                    <div class="container-fluid">
                        <div class="row-fluid" >
                            {% for flashMessage in app.session.flashbag.get('msgError') %}
                                <div class="span4 offset4" >
                                    <div class="alert alert-block fade in alert-error">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        <h4>{{ flashMessage }}</h4> 
                                    </div>
                                </div>
                            {% endfor %}
                            {% for flashMessage in app.session.flashbag.get('msgWarn') %}
                                <div class="span4 offset4" >
                                    <div class="alert alert-block fade in alert-warning">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        <h4>{{ flashMessage }}</h4>
                                    </div>
                                </div>
                            {% endfor %}
                            {% for flashMessage in app.session.flashbag.get('msgOk') %}
                                <div class="span4 offset4" >
                                    <div class="alert alert-block fade in alert-success">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        <h4>{{ flashMessage }}</h4>
                                    </div>
                                </div>
                            {% endfor %}
                            {% for flashMessage in app.session.flashbag.get('msgInfo') %}
                                <div class="span4 offset4" >
                                    <div class="alert alert-block fade in alert-info">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        <h4>{{ flashMessage }}</h4>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        {% block content %} 

                        {% endblock %} 
                    </div>
                    <!-- /.container-fluid -->
                </div>
                <!-- /#page-wrapper -->
            </div>
        </div>
    </body>

</html>