{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Ajuste de Stock
            </h1>
        </div>
    </div>
    <!--Buscador -->
    <form id="searchForm" action="{{path('producto_ajuste')}}" method="POST">
        <div class="col-md-12" style="margin-bottom: 2%;">
            <div class="col-md-4">
                <input id="busqueda" type="text" value="{{app.session.get('bBusqueda')}}" class="form-control" name="busqueda" placeholder="Código - Descr."/>
            </div>
            {% if perfil == 'ADMINISTRADOR' %}
                <div class="col-md-3" >                
                    <select name="unidadNegocio" id="unidadNegocio">
                        <option value=''>Seleccione una Unidad </option>
                        {% for unidad in unidades%}
                            <option value="{{unidad.id}}">{{unidad.descripcion}}</option>
                        {% endfor %}
                    </select>                
                </div>  
            {% endif %}                  
            <div class="col-md-2">
                <button class="btn btn-success" style="font-size: 18px;" type="submit" >
                    <i class="fa fa-search"></i>
                </button>
                <button class="btn btn-default" style="font-size: 18px;" type="reset" >
                    <i class="fa fa-undo"></i>
                </button>
            </div>
        </div>
    </form>
    <table id="tablaAjusteStock" class="display">
        <thead>
            <tr>
                <th>C&oacute;digo</th>
                <th>Descripci&oacute;n</th>
                    {% if perfil =='ADMINISTRADOR' %}
                    <th>Unidad de Negocio</th>
                    {% endif %}
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.codigo }}</td>
                    <td><a href="{{ path('producto_show', { 'id': entity.id }) }}">{{ entity.descripcion }}</a></td>
                        {% if perfil =='ADMINISTRADOR' %}
                        <td>{{ entity.unidadNegocio|default('Sin Unidad de Negocio') }}</td>
                    {% endif %}
                    <td>
                        <a style="display: block;" class="nombreStock" href="#" id="username{{ entity.id }}" onclick="cambio({{ entity.id }})" >{{ entity.stock }}</a>
                        <form method="post" style="display: none;" class="formStock" id="form{{ entity.id }}" action="{{ path('producto_stock', { 'id': entity.id }) }}" >
                            <input step="0.01" class="form-control" type="number"  required name="stock{{ entity.id }}" id="stock{{ entity.id }}" value="{{ entity.stock }}"/>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="col-sm-12">
        {{ pagerfanta( entities, "twitter_bootstrap_translated", { 'prev_message' : 'Anterior', 'next_message': 'Siguiente',"routeParams": {'busqueda':app.session.get('bBusqueda'),'unidadNegocio':app.session.get('bUnidadNegocio')}} ) }}
    </div>     

    <script>
        $('document').ready(function () {
            $('td').css('padding', '2px');
            var unidadNegocio = "{{app.session.get('bUnidadNegocio')}}";
            $('#unidadNegocio').val(unidadNegocio).change();

            $('#busqueda').focus();

            $('.pagination a').attr('class', 'btn btn-default');
            $('.pagination li').css('float', 'left');
            $('.pagination').css('width', '100%');
            $('.pagination .active a').prop('class', 'btn btn-info');



            table = $('#tablaAjusteStock').DataTable({
                "scrollY": "380px",
                "scrollCollapse": true,
                "paging": false,
                "info": false,
                responsive: true,
                "filter": false,
                "aaSorting": [], //Para evitar el ordenamiento por defecto de DataTables

                "oLanguage": {
                    "sSearch": "Buscar:"
                }
            });
        });

        function cambio(id) {
            var nombre = '#username' + id;
            var form = '#form' + id;

            $('.formStock').css("display", "none");
            $('.nombreStock').css("display", "block");

            $(nombre).css("display", "none");
            $(form).css("display", "block");
        }

        $('.foco').focus();
    </script>
{% endblock %}
