{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}
    <div class="row">
        <div class="col-lg-12">
            <h1 > Dash Board de Productos </h1>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <div class="huge">{{totalCosto|number_format(2, ',', '.')}}</div>
                        <div>Costo Total ($)</div>
                    </div>
                </div>
            </div>
            <a href="{{ path('producto_detalle_costo',{ 'unidad': unidad }) }}">
                <div class="panel-footer">
                    <span class="pull-left">Ver Detalle</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <div class="huge">{{totalPlata|number_format(2, ',', '.')}}</div>
                        <div>Plata en Stock por Mercader&iacute;a (gr)</div>
                    </div>
                </div>
            </div>
            <a href="{{ path('producto_detalle_plata',{ 'unidad': unidad }) }}">
                <div class="panel-footer">
                    <span class="pull-left">Ver Detalle</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>      
    <div class="col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <div class="huge">{{totalOro|number_format(2, ',', '.')}}</div>
                        <div>Oro en Stock por Mercader&iacute;a (gr)</div>
                    </div>
                </div>
            </div>
            <a href="{{ path('producto_detalle_oro',{ 'unidad': unidad }) }}">
                <div class="panel-footer">
                    <span class="pull-left">Ver Detalle</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>     
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <div class="huge">{{totalUnidades|number_format(0, ',', '.')}}</div>
                        <div>Total de Unidades</div>
                    </div>
                </div>
            </div>
            <a href="{{ path('producto_detalle_unidades',{ 'unidad': unidad }) }}">
                <div class="panel-footer">
                    <span class="pull-left">Ver Detalle</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>   

</div>            
{% endblock %}
