{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}
    <div class="row">
        <div class="col-lg-12">
            <h1 >
                Productos
                {% if perfil == 'ADMIN' or perfil == 'ADMINISTRADOR' %}
                    <a style="float:right;" class="btn btn-default" href="{{ path('producto_new') }}">
                        Crear
                    </a>
                {% endif %}
            </h1>
        </div>
    </div>
    <!--Buscador -->
    <form id="searchForm" action="{{path('producto')}}" method="POST">
        <div class="col-md-12" style="margin-bottom: 2%;">
            <div class="col-md-5">
                <input id="busqueda" type="text" value="{{app.session.get('bBusqueda')}}" class="form-control" name="busqueda" placeholder="Código - Descr."/>
            </div>
            {% if perfil == 'ADMINISTRADOR' %}
                <div class="col-md-5" >                
                    <select name="unidadNegocio" id="unidadNegocio">
                        <option value=''>Seleccione un Unidad de Negocio</option>
                        {% for unidad in unidades%}
                            <option value="{{unidad.id}}">{{unidad.descripcion}}</option>
                        {% endfor %}
                    </select>                
                </div>  
            {% endif %}

            <div class="col-md-2">
                <button class="btn btn-success" style="font-size: 18px;" type="submit" >
                    <i class="fa fa-search"></i>
                </button>
                <button class="btn btn-default" style="font-size: 18px;" type="reset" >
                    <i class="fa fa-undo"></i>
                </button>
            </div>
        </div>
    </form>


    <table id="tablaProducto" class="display">
        <thead>
            <tr>
                <th>C&oacute;digo</th>
                <th>Metal</th>                
                <th>Cate. - Subcate.</th>
                <th>Descripci&oacute;n</th>
                <th>Stock</th>
                    {% if perfil == 'ADMINISTRADOR' %}							
                    <th>Unidad</th>
                    {% endif %}
                    {% if perfil == 'ADMIN' or perfil == 'ADMINISTRADOR'%}
                    <th>Costo</th>
                    <th>Acciones</th>
                    {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.codigo }}</td>
                    <td>{{ entity.categoriasubcategoria.metal|default('SIN METAL') }}</td>
                    <td>{{entity.categoriasubcategoria.categoria|default('OTROS') ~' ' ~ entity.categoriasubcategoria.subcategoria|default('')   }}</td>
                    <td><a href="{{ path('producto_show', { 'id': entity.id }) }}">{{ entity.descripcion }}</a></td>
                    <td>{{ entity.stock }}</td>
                    {% if perfil == 'ADMINISTRADOR' %}							
                        <td>{{ entity.unidadNegocio }}</td>
                    {% endif %}
                    {% if perfil == 'ADMIN' or perfil == 'ADMINISTRADOR' %}
                        {% if entity.moneda == 1 %}                                           
                            {% if entity.tipoStock == 'U'%}
                                {% set costo = (entity.costo + (entity.oro|default(0) * cotizacion.oro) + (entity.plata|default(0) * cotizacion.plata)+ (entity.quilate|default(0) * cotizacion.quilate * cotizacion.dolar))|round(2)|default('0') %}
                            {% elseif entity.tipoStock == 'P' %}                                                                                
                                {% set costo = (entity.costo + cotizacion.plata)|round(2)|default('0')  %}
                            {% else %}
                                {% set costo = (entity.costo + cotizacion.oro)|round(2)|default('0')  %}
                            {% endif %}    
                        {% else %}                                   
                            {% if entity.tipoStock == 'U'%}                                               
                                {% set costo = ((entity.costo ) + (entity.oro * cotizacion.oro/ cotizacion.dolar) + (entity.plata * cotizacion.plata/ cotizacion.dolar)+(entity.quilate * cotizacion.quilate))|round(2)|default('0')  %}
                            {% elseif entity.tipoStock == 'P' %}                                                                                                                        
                                {% set costo = (entity.costo  * cotizacion.dolar) |round(2)|default('0')  %}                                        
                            {% else %}                                        
                                {% set costo = (entity.costo * cotizacion.dolar * entity.stock ) |round(2)|default('0')  %}
                            {% endif %}   
                        {% endif %}
                        {% if show_costo == 'US' and entity.moneda == 1%}
                            {% set costo = (costo / cotizacion.dolar ) |round(2)|default('0')  %}
                        {% endif%}
                        {% if show_costo == 'ARG' and entity.moneda == 2%}
                            {% set costo = (costo * cotizacion.dolar ) |round(2)|default('0')  %}
                        {% endif%}
                        <td> 
                            {% if show_costo == 'US'%}
                                u$s
                            {%else%}
                                $
                            {%endif%} 
                            <span  title=" {% if entity.costo > 0 %}Hech: {{ entity.monedaSimbolo }} {{ entity.costo }} , {%endif%}{% if entity.plata > 0 %}Plata: {{ entity.plata }}, {%endif%}{% if entity.oro > 0 %}Oro: {{ entity.oro }}, {%endif%}{% if entity.quilate > 0 %}Quilate: {{ entity.quilate }}{%endif%}">{{ costo }} </span>                                    
                        </td>
                        <td>
                            <a class="btn btn-xs btn-default" href="{{ path('producto_edit', { 'id': entity.id }) }}"  title="Editar"><i class="fa fa-pencil"></i></a>
                                {% if entity.precios|length >0 %}    
                                <a class="btn btn-xs btn-success" href="{{ path('precio', { 'idProducto': entity.id }) }}"  title="Tiene Algun Precio Asignado"><i class="fa fa-dollar"></i></a>
                                {% else %}    
                                <a class="btn btn-xs btn-default" href="{{ path('precio', { 'idProducto': entity.id }) }}"  title="No tiene Precio Asignado Aun"><i class="fa fa-dollar"></i></a>                                    
                                {% endif %}    

                            <button class="btn btn-xs btn-default codigo" data-toggle="modal" data-target="#modal{{entity.id}}" title="Generar Barras">
                                <i class="fa fa-barcode"></i>
                            </button>
                            {% if perfil in ['ADMIN','ADMINISTRADOR'] %}
                                <a class="btn btn-xs btn-danger" href="{{ path('producto_delete', { 'id': entity.id }) }}"  title="Eliminar" style="margin-left: 10px"><i class="fa fa-times"></i></a>
                                {% endif %}
                            <!-- /.modal -->
                            <div class="modal fade" id="modal{{entity.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">Generar C&oacute;digo de barras - "{{entity.codigo}}"</h4>
                                        </div>
                                        <div class="modal-body">                                                    
                                            <img src="{{ asset('barcode/html//image.php?filetype=PNG&dpi=72&scale=1&rotation=0&font_family=Arial.ttf&font_size=8&text=' ~ entity.codigo ~ '&thickness=20&checksum=&code=BCGcode128') }}" alt="Barcode Image"/>
                                        </div>
                                        <div class="modal-footer" style="margin-top: 1%;">
                                            <button type="button" class="btn btn-default" onclick="cantidad('{{entity.codigo}}');">Imprimir</button>
                                            <a href="{{ asset('barcode/html//image.php?filetype=PNG&dpi=72&scale=1&rotation=0&font_family=Arial.ttf&font_size=8&text=' ~ entity.codigo ~ '&thickness=20&checksum=&code=BCGcode128') }}" type="button" class="btn btn-default" download="Barras - {{ entity.codigo }}">Descargar</a>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                            <!-- /.modal -->
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="col-sm-12">
        {{ pagerfanta( entities, "twitter_bootstrap_translated", { 'prev_message' : 'Anterior', 'next_message': 'Siguiente',"routeParams": {'busqueda':app.session.get('bBusqueda'),'unidadNegocio':app.session.get('bUnidadNegocio')}} ) }}
    </div>   

    <script>
        $('document').ready(function () {
            $('.codigo').removeClass('btn-success');
            var unidadNegocio = "{{app.session.get('bUnidadNegocio')}}";
            $('#unidadNegocio').val(unidadNegocio).change();

            $('#busqueda').focus();

            $('.pagination a').attr('class', 'btn btn-default');
            $('.pagination li').css('float', 'left');
            $('.pagination').css('width', '100%');
            $('.pagination .active a').prop('class', 'btn btn-info');

            var perfil = '{{perfil}}';
            if (perfil == 'ADMINISTRADOR') {
                columna = 7;
            } else if (perfil == 'ADMIN') {
                columna = 6;
            } else {
                columna = 4;
            }

            $('td').css('padding', '2px');
            table = $('#tablaProducto').DataTable({
                "scrollY": "380px",
                "scrollCollapse": true,
                "paging": false,
                "info": false,
                responsive: true,
                "filter": false,
                "aaSorting": [], //Para evitar el ordenamiento por defecto de DataTables
                "columnDefs": [{
                        "targets": columna,
                        "orderable": false
                    }],
                "oLanguage": {
                    "sSearch": "Buscar:"
                }
            });

        });

        function cantidad(cod) {
            window.location.href = '{{ path('producto_imprimirCodigo') }}?num=21&cod=' + cod;
        }

    </script>
{% endblock %}
