{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Clientes / Proveedores
                <a style="float:right;" class="btn btn-default" href="{{ path('clienteproveedor_new') }}">
                    Crear
                </a>
            </h1>
        </div>        
    </div>
    <!--Buscador -->
    <form id="searchForm" action="{{path('clienteproveedor')}}" method="POST">
        <div class="col-md-12" style="margin-bottom: 2%;">
            <div class="col-md-4" >
                <input class="form-control" type="text" name="buscador" placeholder="Buscar por Raz&oacute;n Social / E-mail" value="{{app.session.get('bBuscador')}}" >
            </div>           
            {% if perfil == 'ADMINISTRADOR' %}
                <div class="col-md-3" >                
                    <select name="unidadNegocio" id="unidadNegocio">
                        <option value=''>Seleccione una Unidad </option>
                        {% for unidad in unidades%}
                            <option value="{{unidad.id}}">{{unidad.descripcion}}</option>
                        {% endfor %}
                    </select>                
                </div>  
            {% endif %}

            <div class="col-md-3" >                
                <select class="form-control" name="clienteProveedor" id="clienteProveedor" >                    
                    <option value=''>Clientes y Proveedores</option>
                    <option value="1">Clientes</option>
                    <option value="2">Proveedores</option>                   
                </select>                
            </div>                           
            <div class="col-md-2">
                <button class="btn btn-success" style="font-size: 18px;" type="submit" >
                    <i class="fa fa-search"></i>
                </button>
                <button class="btn btn-default" style="font-size: 18px;" type="reset" >
                    <i class="fa fa-undo"></i>
                </button>
            </div>
        </div>
    </form>


    <table id="tablaClienteProveedor" class="display">
        <thead>
            <tr>
                <th>Raz&oacute;n Social</th>
                <th>Mail</th>
                <th>Cliente/Proveedor</th>
                    {% if perfil == 'ADMINISTRADOR' %}
                    <th>Unidad de Negocio</th>
                    {% endif %}
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a title="Cuenta Corriente" href="{{ path('clienteproveedor_show', { 'id': entity.id }) }}">{{ entity.razonSocial }}</a></td>
                    <td>{{ entity.mail }}</td>
                    <td>{{ entity.clienteProveedorStr }}</td>
                    {% if perfil == 'ADMINISTRADOR' %}
                        <td>{{ entity.unidadNegocio }}</td>
                    {% endif %}
                    <td>
                        <a class="btn btn-default" title="Cuenta Corriente" href="{{ path('clienteproveedor_cc', { 'id': entity.id }) }}">C/C</a>
                        <a title="Editar" class="btn btn-default" href="{{ path('clienteproveedor_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="col-sm-12">
        {{ pagerfanta( entities, "twitter_bootstrap_translated", { 'prev_message' : 'Anterior', 'next_message': 'Siguiente',"routeParams": {'clienteProveedor':app.session.get('bClienteProveedor'),'unidadNegocio':app.session.get('bUnidadNegocio'),'buscador':app.session.get('bBuscador')}} ) }}
    </div> 
    <script>

        $('.pagination a').attr('class', 'btn btn-default');
        $('.pagination li').css('float', 'left');
        $('.pagination').css('width', '100%');
        $('.pagination .active a').prop('class', 'btn btn-info');

        $('document').ready(function () {
            var unidadNegocio = "{{app.session.get('bUnidadNegocio')}}";
            $('#unidadNegocio').val(unidadNegocio).change();

            var clienteproveedor = "{{app.session.get('bClienteProveedor')}}";
            $('#clienteProveedor').val(clienteproveedor).change();

            $('td').css('padding', '2px');
            var perfil = '{{perfil}}';
            if (perfil == 'ADMINISTRADOR') {
                columna = 4;
            } else if (perfil == 'ADMIN') {
                columna = 3;
            } else {
                columna = null;
            }
            table = $('#tablaClienteProveedor').DataTable({
                "scrollY": "380px",
                "scrollCollapse": true,
                "paging": false,
                "info": false,
                responsive: true,
                "filter": false,
                "aaSorting": [], //Para evitar el ordenamiento por defecto de DataTables   
                "columnDefs": [{
                        "targets": columna,
                        "orderable": false
                    }],
                "oLanguage": {
                    "sSearch": "Buscar:"
                }
            });
        });
    </script>
{% endblock %}
