{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
    <h1>Creaci&oacute;n de Cliente/Proveedor</h1>

    <div class="joyas-container" style="width: 50% !important; margin: 0 auto;">
        <div class="container">
            {{ form_start(form) }}
            

            {% if perfil == 'ADMINISTRADOR' %}			
                <div>
                    <label>Unidad de Negocio</label>
                    <select name="unidadnegocio">
                        {% for unidad in unidades %}
                            <option value="{{ unidad.id }}">{{ unidad.descripcion }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}	
             {{ form_row(form.razonSocial) }}
             {{ form_row(form.provincia) }}
            <div>
                <label for="localidad" class="required" style="font-weight: bold;">Localidad</label>    
                <select name="localidad" id="loc" >
                    <option value="">Seleccione una Localidad</option>
                    {% for localidad in localidades%}
                        <option value="{{ localidad.id }}" class="{{ localidad.provincia.id }}">{{ localidad.descripcion }}</option>
                    {% endfor %}
                </select>  
            </div>
           
            <div class='hidden'>   
                {{ form_row(form.localidad) }}
            </div>
            
            {{ form_end(form) }}		
            <a id="volver" class="btn btn-default" href="{{ path('clienteproveedor') }}">
                Volver
            </a>
        </div>
    </div>
    <script>

        $(document).ready(function () {
            $("#loc").change(function () {
                $('#joyas_joyasbundle_clienteproveedor_localidad').val($(this).val());
                $('#joyas_joyasbundle_clienteproveedor_localidad').change();
            });
            $("#joyas_joyasbundle_clienteproveedor_provincia").change(function () {
                var selectProvincia = $(this);
                $("#localidad option").each(function (index) {
                    $(this).removeClass('out');
                    $(this).removeClass('mostrar');
                    if ($(this).hasClass($(selectProvincia).val())) {
                        $(this).addClass('mostrar');
                    } else {
                        $(this).addClass('out');
                    }
                });
                $('.out').toggle(false);
                $('.mostrar').toggle(true);
            });
            $('#joyas_joyasbundle_clienteproveedor_provincia').change();

            $("input").attr('class', 'form-control');
        });
        
    </script>
{% endblock %}
