{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}

    <h1>
        {% if entity.clienteProveedor == 1  %}
            Cliente "{{ entity.razonSocial }}"
        {% else  %}
            Proveedor "{{ entity.razonSocial }}"
        {% endif %}
    </h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Razon Social</th>
                <td>{{ entity.razonSocial }}</td>
            </tr>
            <tr>
                <th>Provincia</th>
                <td>{{ entity.localidad.provincia|default('Sin Provincia') }}</td>
            </tr>
            <tr>
                <th>Localidad</th>
                <td>{{ entity.localidad|default('Sin Localidad') }}</td>
            </tr>            
            <tr>
                <th>Direcci&oacute;n</th>
                <td>{{ entity.direccion|default('Sin Direcci&oacute;n') }}</td>
            </tr>

            <tr>
                <th>Tel&eacute;fono</th>
                <td>{{ entity.telefono|default('Sin Tel&eacute;fono') }}</td>
            </tr>
            <tr>
                <th>Celular</th>
                <td>{{ entity.celular|default('Sin Celular') }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ entity.mail|default('Sin Mail') }}</td>
            </tr>
            <tr>
                <th>Cuit</th>
                <td>{{ entity.cuit|default('Sin Cuit') }}</td>
            </tr>            
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a class="btn btn-default" href="{{ path('clienteproveedor') }}">
                Volver
            </a>
        </li>
    </ul>
    <script>
        // activarActionsTab('clienteproveedor');
    </script>

{% endblock %}
