<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Editar estado de la imagen - {{imagen.path}}</h4>
            </div>
            <div class="modal-body">
                <img src="{{asset('uploads/documents/'~imagen.id~'.'~imagen.extension)}}" alt="La Imagen no esta disponible" class="img-responsive" />                
            </div>
            <div class="modal-footer" style="margin-top: 1%;">   
                {% if imagen.activo %}
                    <a href="{{ path('imagen_update', {'id': imagen.id, 'activo': '0'})}}" class="btn btn-danger" role="button">Inactivar Imagen</a>
                {% else %}
                    <a href="{{ path('imagen_update', {'id': imagen.id, 'activo': '1'})}}" class="btn btn-success" role="button">Activar Imagen</a>
                {% endif %}
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
