{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}
    <div id="modalVistaImagen"></div>
    <h1 style="margin-bottom:10px;">
        Im&aacute;genes de Portada Web
        <a style="float: right;" class="btn btn-default" href="{{ path('imagen_new') }}">
            Crear
        </a>
    </h1>
    <table id="tablasr" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre Imagen</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.id }}</td>
                    <td>{{ entity.path }}</td>
                    <td>
                        {{entity.estadoString}}
                    
                    </td>
                    <td>
                        {% if entity.estado == 'I'%}
                            <a class="btn btn-success"  href="{{path('imagen_update',{'id': entity.id,'estado':'A'})}}" title="Activar">
                                <i class="fa fa-check"></i>
                            </a>
                        {% else %}
                            <a class="btn btn-danger"  href="{{path('imagen_update',{'id': entity.id,'estado':'I'})}}" title="Inactivar">
                                <i class="fa fa-times"></i>
                            </a>
                        {% endif %}
                        <a class="btn btn-default"  href="{{path('imagen_show',{'id': entity.id})}}"><i class="fa fa-search"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>         
    <script>

        $(document).ready(function () {
            $('#tablasr').DataTable({
                "scrollY": '50vh',
                "scrollCollapse": true,
                "paging": false,
                "info": false,
                "responsive": true,
                "filter": true,
                "order": [[0, "asc"]],
                "oLanguage": {
                    "sSearch": "Buscar:"
                }
            });
                       
        });
    </script>                
{% endblock %}

