{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
    <h1>Creaci&oacute;n de Categor&iacute;a</h1>

    <div class="joyas-container" style="width: 50%; margin: 0 auto;">
        <div class="container">
            {{ form_start(form) }}
            {{ form_row(form.descripcion) }}
            {% if ecommerce == 'SI'%}
                {{ form_row(form.sinonimo) }}            
            {% else %}
                <div style="display: none">
                    {{ form_row(form.sinonimo) }}            
                </div>
            {% endif%}
            {{ form_row(form.estado) }}
            {{ form_row(form.submit) }}
            <a class="btn btn-default" href="{{ path('categoria') }}">
                Volver
            </a>
            {{ form_end(form) }}	
        </div>
    </div>

{% endblock %}
